[2019-05-23 02:01] carmacleod commented on #191
Reading again, I see that @melanierichards' comment in https://github.com/w3c/aria/issues/699#issuecomment-429053889 also applies to span:

[2019-05-23 02:19] scottaohara commented on #191
Thanks for getting this going @carmacleod

think this will be related to the local draft I have started for [151](https://github.com/w3c/html-aam/issues/151#issuecomment-488741627)

[2019-05-23 02:54] carmacleod commented on #191
Hi, @scottaohara . I had just discovered #151 a few minutes ago, and I have been trying to figure out what the mappings are for span if it is "semantically interesting" (i.e. if it has tabindex, etc).
@joanmarie says ATK maps to ATK_ROLE_STATIC.
UIA seems to map to Control Type: Group.
Not sure what MSAA/IA2 map to.

Anyhow, just wondering if the same div-preamble would be useful for span as well.

[2019-05-23 06:37] joanmarie commented on #191
In the case of ATK, we would want to preserve the existing role (ATK_ROLE_SECTION) for divs which are exposed.

[2019-05-23 11:37] carmacleod commented on #191
Hi @joanmarie . The table entry for ATK `div` would stay the same, i.e. it would still say the following:

It's the entry for `span` that would change from "Not mapped" to:

Is that ok? Would you want the text interface(s) for span as well?

[2019-05-23 14:04] scottaohara commented on #191
I was going down the route of adding "ATK_ROLE_STATIC (if mapped)" but I'm fine with what you're proposing for now:

Per 151, that preamble would need to be added to other elements that this change would apply to.   but i'll take care of that to close that issue

[2019-05-23 14:46] scottaohara opened #195 "Cleanup: update linking to HTML spec"
Follow up issue to #193, we need to update the link references to the various HTML elements and attributes.

This can largely be taken care of when pushing changes for other issues.  But use this issue as a reminder to get it done.

[2019-05-23 15:27] carmacleod commented on #191
I leave this in your capable hands.  :)
Feel free to either merge or close https://github.com/w3c/html-aam/pull/192.

[2019-05-23 21:53] stevefaulkner opened #196 "a element exposed as link regardless of whether a href is present"
in firefox/chrome on windows(other browsers not checked yet) the `<a>` element without a `href` still has a `role=link`.
@joanmarie is this the case in linux browsers
@scottaohara what about Mac?
[test file](https://thepaciellogroup.github.io/AT-browser-tests/test-files/a-no-href.html)

[2019-05-23 21:58] scottaohara commented on #196
@stevefaulkner reports as AXStaticText when checking Safari

checking chrome's computed properties panel, it has a role of "Anchor" where an `a href` has a role of "Link"

[2019-05-27 09:41] joanmarie commented on #191
The thing is, it's not just semantic meaning that can cause an element to need to be exposed in the accessibility tree. If an author puts a `tabindex` on a `span`, that's sufficient to require an accessible object. But I would argue there's no semantic meaning associated with that `span`.

If anything, I would update the text for `div` to be more in line with what I propose for `span` and friends.

[2019-05-27 09:46] joanmarie commented on #191
Regarding the language above, I personally would prefer the language I stated, but like you I'll leave it up to @scottaohara.

Regarding the interfaces: *Any* element which exposes text needs to implement AtkText. Any element which has children needs to also implement AtkHypertext.

[2019-05-27 14:15] carmacleod commented on #191
Ok, although my thinking was that adding `tabindex` (or any other event handling) gave the element "semantic meaning"... because now it's an "interactive thing". Similarly, I figured that the target of a relation attribute could be considered to have semantics, because it's "the thing that gives the description", or "the thing that is owned", etc. (And so on, for the other global aria attributes).

[2019-05-28 13:28] joanmarie commented on #191
It makes me feel like the spec is "too fuzzy". :)

That's fair. :) But the answer to "why it's mapped" might NOT be "because some spec says it needs to be mapped as a result of X or Y" or "because it has semantic meaning" or "because it's focusable." Instead, the answer might be something like "Because it's too big a change to remove it, and there's not a spec statement prescribing that we MUST ex

[2019-06-03 11:59] scottaohara opened #203 "Tables scripts broken in published draft"
The table / disclosure widget script no longer works in the published draft:
[section 4.4 table/listing of elements is missing](https://www.w3.org/TR/html-aam-1.0/#html-element-role-mappings).  If you look at the DOM, the table is there but set to display none.

[table / disclosure widget script continues to work in editors draft](https://w3c.github.io/html-aam/#html-element-role-mappings)

cc @ma

[2019-06-03 14:05] scottaohara commented on #203
closed by  #204

[2019-06-03 19:00] scottaohara commented on #45
Noting Core-AAM issue now exists at [Add conditional platform mappings for nameless forms #11](https://github.com/w3c/core-aam/issues/11)

[2019-06-05 20:04] scottaohara commented on #188
Initial work done to remove menuitem types from the spec.  Still need to review `menu`

[2019-06-06 20:06] scottaohara opened #205 "Outline naming for contendediable elements"
From @dd8, originally posted in #160:

https://www.w3.org/WAI/GL/wiki/Using_aria-label_to_provide_an_invisible_label#Example_1:_A_quiz_using_divs_set_to_contentEditable

https://html.spec.whatwg.org/multipage/interaction.html#attr-contenteditable

---

As this is a global attribute, which I've raised [an issue about clarifying why, on the HTML spec](https://github.com/whatwg/html/issues/4577), the

[2019-06-07 08:29] dd8 commented on #160
Another edge case - the `title` attribute on `link` elements specifies a stylesheet name that's used to name a stylesheet set. Should `link` allow `aria-label` ? This is displayed in the UI of some browsers - the *Page Style* menu item on Firefox and some versions of IE.

[code]

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link#attr-title

[2019-06-07 16:24] carmacleod commented on #160
Here's some data for "aria-label[ledby] on div/span with no role" in the wild.
Attribution and appreciation to [Majestic Million](https://blog.majestic.com/development/majestic-million-csv-daily/) for their list of the top million websites!
I only scanned the first 20,000 URLs because it was taking about a half-hour per 1000 sites.
I also only kept start tags so that the output would be legible; c

[2019-06-07 16:54] scottaohara commented on #160
Thanks for this @carmacleod

Per the ARIA WG meeting yesterday, it seems consensus has moved to `div`, `span` and the new generic role should prohibit use of `aria-label` and labelledby.  While it does work well in certain instances, it's erratic in others.  And even in the instances where it does work correctly, there are better ways those could be marked up.

e.g.
[code]
should just be
[code]

s

[2019-06-07 19:32] scottaohara commented on #160
@dd8 presently [`<link href>` doesn't accept roles or global aria-* attributes](https://w3c.github.io/html-aria/#link-href), nor does adding an `aria-label` to one appear to do anything in Firefox.

[2019-06-07 20:41] dd8 commented on #160
@scottaohara Yep - just flagged it up as an edge case. It's unlike everything else ARIA applies to because it's exposed through the browser UI and not through the document - although it's arguably like the `<title>` element in that respect.

[2019-06-07 20:44] scottaohara commented on #160
though the `title` element also [shouldn't have ARIA](https://w3c.github.io/html-aria/#el-title) applied to it :)

[2019-06-09 20:13] scottaohara commented on #190
Making note here but could be another issue, the details/summary & table script needs to be revised from jQuery to vanilla JS so we can remove the jQuery dependency from the repo as well.

[2019-06-09 20:16] scottaohara commented on #155
closing this per the maintenance work being done to get this repo aligned with other WebApp WG specs.

Thanks!

[2019-06-09 20:16] #155 closed, assigned to nobody

[2019-06-10 21:05] #129 closed, assigned to scottaohara

[2019-06-12 14:36] zcorpan opened #209 ""Other form elements" doesn't say to use all associated label elements"
The earlier section on `input` says

This wording should be used for "other form elements" as well.

[2019-06-12 14:37] zcorpan opened #210 "Clarify "Other form elements""
Which elements are considered to be "Other form elements"?

[2019-06-12 14:39] zcorpan commented on #210
I *think* this could use this definition
https://html.spec.whatwg.org/multipage/forms.html#category-label

[2019-06-12 14:56] zcorpan opened #211 "Order of "Submit Query" vs title attribute for <input type=image>"
https://w3c.github.io/html-aam/#input-type-image-accessible-name-computation

This considers the `title` attribute before using the string "Submit Query".

But for `<input type=submit>` https://w3c.github.io/html-aam/#input-type-button-input-type-submit-and-input-type-reset-accessible-name-computation

the order is reversed, so "submit" is used even if there is a `title` attribute.

Should these b

[2019-06-12 15:00] zcorpan opened #212 "<summary> - should "Details" be localized?"
https://w3c.github.io/html-aam/#summary-element-accessible-name-computation

This doesn't say to localize "Details", unlike other places in the spec.

[2019-06-12 16:32] scottaohara commented on #211
Hi @zcorpan,

For the `input type=image` the `title` can serve as fallback accessible name for the image if there is not alt, just like standard images. This trumps the user agent provided "Submit Query" or "Submit" from being used, and the `title` can also be the fallback text printed to screen if the image were to not load.

For the `input type=submit`, if no `value` is set, the "Submit Query" o

[2019-06-12 17:17] scottaohara commented on #212
Good point.  This text should also be update to clarify that the fallback string from the UA only appears if the `details` is lacking a `summary` all together.  As an empty `<summary></summary>` does not produce "details"

[2019-06-12 19:54] zcorpan commented on #211
The HTML spec doesn't allow the `title` attribute to be rendered as alternative text for `input type=image`.

https://html.spec.whatwg.org/multipage/rendering.html#images-3

(This also doesn't say to use "Submit Query" in the rendering, but that may be a bug in HTML. It does say to use something for `type=submit`.)

Anyway, it's still not clear to me if the difference is intentional, and if it is,

[2019-06-12 21:00] scottaohara commented on #211
@zcorpan

Safari, Chrome and Edge/Chromium all print the title's text as fallback content if no `alt` is provided.  Maybe the HTML spec should be revised to match what the majority of browsers are doing?

IE11 / pre-Chromium Edge do not render any text for a broken image, but do get their accessible name from the title attribute.  These results obviously being less relevant these days.

Firefox is

[2019-06-12 21:38] zcorpan commented on #211
Woah. I didn't know those browsers did that. I'll raise an issue for HTML. Thanks.

[2019-06-12 21:46] scottaohara commented on #211
To round out the response, as i realize I didn't address your last question about

Beyond matching what most browsers are doing, in the event an image isn't broken `title` would still take precedence over the UA default text being used, which Firefox does respect (test 13).

With all this said, I'm now wondering if there might be a better way to word the algorithm so that this is more clear.

Than

[2019-06-13 07:48] zcorpan commented on #211
I have ideas for how to make accname and html-aam clearer in general, but it would involve basically a complete rewrite. :-)

[2019-06-14 11:11] #141 closed, assigned to nobody

[2019-06-17 14:24] carmacleod commented on #191
@scottaohara @joanmarie

I'm fine with having " (if mapped)" appended to the platform role for all span-ish and div-ish elements (and remove the preamble); ... so @scottaohara can finish https://github.com/w3c/html-aam/issues/151.  :)

However, I'd like to add a new bullet to the [HTML AAM Element Role Mappings](https://w3c.github.io/html-aam/#html-element-role-mappings) Notes, right after the bul

[2019-06-17 15:37] scottaohara commented on #188
Note: [`<menu>`](https://html.spec.whatwg.org/#the-menu-element) should map to `role="list"` per the Living Standard definition.

Per the note in the `menu` definition:

[2019-06-17 19:27] joanmarie commented on #191
@carmacleod What's an example of "space optimization"?

Also, your proposed definition of "if mapped" seems to emphasize the exclusion and not give enough emphasis on inclusion.

What about tweaking it to something like:

* "If mapped" means the element is conditionally exposed in the accessibility tree. User agents MUST map the element if it is interactive or has semantic meaning. User agents MAY

[2019-06-17 19:45] carmacleod commented on #191
@joanmarie

I like it - it's perfect. Thank-you! It even nudges the user agents along towards a semblance of mapping parity with the normative MUST in there.

(for "space optimization", I was thinking along the lines of optimizing memory use, i.e. if the a11y tree got too big, that could affect performance. However, your phrase "implementation-specific reasons" covers all of that stuff - nice!).

[2019-06-17 19:57] carmacleod commented on #151
Would need to add "if mapped" for all `div`esque elements as well (including removing the "May not have accessible object" preamble).

Please see @joanmarie's https://github.com/w3c/html-aam/issues/191#issuecomment-502818575 for a short definition of "if mapped" that can be added as a new bullet to the [HTML AAM Element Role Mappings](https://w3c.github.io/html-aam/#html-element-role-mappings) Not

[2019-06-17 19:59] carmacleod commented on #191
Closing this issue as it has been completely superseded by #151.

[2019-06-17 19:59] #191 closed, assigned to nobody

[2019-06-24 14:44] mmeller75 commented on #179
Curious why this was closed. I was going to ask the same question. My understanding of the accessible name computation, which corresponds to how I've seen accessible names calculated by browsers, is that content should fall between ARIA labels and `title`. Looking at equivalent ARIA roles, they all accept name from content.

[2019-06-27 21:37] zcorpan commented on #212
cc @spectranaut

[2019-06-27 21:38] zcorpan commented on #211
cc @spectranaut

[2019-06-27 21:38] zcorpan commented on #210
cc @spectranaut

[2019-06-27 21:38] zcorpan commented on #209
cc @spectranaut

[2019-06-28 08:37] #212 closed, assigned to scottaohara

[2019-07-09 16:57] joanmarie opened #218 "ATK mappings for ins and del need to be updated"
https://github.com/w3c/html-aam/issues/141 added mappings for ATK, however there are a couple of issues:

1. There is no attribute included to identify that the ATK_ROLE_SECTION is an insertion or deletion. In order to be consistent with what has been done for other elements which have corresponding ARIA roles, I propose adding `xml-roles:insertion` for `ins` and `xml-roles:deletion` for `del`. Th

[2019-07-09 18:20] joanmarie commented on #218
Went ahead and did the pull request just in case. If you disagree, we can close it.

[2019-07-09 20:40] scottaohara commented on #218
Hey @joanmarie. 2 prs are fine with me. The second can be noted as not ready for merge until the time is right.

[2019-07-10 01:18] marcoscaceres opened #220 "Update Pull Request Template to reflect implementers"
Right now, the pull request template lists a bunch of web engines as potential implementers of this spec... however, assistive technologies are also able to implement this spec, so it would be prudent to add them to the template.

So, could the community here help us identify implementers, help us file bugs on implementations, and track implementation commitments?

[2019-07-10 01:19] marcoscaceres commented on #220
This is the template: https://github.com/w3c/html-aam/blob/gh-pages/.github/PULL_REQUEST_TEMPLATE.md

[2019-07-10 08:54] stevefaulkner commented on #220
Hey @marcoscaceres, while it is possible for AT to implement the spec independently of browsers it is not the intention and I do not know of any that do or are planning to. AT are consumers of the information exposed by browser via the acc API's

[2019-07-10 09:00] marcoscaceres commented on #220
I see (I don't actually... as I've no idea how this specs works or who is supposed to use this spec 🤪) - so what should the template actually look like?

From https://github.com/w3c/html-aam/pull/219 it seemed that "Orca" was implementing... who else would implement? Would/does Firefox?

[2019-07-10 09:06] LJWatson commented on #220
The AAM describes the way elements and attributes are mapped to the different platform acc API, then verifies each mapping in at least two browser implementations. So the audience is primarily the owners responsible for the acc API and their implementations in browsers.

[2019-07-10 09:34] stevefaulkner commented on #220
@marcoscaceres

@joanmarie is ORCA implementer as well as implementing acc API stuff in webkit etc. I suggest that what is meant is that once support lands in browsers, support for what is exposed in browsers will then need to be added to ORCA and other SR's

[2019-07-10 11:58] marcoscaceres commented on #220
ok, so WebKit can stay in the template. I'd be interested to see how one of these is implemented in WebKit and see how it's done in Firefox too.

[2019-07-10 15:01] joanmarie commented on #220
@marcoscaceres as a general rule, it's a mere few lines of code here and there. Role/element mapping is tends to be simple.

[2019-07-10 15:13] joanmarie commented on #220
@marcoscaceres

Wellllll....

As has already been stated, the AAMs specify what *users agents* MUST do in their code so that the information the ATs receive makes sense. In many instances, what an AT needs to do to add support is little to nothing.

Were it me, I'd probably close this as WONTFIX on the grounds that user agents are the implementors.

I also fear that I caused confusion by not limit

[2019-07-10 15:42] #218 closed, assigned to joanmarie

[2019-07-10 16:04] marcoscaceres commented on #220
Totally not a problem! That’s amazing 🤩. Please do ping me when you send a patch to Gecko (:mcaceres on bugzilla).

[2019-07-10 16:21] #220 closed, assigned to nobody

[2019-07-11 05:21] marcoscaceres opened #221 "What does "Use WAI-ARIA mapping" actually mean?"
If you navigate to, for example:
https://w3c.github.io/html-aam/#el-output

In the second column it says "Use WAI-ARIA mapping", but that doesn't link to anything? I was hoping to land there and get some more clear instructions on how to implement stuff. If anything, "Use WAI-ARIA mapping" should be linked to the right place (to WAI-ARIA? dunno?).

[2019-07-11 08:20] LJWatson commented on #221
It's a reference to the [Core AAM](https://www.w3.org/TR/core-aam-1.1/)
mapping for that element or attribute. It might be worth making those
references links perhaps?

[2019-07-11 12:29] scottaohara commented on #221
The row column notes:
Accessible Rich Internet Applications (WAI-ARIA) 1.0 / status role (which is a link to core aam)

the other rows/columns are referencing the "status role" link.  in this particular example, there may still be additional information that is available beyond the matching of the core aam mapping, e.g. UIA's  `Localized Control Type: "output"`

[2019-07-11 13:34] scottaohara commented on #221
Let's move any further conversation of this to #122 as this is a related topic to that one.

[2019-07-11 13:34] #221 closed, assigned to nobody

[2019-07-11 13:38] marcoscaceres commented on #122
So, yeah, I ran into this too. We might need think of something different as right now, it’s not very friendly to people who land at one of those tables.

[2019-07-11 13:43] marcoscaceres commented on #122
Option 2 as suggested above is now maybe an option, as ReSpec now provides automatic  cross document references.

However, before we talk solutions, we should figure out what the table actually is trying to achieve.

I came to the table from Mozilla’s bugzilla in the hope of figuring out how to implement one of these in the browser. Traditionally, the spec would lead me to an algorithm or some idl

[2019-07-13 01:00] scottaohara commented on #8
[ARIA PR  #951 was merged](https://github.com/w3c/aria/pull/951), which results in ARIA 1.2 having new roles to map to `dl`, `dt`, and `dd`:
`associationlist` = `dl`
`associationlistitemkey` = `dt`
`associationlistitemvalue` = `dd`

[`role=term`](https://w3c.github.io/aria/#term) now will only map to HTML's `dfn` element.
[`role=definition`](https://w3c.github.io/aria/#definition) will not map to

[2019-07-14 03:06] JAWS-test opened #222 "footer and header should be output as contentinfo and banner independent of the ancestor elements"
In my opinion the distinction between "scoped to the body element" and "scoped to the main element, a sectioning content element, or a sectioning root element other than body" at the footer and header should be abolished.

Reasons:
1. The distinction is not made for the corresponding ARIA roles (https://www.w3.org/TR/core-aam-1.1/: banner, contentinfo).
2. The distinction is not uniformly specifie

[2019-07-22 16:39] scottaohara commented on #183
We would need to take into consideration other `display` values too then, no?
e.g. `display: inline-block` or `flex`....etc?

Or is it more a question of "inline" vs "not-inline" that we need to be mindful of?

[2019-07-22 20:20] scottaohara commented on #51
closing this issue as ARIA 1.2 will contain new roles for parity with `dl`, `dd`, and `dt` and will be addressed by issue #8

[2019-07-22 20:20] #51 closed

[2019-07-22 21:41] scottaohara commented on #36
Things seem to have shifted from this issue originally being filed...

[Should status role be mapped to Status Bar?](https://www.w3.org/WAI/ARIA/track/issues/1024)  - was closed and marked as wontfix.

2 and a half years since the last comment here:
Firefox is the only modern browsers that doesn't expose `output` as a live region. [An issue was filed](https://bugzilla.mozilla.org/show_bug.cgi?id=1

[2019-07-22 21:41] #36 closed

[2019-07-22 22:38] scottaohara commented on #135
per the `img` naming algorithm, `aria-label` will be used over an `alt`, so the fact that `alt=""` is moot because the `aria-label` is providing the accessible name.

Additionally, Steve's quote notes that an element cannot be exposed as `presentation` if it also has an accessible name, noting it must return to the implicit native semantics. So that also works in exposing the `img` as a graphic wi

[2019-07-22 23:04] scottaohara opened #225 "output element is a labelable element"
[The `output` element](https://html.spec.whatwg.org/multipage/form-elements.html#the-output-element) is a labelable element and as such, its naming algorithm should be updated to indicate this.

Presently the algorithm is:
1. `aria-label` and `aria-labelledby`
2. subtree
3. `title`
4. no name

Should be updated to:
1. `aria-label` and `aria-labelledby`
2. name from `label` element
3. `title`
4. no

[2019-07-22 23:13] scottaohara commented on #179
These elements should probably be broken apart and their naming re-reviewed.

for example:
* `th` should better communicate how `abbr` is used for naming
* `td` and `th` should likely allow name from subtree
* [firefox issue about `tr` name](https://bugzilla.mozilla.org/show_bug.cgi?GoAheadAndLogIn=Log%20in&Bugzilla_remember=on&id=1568360) - tr should not be named if a standard table (not grid)

[2019-07-24 01:17] joanmarie opened #227 "Editorial: Consider adding text to element mapping tables pointing to accessible name rules"
Based on what Jamie said [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1568360#c6), I'm wondering if it would make sense to add something to the element mapping tables which points to the accessible name rules for that element.

Example: In https://w3c.github.io/html-aam/#el-tr, add a row like "Name calculation" or "See Also". Then put a link to https://w3c.github.io/html-aam/#tr-td-th-eleme

[2019-07-24 02:00] scottaohara commented on #227
yes, agreed.

[2019-07-24 15:25] scottaohara commented on #2
Regarding the updates that have been done here, going to close this issue.

Once ARIA 1.2 is published and the `meter` role, among other new roles are added, we will need to address referencing those in HTML AAM.  New issue for this incoming.

[2019-07-24 15:25] #2 closed

[2019-07-25 00:56] scottaohara opened #229 "Review mappings once new roles are added"
ARIA 1.2 will introduce various new roles and mappings for greater parity with HTML.

After publication, we should review the HTML AAM's element mappings and ensure that any necessary elements are mapped to their appropriate WAI ARIA roles.

For instance, `del`, `ins`, `meter`, `dl`, `dt`, `dd`, `strong`, `em`, among others and many that will map to ARIA's `role=generic` but would also likely bene

[2019-07-25 16:06] scottaohara commented on #135
After speaking with Ian and Steve offline, seems we're good with this for now.  Closing, but still welcome any comments from anyone else on clarity about this / other aspects of the spec.

[2019-07-25 16:06] #135 closed, assigned to nobody

[2019-07-26 12:43] stevefaulkner commented on #183
Doing a quick test of various display values using this https://www.w3schools.com/cssref/playit.asp?filename=playcss_display&preval=inline  looks like the are variances across browsers as to effect and yes I think we need to take this into account, to try to get convergence/agreement on effect across browsers.

[2019-07-26 16:45] dd8 commented on #160
`<body>` is a sectioning element
https://html.spec.whatwg.org/multipage/sections.html#sections

So it has a name calculation in:
https://www.w3.org/TR/html-aam-1.0/#section-elements-and-grouping-content-elements-not-listed-elsewhere

and is allowed by:
https://w3c.github.io/html-aria/#body

Does this make sense, and at what point would the label be voiced?

[2019-07-26 17:00] LJWatson commented on #160
I've just run a couple of quick tests using:
[code]

And:
[code]

I can't get NVDA, Jaws, or Narrator, to report the accessible name of
the body element, using Chrome, Edge beta, or Firefox.

This was a very quick test though.

[2019-07-26 20:02] dd8 commented on #160
On macOS VoiceOver/Safari 12 the `aria-label` is read, but the voicing seems confusing:

[code]

With the `aria-label` on `body` this is voiced as :

Without an `aria-label` on `body` this is voiced as :

[2019-07-26 20:35] scottaohara commented on #160
`body` is definitely in the prohibited if not "not allowed' list...

[2019-07-26 21:12] Dan503 commented on #160
`<a>` elements really need to be added to that list of allowed elements for the same reason why `<button>` elements are on that list.

[code]

[2019-07-26 22:56] scottaohara commented on #160
no one is disputing that @Dan503 ?

There's already a naming algorithm for [anchor elements](https://w3c.github.io/html-aam/#a-element).

[2019-07-26 22:59] Dan503 commented on #160
That comment didn't include `<a>` in the list of allowed elements and no one seemed to have brought it up yet so I just wanted to make sure it was clear that `aria-label` needs to work on `<a>` elements.

[2019-07-26 23:12] scottaohara commented on #160
`a` is not categorized as a labelable element which is why it wasn't in the list.

That is different than being allowed to be given an accessible name via `aria-label` or `aria-labelledby`.

[2019-07-27 15:34] scottaohara commented on #115
As `rb` and `rtc` are not part of the HTML Living Standard, should they be:
1. removed re: `menuitem` #188
2. have a comment adding that these elements are not part of the HTML specification

@stevefaulkner ^

[2019-07-27 15:48] scottaohara commented on #115
Related discussion about [marking at risk from HTML 5.3](https://github.com/w3c/html/issues/1424).

FWIW, <s>I'm personally leaning more towards adding a comment for now</s>, it seems we should remove them (at least until consensus is reached) as they are outliers in that we don't map other elements/attributes marked as obsolete.

[2019-07-27 23:38] scottaohara commented on #196
related Android Firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1566878

[2019-07-28 03:09] scottaohara commented on #222
Thanks for opening the issue.

I will comment on / clarify each of your points:

1. The Core AAM indicates how the roles themselves are mapped.  HTML AAM indicates how the HTML elements should map or what roles they should map to as defined in Core AAM. Furthermore, this specification indicates the conditions that may allow (or not) for such mappings.  This is why there is no distinction made in C

[2019-07-28 03:09] #222 closed, assigned to nobody

[2019-08-03 19:37] scottaohara commented on #189
This issue will be picked up once #226 is completed.

[2019-08-05 07:23] JAWS-test opened #230 "combobox for select is wrong"
The select element (size=1) and the input element with a list attribute are different elements, but have the same role: combobox. The problem should be fixed so that select elements are always output as listbox (or with another role), but never as combobox.

Examples of differences:
* input with list attribute: free text input possible, filtering of entries after text input, no navigation possible

[2019-08-05 13:09] scottaohara commented on #230
Hi @JAWS-test

per your reference, #46 is already an issue that exists and discussion is on going to determine if this mapping should be updated, and will likely be discussed at TPAC this year.  For those reasons I'm closing this issue as it's duplicative to the existing issue that already touches on these points, and more.

Thanks.

[2019-08-05 13:09] #230 closed, assigned to nobody

[2019-08-05 13:57] JAWS-test commented on #46
The select element (size=1) and the input element with a list attribute are different elements, but have the same role: combobox. The problem should be fixed so that select elements are always output as listbox (or with another role), but never as combobox.

Examples of differences:
* input with list attribute: free text input possible, filtering of entries after text input, no navigation possible

[2019-08-06 00:52] JAWS-test commented on #222
@scottaohara

Thanks for the answer. Unfortunately, I disagree on some points.

1. Is clear
2. The sources contradict each other because they specify different conditions when footer and header are to be recognized as landmark regions. That causes confusion. The problem here is that the sources primarily used by developers (namely the HTML specification) do not impose any restrictions on the outpu

[2019-08-06 03:02] scottaohara commented on #222
Your reference in point 2 doesn't prove the point you seem to think it does.  HTML 5.2 is restating content from ARIA in HTML.  Following the link of "do not set" from the "Allowed ARIA role attribute values" portion notes the following:

That said, the point of the 5.2 reference was that there should be no reason to set `role=contentinfo` to a `footer` element, because under the proper conditions

[2019-08-06 07:40] JAWS-test commented on #222
I wrote "partly" because it is still explained in HTML 5.2 (even if "may" instead of "should" or "must" leaves something open: "Assistive Technology may convey to users the semantics..."). But the problem is that HTML 5.2 is no longer valid, but the Living Standard, there is no longer any indication that header and footer should be ignored by assistive technology in most use cases.

The next probl

[2019-08-06 11:41] scottaohara commented on #222
This is becoming a circular argument which is not productive.

So putting discrepancies you may perceive with the various specifications aside, your issue can be best summed up with your introductory sentence:

You listed your reasoning, but no feasible solution that wouldn't either result in a complete unmapping of `header` and `footer` elements to any meaningful semantics, or produce an over abu

[2019-08-08 04:47] craigkovatch commented on #46
It may shed some light to consider the simple etymology of the word "combobox" -- "combo" refers to the *combination* of an editable text field and a list of options. If there's no text field, there's no combination of controls, so there's no **combo**box.

So I agree with @mcking65 that a size-1 HTML select is a (visually-collapsed) listbox.

Just stumbled on this thread while researching another

[2019-08-08 06:19] JAWS-test commented on #222
I consider the complete output of all headers and footers by assistive technology to be useful. There are also pages with more than 100 headings and one could argue that this would be too much to efficiently recognize the structure of a page with the screenreader. But fortunately, there are headline hierarchies that make this possible. In the same way, the purpose of correctly nested header and fo

[2019-08-08 15:04] dd8 opened #231 "Inconsistent name calculations for input elements"
## input type=number

`input type=number` works like an (enhanced) edit box and displays placeholders, but isn't listed in 5.1 so falls back to the calculation in 5.7 Other Form Elements which doesn't use the placeholder attribute:

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#Additional_attributes

## Multiple labels

The name calculation for Input types listed in 5.1 ex

[2019-08-08 15:56] scottaohara commented on #231
Thank you @dd8

I've been working on updating content that would address the points you raise here, which are related to existing issues #209, #134, #225, #210.

This issue will be noted in that update, however I'd be more than happy to accept a PR to address these more immediately, as everything you've listed are really editorial updates to match reality.

[2019-08-08 16:10] LJWatson commented on #222
Whilst noting that this issue is closed, it's worth being clear that ARIA and HTML are not the same thing. What is permitted in one does not have to be permitted in the other, although neither should conflict.

[2019-08-12 11:00] dd8 commented on #231
@scottaohara We've just completed an green field implementation of accname-1.1/html-aam and noted a number of problems with both specs. Would you be interested in some suggestions / PRs?

[2019-08-12 12:46] scottaohara commented on #231
i'd be interested in your findings, sure.  especially since i'd be interested to see if i'm missing anything from the work i've been drafting.

[2019-08-12 14:27] dd8 commented on #231
One of the main problems we found is the flow of control between accname-1.1 and html-aam is not obvious and there seems to be duplication of some steps:

https://w3c.github.io/accname/#mapping_additional_nd_te

https://w3c.github.io/html-aam/#input-type-text-input-type-password-input-type-search-input-type-tel-input-type-email-input-type-url-and-textarea-element-accessible-name-computation

For e

[2019-08-12 14:34] dd8 commented on #231
Some of the accname unit tests depend on the correct calculation for `aria-owns` but I can't see anything specifies how aria-owns is used ~~(e.g. do the names calculated for aria-owns elements come before or after the name of the element with the aria-owns attribute)~~

Edit: Order is specified in https://www.w3.org/TR/wai-aria-1.1/#aria-owns, but I think the accname calc should specify where aria

[2019-08-12 15:49] dd8 commented on #231
It's not clear if this is a goto or a function call of steps 2F.i) through 2F.iv)

css-syntax-3 handles this type of situation by splitting the CSS parsing algorithm into simple algorithms that call one another:
https://www.w3.org/TR/css-syntax-3/#parse-stylesheet

[2019-08-12 16:58] dd8 commented on #225
Some other elements are defined as 'labelable elements' by the HTML Standard but the label isn't used in the accessible name calculation:
https://html.spec.whatwg.org/multipage/forms.html#category-label

`button`
https://w3c.github.io/html-aam/#button-element-accessible-name-computation

`input type="button"` , `input type="submit"` and `input type="reset"`
https://w3c.github.io/html-aam/#input-ty

[2019-08-12 17:27] scottaohara commented on #225
yes, thank you.  all of these are being covered in my pending update.

[2019-08-12 18:12] scottaohara commented on #231
Hi Mark,

Going to try to respond to all your questions/points starting from your first post on, but at a high level I agree with you that there could be some wording to make it more clear when to defer to one spec over the other.

HTML AAM notes that step one is to reference steps 2b/2c of accName. This is not meant as a duplicative effort, rather HTML is deferring to steps 2b/2c of accName if ar

[2019-08-14 04:22] JAWS-test commented on #46
If select is not associated with listbox as it used to be, several documents still containing the old assignment would have to be revised, e.g. https://www.w3.org/WAI/WCAG21/Techniques/html/H91, example 6: "Example 6a has a role of _list box_ from the select element."

[2019-08-15 16:34] dd8 commented on #231
@scottaohara Thanks - that's helpful. Looks like there's already an open issue for `aria-owns` which flags up various interop issues and inconsistencies in implementations:
https://github.com/w3c/accname/issues/25

[2019-08-15 17:05] dd8 commented on #231
Another apparent inconsistency is the treatment of steps that can return an empty string or whitespace. An `aria-label=''` or `aria-label=' '` is explicitly ignored by 2C, but other steps don't say if an empty string should be ignored or used

So whether this stops at 2B returning an empty label, or proceeds to 2C and returns 'Test1' is probably implementation dependant:

[code]

but the spec expl

[2019-08-16 01:47] scottaohara commented on #231
hmm.

i can confirm, as i've run into this issue lately, that instances of `<img src="..." alt=" ">` have definitely resulted in what was meant to be decorative images exposed as being named.

@stevefaulkner we should have a think on this :)

[2019-08-21 09:31] LJWatson opened #233 "Specification status report for TPAC 2019"
Please can you respond to this comment with a brief specifications status report for the WebApps meeting at TPAC. The report should address the following:
* What progress has your spec made in the last 12 months?
* Is anything blocking your spec from moving to CR?
* If yes, what is your plan to unblock it and do you need any help?
* What do you want to achieve for your spec in the next two days (o

[2019-08-23 14:07] dd8 commented on #231
@scottaohara  Some more info - this accname test case doesn't work unless white space is trimmed from the result of name-from-content:
https://github.com/web-platform-tests/wpt/blob/master/accname/name_test_case_602-manual.html

If the result isn't trimmed you get the accName calculated from the `<div>` content of a newline and 2 spaces.

IMO it makes sense to trim the result for each step - not j

[2019-08-23 16:16] scottaohara commented on #147
@joanmarie, i'm going to include this work with my PR #224 and will let you know as soon as I get that done for review.

sound good?

[2019-08-23 16:56] joanmarie commented on #147
Yup! Thanks @scottaohara.

[2019-08-31 23:15] JAWS-test opened #234 "Mapping of input type=number"
I have a question about mapping input type=number:

What does "implemented as a text input" mean?

1. Is it about the incorrect display as input field in IE 11?
2. Or is it about the display as input field with spinbutton buttons and operation in Firefox and Chrome?

* If the second is meant: How is assistive technology supposed to recognize that it is an input field with spinbutton functions?
* I

[2019-08-31 23:48] scottaohara commented on #234
the input is not always output as a control with increment/decrement capabilities.  For instance, iOS Safari still just renders an `input type=number` as a text field, as would any browser that has not implemented support / functionality for the particular type.  Not really about "incorrect" display as fallback display.

Re the bulleted questions:
* Assistive technologies know per the manner in wh

[2019-08-31 23:48] #234 closed, assigned to nobody

[2019-09-01 03:45] JAWS-test commented on #234
I find this problematic because it means that assistive technology cannot know whether the spinbutton allows text input or not. So also the user of assistive technology can't know it and has to try it out.

[2019-09-01 09:08] LJWatson commented on #234
It's possible to enter numbers into `<input type="number">` in all browsers. The ability to increment/decrement the numbers is layered on top of that in browsers that support it. The [MDN explainer](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number) has more information about this element/type.

The screen reader queries the browser for the relevant role and uses that to infor

[2019-09-01 09:21] JAWS-test commented on #234
@LJWatson:

I'm afraid there's been a misunderstanding. The problem I have described is a completely different one:

role=spinbutton (not the HTML element) can be with or without input field. But it always has the same role, so a blind user can't know if she or he can enter text. See e.g. the wrong output with JAWS: https://github.com/FreedomScientific/VFO-standards-support/issues/271

[2019-09-01 12:57] scottaohara commented on #234
@JAWS-test you're not wrong, there is an issue here. Whether it's with JAWS or the ARIA example I am not convinced 100% in one way or the other, though I'm leaning toward it being an issue JAWS could/should account for.

That said, the ARIA example could also be updated to allow for a user to type characters and have the currently selected value updated to match the characters entered, like a `sel

[2019-09-01 19:58] mcking65 commented on #234
@JAWS-test commented:

A primary purpose of ARIA is to enable people to build components that cannot be built (in an accessible way) with HTML alone. So, this disparity is by design.

In the universe of GUI components that people actually build, there are spin buttons with edit fields and spin buttons that do not have edit fields. HTML type number is only for the kind that has an edit field. ARIA

[2019-09-01 20:11] mcking65 commented on #234
@JAWS-test, as @scottaohara point out, you have raised the appropriate issue with Freedom Scientific. I reviewed that issue, and you have stated it perfectly.

@scottaoharacommented:

Because ARIA supports multiple types of spin buttons, we will add more examples that include an edit field. However, since the edit field is an optional aspect of the pattern, we have included this particular example

[2019-09-01 20:59] scottaohara commented on #234
Thank you for the additional context @mcking65

[2019-09-02 01:58] JAWS-test commented on #234
@mcking65

Unfortunately I don't understand the argument, because how should the AT distinguish between <code>input role=spinbutton</code> and <code>button role=spinbutton</code>? The first example would be with text input, the second not. Both are only displayed as spinbuttons in the accessibility tree, because the ARIA role overwrites the native semantics of the HTML role.

[2019-09-06 16:22] dandclark opened #236 "<mark>'s UIA LocalizedControlType and AX AXRoleDescription should be unified"
Per https://w3c.github.io/html-aam/#el-mark, the UIA LocalizedControlType for <mark> is "mark" while the AXRoleDescription is "highlighted content". There is no good reason for these values to be different; this adds complexity for implementers and creates confusion for users when moving across platforms. Furthermore, "mark" is a confusing name for non-programmers, and "highlighted content" is unn

[2019-09-07 14:05] scottaohara commented on #188
* Chromium bug filed: https://bugs.chromium.org/p/chromium/issues/detail?id=1001803
* Firefox bug filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1579633 (confirmed intention to implement)
* Webkit bug filed: https://bugs.webkit.org/show_bug.cgi?id=201581

[2019-09-07 14:31] scottaohara commented on #233
* **What progress has your spec made in the last 12 months?**
Further rounding out expectations for elements and attribute mappings.  Working on rectifying and clarifying accessible name algorithms.  Many pieces are still in progress, but I've identified much of what I think needs to be completed and worked towards to move to CR.

* **Is anything blocking your spec from moving to CR?**
Issues I wa

[2019-09-07 15:23] scottaohara opened #238 "Whitespace alone should be ignored in accName algorithms"
We need to make it clear in the specification that attributes that contribute to the accessible name of elements should be ignored if, when white space is trimmed, they return the empty string.

e.g. `alt=" "` should be treated the same as `alt=""`.

[2019-09-09 07:50] pkra commented on #238
Related: https://github.com/w3c/accname/issues/55, whitespace is defined inconsistently across specs.

[2019-09-10 16:10] scottaohara commented on #229
note `generic` in Core AAM Editor's draft: https://github.com/w3c/core-aam/commit/3d7477ddd3e610801987eef6221c3ce246c6773f

[2019-09-10 16:27] joanmarie commented on #229
Related: It looks `div`esque rather than `div`+`span`esque because we haven't yet landed text separation. Treating generic as a `div` means we can proceed with implementation.

[2019-09-11 11:34] JAWS-test opened #240 "Missing span and svg in AccName chapter"
I miss the elements <code>span</code> and <code>svg</code> in the chapter "5th Accessible Name and Description Computation". Shouldn't they be included in https://w3c.github.io/html-aam/#text-level-elements-not-listed-elsewhere or elsewhere?

[2019-09-11 12:05] scottaohara commented on #240
`span` (among many other elements) will be covered when work is completed on #160 (it will be prohibited from receiving a name) and other issues related to naming that already exist.

`svg`s should be covered in https://github.com/w3c/svg-aam/

Thanks

[2019-09-11 12:05] #240 closed, assigned to nobody

[2019-09-11 15:14] scottaohara commented on #229
notes for future updating:
* `sub` to [`subscript`](https://w3c.github.io/core-aam/#details-id-73)
* `sup` to [`superscript`](https://w3c.github.io/core-aam/#details-id-74)
* `time` to [`time`](https://w3c.github.io/core-aam/#details-id-83)
* `meter` to [`meter`](https://w3c.github.io/core-aam/#details-id-48)

[2019-09-11 17:22] #188 closed, assigned to nobody

[2019-09-12 21:37] melanierichards commented on #46
My vote is we should keep the mappings as-is for now. Excellent example of mismatched paradigms between HTML and native platfrom APIs, unfortunately. ☹

For UIA specifically, the expectation is that a [ListBox](https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-supportlistcontroltype) supports multiple selections, [Combobox](https://docs.microsoft.com/en-us/windows/win32/winauto/uiauto-

[2019-09-13 03:55] JAWS-test commented on #160
It should be noted that the screen reader outputs the label differently depending on the navigation method. I.e. with many elements, which are labelled with <code>aria-label</code>, the text content is nevertheless output when reading with the arrow keys:

[code]
The label in the aria-label is used, however, e.g., to give the element in the element overview a label, in quick navigation or in tab n

[2019-09-13 11:55] scottaohara commented on #160
As Joanie noted "screen readers are all over the map on this front"

While it's true that JAWS may handle such examples in some cases, it's not a reliable way to expose information, and also not consistent with how other screen readers can handle similar patterns, making it problematic and something that should be advised against.

[2019-09-13 14:19] JAWS-test commented on #160
@scottaohara

It seems to me that it is not defined which HTML elements and ARIA roles are transparent despite explicit labeling (e.g. with <code>aria-label</code>), i.e. their text content is output anyway. For some elements this is very clear, like <code>nav</code>, for others obviously the opposite applies like <code>button</code>. But what about <code>div</code> and many others?
I.e. I think t

[2019-09-13 14:29] scottaohara commented on #160
@JAWS-test noted, and this sort of information will be incorporated into the current work that's being done to address this issue already.

[As per my comment here](https://github.com/w3c/accname/issues/59#issuecomment-531258928)

[2019-09-13 14:42] JAWS-test commented on #183
I don't think it's a good idea to consider CSS properties. So far there has been a relatively clear separation between them:
* HTML code = semantic markup, relevant for assistive technology
* CSS = visual design, not relevant (with a few exceptions like display:none).

I think it would be good to keep this separation. Otherwise it becomes endless: why should display:inline/block/inline-block etc.

[2019-09-17 18:04] JAWS-test opened #246 "Element and attribute were switched for abbr"
The description for the <code>abbr</code> element applies to the <code>abbr</code> attribute and not to the element:

https://w3c.github.io/html-aam/#html-element-role-mappings

[2019-09-17 18:17] JAWS-test opened #247 "Mistake in AccName for tr, td, th"
I think, at https://w3c.github.io/html-aam/#tr-td-th-elements-accessible-name-computation there should be step 2: "text content" and only step 3 "title".

In addition, the question would be whether the <code>abbr</code> attribute should be mentioned in this context, which does not serve as a label or description, but as a label of the heading during table navigation through the cells of the table.

[2019-09-17 18:34] scottaohara commented on #247
closing as duplicate to #179

[2019-09-17 18:34] #247 closed, assigned to nobody

[2019-09-17 18:34] scottaohara commented on #246
yup, this needs fixing.  apparently has been like that for quite some time now.  will do.

[2019-09-17 19:19] JAWS-test commented on #247
Sorry I didn't check that out.

[2019-09-17 19:52] scottaohara commented on #247
no problem

[2019-09-17 20:19] scottaohara opened #248 "Need to update api links"
See [issue logged on Core AAM](https://github.com/w3c/core-aam/issues/54) as same links there.

[2019-09-17 23:40] carmacleod opened #249 "UIA figcaption is missing "Other properties" entry"
The [UIA entry for `figcaption`](https://w3c.github.io/html-aam/#el-figcaption) seems to be missing the following:

See "caption" and "legend" for example text.
See also that MSAA/IA2 and ATK do set up "...RELATION_LABEL_FOR with parent `figure` element" for `figcaption`.

@melanierichards Can you confirm that this is true?

[2019-09-18 03:25] JAWS-test opened #250 "When is legend label for fieldset?"
For legend is defined:

* IA2_RELATION_LABEL_FOR with the parent fieldset
* The LabeledBy property for the parent fieldset points to the UIA element for the legend element.
*  ATK_RELATION_LABEL_FOR with parent fieldset element

I wonder if that's correct, since it doesn't make any statement about what happens
* if several legends are in one fieldset or
* if the legend is not the first child eleme

[2019-09-18 06:11] ZoeBijl commented on #250
According to the [`fieldset`-element documentation in the spec](https://html.spec.whatwg.org/multipage/form-elements.html#the-fieldset-element) the name is taken from the first `legend` child element which also has to be the first child of the `fieldset`. Meaning that any other result is an author error. So yes, this is correct.

[2019-09-18 06:40] JAWS-test commented on #250
I thought HTML-AAM should point out here that legend is only label for fieldset if it is the first child element. If it is not the first child element, it is ignored. Analogous to the distinction between header and footer scoped to the body element or not scoped to.

[2019-09-18 09:04] ZoeBijl commented on #250
Did you run any tests in which this breaks?

[2019-09-18 09:10] JAWS-test commented on #250
I'm afraid I don't understand what tests you mean? An empirical test with Screenreader? I'm happy to do that if you wish. But the specification should be correct, regardless of the screenreader output.

[2019-09-18 09:12] JAWS-test commented on #250
So far I've only tested the following: https://github.com/FreedomScientific/VFO-standards-support/issues/233. But that doesn't include the question I raised here. See also: https://github.com/FreedomScientific/VFO-standards-support/issues/100

[2019-09-18 09:51] ZoeBijl commented on #250
I’m not entirely sure what the error is with HTML-AAM. Could you point to the section in the spec where you saw the error? [5.5.1 fieldset Element Accessible Name Computation](https://w3c.github.io/html-aam/#fieldset-element-accessible-name-computation) reflects the HTML spec. Point four states that if the above conditions are false there is no accessible name.

[2019-09-18 11:36] JAWS-test commented on #250
I didn't say it was an error. I was just wondering if the documentation should be more accurate:
* legend may only be first child element
* https://w3c.github.io/html-aam/#fieldset-element-accessible-name-computation says that the first legend should be taken (but not that it should be the first child element)
* and https://w3c.github.io/html-aam/#html-element-role-mappings just says that the lege

[2019-09-18 11:45] JAWS-test commented on #250
Checked the following file with JAWS 2019 and current Firefox ESR, IE 11, and Chrome:
* Firefox is halfway ok (browser automatically corrects the display if legend is not the first child)
* in IE 11 the output is completely wrong
* in Chrome the output of Tab Navigation seems relatively ok, but if you look into the element overview with INS+Ctrl+E, you can see that everything is wrong here as well

[2019-09-18 12:02] scottaohara commented on #250
closing this issue as there's no lack of clarity of how a `legend` should be mapped (here) or used (via the HTML spec).

That said, I will look into amending my WIP PR #232 to reference "first child" rather than just "child", to better match the HTML spec as per your second bullet in your opening question.  Your third bullet in your latest comment isn't accurate, as the fieldset accessible name al

[2019-09-18 12:02] #250 closed, assigned to nobody

[2019-09-18 12:09] scottaohara commented on #250
Let's be clear here though, stress testing how a browsers may expose and/or screen reader consumes invalid markup patterns is not indicative of a gap how HTML elements are mapped.

[2019-09-18 12:27] JAWS-test commented on #250
It's true: The bugs also occur for things that are correctly specified in the specification, see https://github.com/FreedomScientific/VFO-standards-support/issues/315.
But if it's not exactly in the specification, you can't blame assistive technology for bugs.

[2019-09-18 12:32] JAWS-test commented on #250
@scottaohara

My comment refers as written to https://w3c.github.io/html-aam/#html-element-role-mappings and not to https://w3c.github.io/html-aam/#fieldset-element-accessible-name-computation where it is halfway correct.

And the table says (as described in detail in my very first statement):

[2019-09-18 13:05] scottaohara commented on #250
I didn't.  If anything I was saying that invalid markup patterns are to blame.

In that case not related to HTML AAM.  Bugs with browsers or AT or both.  It's good to try and determine which exactly so issues are filed in the correct place.

I know what your comment was referring to, but the opening of that section states:

In other words, you have to look to both sections to get the full picture.

[2019-09-18 13:47] carmacleod opened #251 "Is MSAA figcaption missing STATE_SYSTEM_READONLY?"
The MSAA/IA2 entries for `caption`, `figcaption`, `legend`, and `label` are as follows:

- `caption`: ROLE_SYSTEM_TEXT; IA2_ROLE_CAPTION; *STATE_SYSTEM_READONLY*
- `figcaption`: ROLE_SYSTEM_TEXT; IA2_ROLE_CAPTION
- `legend`: ROLE_SYSTEM_STATICTEXT; IA2_ROLE_LABEL
- `label`: ROLE_SYSTEM_STATICTEXT; IA2_ROLE_LABEL

Note that `caption` has "STATE_SYSTEM_READONLY" and `figcaption` does not. Should it?

[2019-09-18 15:53] #142 closed, assigned to scottaohara

[2019-09-18 15:53] #147 closed, assigned to nobody

[2019-09-19 01:17] #236 closed, assigned to nobody

[2019-09-28 06:24] stevefaulkner commented on #83
current advice around this in HTML https://html.spec.whatwg.org/multipage/tables.html#the-table-element

[2019-10-04 16:55] scottaohara commented on #189
copied from ARIA in HTML issue regarding custom elements:
Per: HTML issue 4658 and ARIA issue 984, it should be specified that a custom element may have no corresponding role (map to generic) or may have a role set by `ElementInternals`.

If the role is set in that way, and the custom element doesn't merely act as a container for child elements (light or shadow dom) with their own roles, then the

[2019-10-05 03:09] scottaohara commented on #231
closing this issue due to the other linked issues that are related, and the PR #239 which will aim to resolve the white space issue that is also noted here.

[2019-10-05 03:09] #231 closed, assigned to nobody

[2019-10-05 03:14] scottaohara commented on #143
i personally think this should be done by xml roles, and / or a corresponding general "code" role for AIRA.

hoping to submit a proposal for that next week to the ARIA spec per [issue 527](https://github.com/w3c/aria/issues/527), but would be happy to discuss this further.

[2019-10-06 19:58] #115 closed, assigned to nobody

[2019-10-07 16:34] carmacleod opened #255 "Elements and Attributes have id="undefined" in Working Draft"
The _Editor's Draft_ version of the HTML-AAM spec has valid id's that provide a link to each element in the [HTML Element Role Mappings Table](https://w3c.github.io/html-aam/#html-element-role-mappings).

For example, the anchor element id is `el-a`, so its link is: https://w3c.github.io/html-aam/#el-a

The code in the Editor's Draft is:
[code]

However, in the _Working Draft_ version, this id is

[2019-10-07 20:43] JAWS-test opened #256 "Which enumeration characters play a role in determining the name?"
I don't find any information in the Acc Name specification about the extent to which the enumeration characters of lists should be output as names.

[HTML AAM](https://w3c.github.io/html-aam/#att-type-ol) specifies for certain platforms that at least the content of the `type` attribute is taken into account when determining the name. Unfortunately, there is no information about what applies to enu

[2019-10-15 06:31] marcoscaceres commented on #255
I see it's unrelated to ReSpec (kinda), but thanks for letting me know... if there is something we should be doing in ReSpec core, please let me know.

[2019-10-15 07:10] eps1lon commented on #46
I struggled with this issue the past few days. Especially because the different specifications (and versions) directly conflict with each other.

## Using editors drafts

-- https://w3c.github.io/aria/#combobox

Clearly not a `<select />`

-- https://w3c.github.io/html-aria/#el-select

-- https://w3c.github.io/aria-practices/#Listbox

And then how Chrome 77 currently displays this in their a11y tr

[2019-10-17 04:39] carmacleod commented on #255
Thank-you, @marcoscaceres!

@ZoeBijl Letting you know that @marcoscaceres has kindly offered help with https://github.com/w3c/aria-common/issues/7 on the ReSpec side if needed.

[2019-10-17 08:18] ZoeBijl commented on #255
Excellent! I’ll reach out when I start work on it 👍.

[2019-10-17 14:13] annevk opened #257 "readonly/disabled and form-associated custom elements"
I wonder if when these are used on custom elements the accessibility state that exists for them ought to apply. E.g., https://w3c.github.io/html-aam/#att-readonly.

Related to https://github.com/whatwg/html/issues/5016#issuecomment-543189005.

cc @tkent-google @domenic @johndai1984 @zcorpan @muan

[2019-10-17 14:16] annevk commented on #257
(For disabled it would make sense to use the https://html.spec.whatwg.org/#concept-fe-disabled concept instead as that's what you'd use on a given element to determine whether it's disabled, not the `disabled` attribute.)

[2019-10-17 19:30] zcorpan commented on #257
The thing about disabled appears to be a bug in html-aam for built-in form controls.
https://w3c.github.io/html-aam/#att-disabled

[2019-10-17 21:36] jcsteh commented on #257
On one hand, these should be exposed because they have semantic value and we expose them for native controls. This is the direction I'm personally leaning in.

On the other hand, IIUC, there is no default styling for these states visually - the author has to style them - so it could be argued that the author should also be responsible for exposing the correct accessibility semantics (equivalent UX

[2019-10-18 05:35] annevk commented on #257
If we want to go down that route, HTML would need to expose disabled and disabled for form-associated custom elements differently.

But note that while they might not have a default style, they do match `:disabled` at the moment.

[2019-10-18 05:37] jcsteh commented on #257
I don't quite follow your meaning here. Can you clarify how it would need to be exposed differently and why?

[2019-10-18 05:38] annevk commented on #257
Because html-aam would need to map one of them and not the other.

[2019-10-18 05:40] jcsteh commented on #257
Oh, you mean if we chose to *not* expose this for CustomElements.

Note that I personally tend to think we *should* expose it for CustomElements. I was just presenting the other side of the argument as well for balance.

[2019-10-18 13:43] dd8 opened #258 "html-aam should specify how language/locale is calculated from `lang` attributes"
At the moment different browsers all do it slightly differently, using a combination of `lang` `xml:lang`, HTTP headers and `<meta http-equiv>` elements:
https://github.com/act-rules/act-rules.github.io/issues/668#issuecomment-534606384

And the language exposed via Accessibility APIs sometimes doesn't match the language calculated for the CSS `:lang()` selector in the same browser. So you can get

[2019-10-18 14:45] scottaohara commented on #257
@annevk and @jcsteh agree here, form associated custom elements _should_ be able to expose these states, and any other applicable state that a native form control could.

In general I would expect if a custom element is set to a specific role via its ElementInternals, then any allowed states and properties of that role should also then be allowed/exposed for that custom element.

We can either go

[2019-10-18 16:10] annevk commented on #257
Yeah, we have it for `readonly`. File an issue?

[2019-10-18 16:31] scottaohara commented on #257
@annevk well i think that's sort of related to what i'm asking here.  File an issue for that attribute specifically, or note that really any/all attributes should mention they are associated with autonomous custom element or form associated custom elements if either of those have a role that exposes them as a native HTML element that supports said attribute.

[2019-10-18 16:48] scottaohara commented on #246
@jcsteh in looking to clear this up, I was talking to @joanmarie about how ATK exposes `abbr` with a `title` attribute, presently IA2/MSAA implementations expose the `title` value as the name for the element.  Honestly I'm not sure this should be the case, since it seems that most AT don't respect this (by default at least), nor do I think we want an abbreviation to be suppressed by its long form

[2019-10-18 17:52] scottaohara opened #259 "Update ARIA mapping to remove instances of "?" for HTML attributes"
Related to issue #97, there are still instances of "?" in the document related to ARIA mappings.

specifically:

- [ ] `contenteditable` (HTML elements)
- [x] `span` (col; colgroup)
- [x]  `title` (HTML elements)

[2019-10-18 17:56] scottaohara opened #260 "Add comment to title attribute"
The value of a `title` attribute is exposed as part of native form validation messages.  This should at least be noted in the `title` attribute's comments.

[2019-10-18 19:58] joanmarie commented on #246
Point of clarification: The *implementations* expose it that way for ATK and IA2/MSAA. There's nothing (that I am aware of) in these APIs that dictate this exposure.

[2019-10-19 00:39] domenic commented on #257
One important thing to note is that `disabled` and `readonly` are different in degree, for form-associated custom elements.

- FACEs with the `disabled=""` attribute receive no user interaction events. Basically, the browser implements all of `disabled` for you, except for any styling you might want to do.
- FACEs with the `readonly=""` attribute only change their constraint validation behavior. I

[2019-10-20 20:54] csnover commented on #86
Since [the HTML spec](https://html.spec.whatwg.org/multipage/sections.html#the-aside-element) describes several uses of `<aside>` which don’t scream “page landmark”, I doubt that web authors have a mental model of `<aside>` that matches the current HTML-AAM behaviour. I know I didn’t—I only discovered `<aside>`’s current behaviour when I went to test some software I’d been writing and found tons o

[2019-10-21 07:22] annevk commented on #257
I suspect `disabled` might also require custom logic in a FACE, in particular if it uses a shadow tree and has subcontrols there.

[2019-10-22 01:09] jcsteh commented on #246
Hmm. This is tricky. (I feel like i say that a lot here.)

TL;DR: I think we should map abbr title to acc description, but we should check with AT vendors; this is a backwards incompatible change.

Regarding AT support, for NVDA at least, you can query the object beneath the cursor, which means you can hear the expanded abbreviation (title) if you wish. The presence of an abbr with title isn't dis

[2019-10-22 07:08] LJWatson opened #262 "CFC: Stop working on the HTML AAM"
This is a Call For Consensus (CFC) to stop working on the [HTML Accessibility API Mappings (AAM)](This is a Call For Consensus (CFC) to stop working on the HTML Accessibility API Mappings (AAM) specification in the WebApps WG.

The reason for this proposal is that the AAM specification is a better fit for the ARIA WG, and should we consent to stop working on it, they plan to hold a CFC to adopt it

[2019-10-22 07:09] LJWatson commented on #262
Courtesy ping to @joanmarie  and @jnurthen

[2019-10-23 15:11] zcorpan commented on #257
This was exactly what I was going to say. I think the more accessibility can be built-in and provided by default, the better. I can't think of a case where you'd want a FACE be `readonly` and *not* also want to expose the readonlyness to AT.

The only risk I see is web developers marking a FACE as `readonly` but then still making it editable, but this seems less likely.

[2019-10-23 15:26] domenic commented on #257
The case I'm imagining is _component_ developers not implementing readonlyness at all, i.e. the control still being editable. That is, the _page author_ has set `readonly=""` on the component, but the _component developer_ has done nothing in reaction to that.

The question in this thread is about how much the _browser_ should do in reaction to the _page author_ setting `readonly=""`. Should it do

[2019-10-23 15:30] domenic commented on #257
Another consideration:

There are controls (such as a custom toggle switch or button) where the component developer _intentionally_ would ignore the page author setting `readonly=""`, because, like the built-in checkbox/radio/button/range/color inputs, readonly semantics don't apply. It's hard to distinguish such cases from the component developer _unintentionally_ ignoring the page author setting

[2019-10-23 18:12] zcorpan commented on #257
Thanks, @domenic. As it often the case, things are more complicated.

If there's an opt-in for the `:readonly` pseudo-class, that seems like an indication that the component developer intends for the FACE to support readonly, so in that case I think it's better to expose the a11y state automatically.

I'm also curious how ATs react to `aria-readonly="true"`. Based on a quick test, it appears that

[2019-10-23 22:17] jcsteh commented on #257
NVDA ignores it on all roles except textbox and checkbox. I'm actually not sure why this applies to checkbox. Note that this isn't web specific code - it applies to those roles in native apps as well - so it was probably done for some desktop use case rather than web.

[2019-11-03 18:05] LJWatson commented on #262
This CFC passes with multiple expressions of support and no objections.

[2019-11-03 18:05] #262 closed, assigned to nobody

[2019-11-12 16:44] joanmarie opened #265 "Mapping of "open" on dialog seems wrong"
According to https://html.spec.whatwg.org/multipage/interactive-elements.html#the-dialog-element:

Dialogs -- at least on my platform -- are NOT things which can be expanded or collapsed. They can be shown or hidden/destroyed. When they're showing, they should be included in the accessibility tree; when they are hidden/destroyed, they should not be in the accessibility tree.

My *guess* is that th

[2019-11-12 19:23] joanmarie opened #266 "UIA mapping for src on img is likely incorrect"
The UIA mapping for src on img states:

As far as I know, UIA doesn't have object attributes. That's a ATK and IA2 <strike>hack</strike> thing.

[2019-11-12 19:49] scottaohara commented on #265
agreed.  this is incorrect on `dialog`.  i'll pick this up asap.

[2019-11-15 15:13] scottaohara commented on #266
this should be updated in the #245 PR before that's merged.

[2019-11-18 19:45] carmacleod opened #267 "aria-setsize and aria-posinset are allowed on tr in treegrid"
Please see https://github.com/w3c/aria/issues/558

aria-setsize and aria-posinset were allowed on tr (when descendant of treegrid) in the ARIA spec in August 2018, but it seems that propagating that change to ARIA in HTML must have slipped through the cracks.

[ARIA for role="row"](http://w3c.github.io/aria/#row) currently says:

So ARIA in HTML needs to be updated as follows:
- [tr element](http:

[2019-11-27 09:02] Jym77 opened #268 "Default level of h1-h6 and nested sectioning"
As per https://w3c.github.io/html-aam/#el-h1-h6 the default level of `h1`-`h6` elements is the number in the tag. This does not correspond to the [outline algorithm](https://html.spec.whatwg.org/multipage/sections.html#outlines) of HTML (which, in very short, says that a `h1` inside a `section` is actually a `h2`).

As far as I can see, there was a voluntary change to the current version almost 2

[2019-11-27 09:19] stevefaulkner commented on #268
@Jym77 Hi, the outline algorithm has never been implemented in any browser apart from a subset of the styling. As a result the outline is in the process of being replaced with something that will hopefully be implemented by browsers, see discussion and PR https://github.com/whatwg/html/pull/3499 there is further background explanation and discussion references here: https://www.w3.org/wiki/HTML/Us

[2019-11-27 09:19] #268 closed, assigned to nobody

[2019-11-27 09:25] Jym77 commented on #268
Thanks for the answer and the links 😄

[2019-12-02 04:09] carmacleod commented on #189
Can we create a separate issue for `hgroup` so that it is not held up waiting for autonomous custom elements? Is hgroup "Not mapped" everywhere? Does it need to wait for the "If mapped" PR #226?

(For context, I'm hoping to point to `hgroup` (and `slot`) from the html spec, but at present, they're missing from html-aam). :)

[2019-12-02 14:08] scottaohara commented on #189
I do not think #226 should be a blocker here anymore, per my comment today in that issue's WIP PR.

`hgroup` is not mapped anywhere and may well continue to be unmapped (though impact the heading levels of contained elements) depending on how that gets reworked in the HTML spec.

`slot` is not mapped, nor should it be.

autonomous custom elements are either `role=generic` or mapped to the role dec

[2019-12-03 14:40] cblouch opened #270 ""may" instead of "must" in step 4 of <input type=image>"
Seems like this should be a "must" and drop step 5. As written it enables inconsistent behavior between browsers. In a quick test I found:

Safari OSX VoiceOver – “Submit Button”
Chrome OSX VoiceOver – “Submit Button”
Chrome Win10 NVDA – “Button Submit”
Chrome Win10 JAWS – “Submit Button”
Edge Win10 NVDA – “Button Blank”
Edge Win10 JAWS – “Button Blank”
FF Win10 NVDA – “Button Submit Query”
FF Win

[2019-12-05 15:22] cblouch commented on #270
Stepping back a bit, I question whether step 4 is valid at all. For an input like:
`<input type="image" src="foo.gif" />`
The user agent will have no way of knowing the meaning of the image used or the purpose of the control. Supplying "submit query" as the accessible name without thought is functionally a generic repair best left for ATs, if done at all. The string would be better set to "I don't

[2019-12-05 19:30] JAWS-test commented on #270
Step 4 is OK because input type=image is a submit button according to the specification https://html.spec.whatwg.org/multipage/input.html#image-button-state-(type=image)

[2019-12-05 19:35] JAWS-test commented on #270
May is also OK. Alt attribute is required. No alt is a failure. Nevertheless the browser can decide to repair errors made by the author of the source code as in many other cases. But image button without alt is wrong

[2019-12-05 21:19] scottaohara commented on #270
I think it's worth investigating dropping step 5, especially with Edge moving to chromium.  In doing so, Edge will no longer not provide a fallback string, as chromium edge falls back to a "submit" string if no accessible name is provided.

@cblouch per your comment in the linked thread,

Being an `input type=image` is a version of a submit button, it seems quite reasonable that user agents fall b

[2019-12-06 03:43] JAWS-test commented on #270
I'm not sure if it can also be allowed to use an `input type=image` like an `input type=button`. According to the specification, `input type=image` is a submit button. This would also mean that it was only possible to use graphical submit buttons, but no graphical `type=button/reset` buttons, until the `button` element was introduced.

[2019-12-06 15:47] scottaohara commented on #8
`associationlist` has been pushed to 1.3

but `dt` and `dd` should have their WAI-ARIA mappings removed and re-expose the platform mappings, as they're all a bit different, and *should not* map to what will be `term` and `definition` roles.

[2019-12-06 16:39] cblouch commented on #270
So combining the three threads, it sounds like its reasonable that browser should treat image inputs in a similar manner as submit or reset and provide a fallback string. I think the argument is stronger in the submit and reset cases, but still reasonable. Given that, the open bits are "may" vs. "must" on step 4 and whether step 5 is then needed at all. If all the browsers are (or will soon) be pr

[2019-12-06 16:58] scottaohara commented on #270
seems we should reuse/revise wording from `input type=submit`, e.g.

Re: step 5, I don't think this can be removed after all.  For instance, even with a "must" if an author were to set `alt=""`, then there would still be no accessible name exposed.  So the wording of step 5 "If none of the above yield a usable text string there is no accessible name. " still applies.

[2019-12-10 01:22] #97 closed, assigned to scottaohara

[2019-12-10 01:22] #266 closed, assigned to nobody

[2019-12-12 13:57] #189 closed, assigned to scottaohara

[2019-12-13 15:44] scottaohara commented on #203
the same issue has occurred again where the data tables for the mappings are not being displayed in the published draft of the spec.

https://www.w3.org/TR/html-aam-1.0/#html-attribute-state-and-property-mappings

[2019-12-13 16:02] #203 closed, assigned to nobody

[2019-12-16 17:44] carmacleod opened #273 "Broken link to "suggestions source element""
There are several links to ["suggestions source element"](https://www.w3.org/TR/html/sec-forms.html#suggestions-source-element) in the text-based inputs.

They should instead link to: https://html.spec.whatwg.org/multipage/input.html#concept-input-list

I'll look into this later today.

[2019-12-16 22:08] scottaohara commented on #273
Related to #195 ?

[2019-12-16 22:22] carmacleod commented on #273
Yes -same. Thanks. Closing.

[2019-12-16 22:22] #273 closed, assigned to nobody

[2019-12-17 22:42] carmacleod opened #274 "`textbox` in aria role column of textarea should link to core aam"
![image](https://user-images.githubusercontent.com/3331913/71037718-44fda400-20ee-11ea-88e3-0e9c872ccdeb.png)

I will provide a PR shortly.

[2019-12-17 23:48] #274 closed, assigned to nobody

[2020-01-09 18:41] scottaohara opened #276 "aria-description and aria-details"
we will need to update the description algorithms to include `aria-description` (when it lands in ARIA).

we should also make mention that `aria-details` has no impact on the description of an element.

[2020-01-19 03:51] JAWS-test opened #277 "Mapping of poster"
The poster attribute can be used to display an image instead of the video. The image need not be identical to an image from the video. [The poster attribute currently has no mapping](https://w3c.github.io/html-aam/#att-poster). Should it not be recognizable with AT:
* that a image is available?
* what is to be seen on the image? (for this the image would have to be able to have an alternative text

[2020-02-03 04:43] JAWS-test opened #278 "Description Computation for buttons not consistent"
I wonder why the Description Computation is not consistent for button and I can't find any reason for the differences in [ACC Name](https://w3c.github.io/accname/):
* [Button with `input`](https://w3c.github.io/html-aam/#input-type-button-input-type-submit-and-input-type-reset-accessible-description-computation): visual text content can be description (`value`)
* [Button with `summary`](https://w3

[2020-02-03 16:15] scottaohara commented on #278
With Chrome, if you review the accessibility tree of the elements in [this test case](https://scottaohara.github.io/testing/buttons/desc.html), the `value` of an `input type=button` with an `aria-label` is exposed as a description.  As is the visible text of a `summary` with an `aria-label`.

In Webkit the visible text of a `summary` is exposed to the a11y tree (noted as `title` content in Apple's

[2020-02-03 17:16] JAWS-test commented on #278
Regardless of the test results, I wonder if this should not be unified and if Accname should be updated

[2020-02-03 17:34] scottaohara commented on #278
Don't see a good way for unification since each of these elements have variations in how they're used.  e.g. `value` is not used for `summary`, and doesn't expose name/desc information for the `button` element.

[2020-02-03 19:29] JAWS-test commented on #278
There are two possibilities:
* For all buttons the visible label can become a description
* For no button the visible label is used for description

[2020-02-03 20:16] scottaohara commented on #278
the first possible simplification would result in
[code]
having a description of "X".  I highly doubt we'd want to do this.

Which leaves the second option, which does bring these buttons inline with how other elements work.  But I'm curious of any reasoning as to why these were outlined this way to begin with before anything is done here.

[2020-02-03 21:27] JAWS-test commented on #278
I would also prefer the second option

[2020-02-03 23:48] AmeliaBR commented on #43
I cross-posted this on the SVG-AAM repo: https://github.com/w3c/svg-aam/issues/12
(This came up on Twitter and I couldn't find the issue because it was on HTML-AAM instead of SVG-AAM.)

I'd like some feedback from implementers if they see any problem with having an element's role depend on it's child tree. If it seems feasible to include that check, then I agree that we should use the img role for

[2020-02-03 23:52] AmeliaBR commented on #43
Also worth mentioning that it looks like the resolution to [the WebKit bug](https://bugs.webkit.org/show_bug.cgi?id=156774) was to use the image role, so they've figured out the implementation issues on that side. Should try to get it standardized.

[2020-02-07 08:02] Jym77 opened #280 "Heading name does not consider content"
As far as I can follow, the Accessible Name computation of heading elements (`<h1>`, …) follows [Section and Grouping Element Accessible Name Computation](https://w3c.github.io/html-aam/#section-and-grouping-element-accessible-name-computation) which is:
1. `aria-label` or `aria-labelledby`
2. `title`
3. empty name

Thus, an element like `<h1>Accessible names are cool</h1>` has neither `aria-label

[2020-02-07 12:51] JAWS-test commented on #280
This also applies to  Grouping Content like `<p>`, `<li>`, `<dt>`, `<dd>`...

[2020-02-07 12:56] Jym77 commented on #280
True. But I'm rather happy that a `<p>` element does not get its full content as an accessible name…

Actually, a `<p>` element has no default  role, so does not have a role that allow name from content (I guess) and thus step 2F of the accessible name computation should be skipped…

`<h*>` elements have a default role of `heading` which does allow name from content.

[2020-02-07 13:05] JAWS-test commented on #280
`<li>`, `<dt>`, `<dd>` have a default role and `<p>` will get the role `paragraph`.

A distinction may be made between content in the element and labeling of the element. For example, in Chrome labeling these elements with aria-label, JAWS only outputs the text content when reading with a virtual cursor (and not the aria-label), only the aria-label for tab navigation (and not the text content). Co

[2020-02-07 13:42] scottaohara commented on #280
@Jym77 appreciate the issue.  we need to update this section to add some clarity as some elements that are considered grouping or sectioning elements should allow name from contents (e.g. headings), while others (`body` and `div` for example) should not allow naming at all.

[2020-02-07 14:41] scottaohara commented on #277
I tend to agree that there should be a way for information from a poster image, or the default frame a video element displays, to be relayed to AT if necessary.  However, i'm not sure i agree that the poster attribute itself requires a mapping.

Especially without a means to provide alternative text to the displayed visual, what benefit is there in indicating that a 'poster' rather than a still fr

[2020-02-07 18:39] JAWS-test2 commented on #277
I agree that the role "poster" is not relevant, but the information of the poster image may be relevant in rare cases and there is currently no way I know of to transmit it (unless it is written as text below the video element)

[2020-02-07 19:10] scottaohara commented on #277
Agreed, there is no current way to relay the information of an image the `poster` attribute references.  Nor would the `poster` attribute be the mechanism to do that, much like the `src` of an `img` does not communicate the purpose of the graphic.

With that said, here's a discussion from the [W3C HTML repo about this topic](https://github.com/w3c/html/issues/1431).  Maybe some of the history that

[2020-02-07 19:10] #277 closed, assigned to nobody

[2020-02-07 20:20] JAWS-test commented on #280
Related: https://github.com/w3c/aria/issues/1054, https://github.com/w3c/html-aam/issues/160

[2020-02-12 15:17] Jym77 opened #281 "rb element is not present in role mapping table"
In the [HTML Element Role Mappings table](https://www.w3.org/TR/html-aam-1.0/#html-element-role-mappings), the `<ruby>`, `<rp>` and `<rt>` elements are listed, but the closely related `<rb>` is not.
Given that it's not in the Core AAM either, I guess it is missing and should be added (not sure with what values, however…)

[2020-02-12 16:04] scottaohara commented on #281
It's not "missing", as it's purposefully not there.

from the changelog:

[2020-02-13 08:08] Jym77 commented on #281
Interesting. I have indeed missed that the ruby scripting had been simplified (removing `<rb>` and `<rtc>`).

[2020-02-13 08:08] #281 closed, assigned to nobody

[2020-02-13 12:25] scottaohara commented on #281
It is still in HTML 5.2 / the HTML 5.3 draft.  But these elements were obsolete in the HTML Living Standard for years now.  And since the Living Standard is now the only HTML specification being worked on, this spec looks to it for determining what elements are obsolete.

[2020-02-18 23:10] cletusw opened #323 "`<header>` inside `role="region"` given role `banner`"
According to [the HTML spec](https://www.w3.org/TR/html-aam-1.0/#details-id-47), `<header>`s inside `<section>`s, `<article>`s, etc. don't take a landmark role (outside they would have `role="banner"`). Currently it appears this is hardcoded to those exact HTML elements. Should that be extended to be based off the ancestor's ARIA `role` instead, so the same behavior happens to `<header>`s inside e

[2020-02-19 03:51] JAWS-test commented on #323
Analogue for footer. Related: https://github.com/w3c/html-aam/issues/222

[2020-02-19 21:42] asurkov opened #282 "text elements not listed elsewhere allow name from subtree"
text elements not listed elsewhere like time, strong, etc allow name from subtree [1], these elements are often not exposed to the accessible tree as individual objects but if they are, they are not interactive and thus shouldn't be treated different from HTML:p (section and grouping content elements). Also the spec doesn't match Chrome/Firefox/Safari implementations.

If no objections, then I sug

[2020-02-19 23:02] scottaohara commented on #282
Seems that many of these elements should fall under #160 and should have naming prohibited.

While understood this doesn't match chrome/firefox/safari, removing the name from subtree step would then mean `title` would provide an accessible name for all these elements, and not a description, which also doesn't seem right.

[2020-02-20 10:58] stevefaulkner commented on #282
We are talking about implementation behavior in regards to use of subtree in accname calculation: if the dominant/interoperable behaviour in implementations diverges from what is defined I suggest it be removed as @asurkov suggests. On @scottaohara's point `title` would still be a fallback accname in cases where no `aria-label/labelledby` provided, this is the case currently for some other element

[2020-02-20 20:03] asurkov commented on #282
many of these elements indeed fall under #160 description, however I'm not sure whether that issue should be fixed at all. If author puts @title on an element having no semantics like HTML:span, then I suppose it's made on purpose - indeed it creates a tooltip on mouseover, so the user can interact with the element. Also it affects (or should affect) on accessible name, since the element may be co

[2020-02-20 20:11] asurkov commented on #282
me neither, I suppose it's not different from AT perspective if author puts aria-label on these elements.

I bet they aren't. Not sure if HTML-aam spec covers this (if not then it should), but implementations should be aligned.

I don't recall NSAccessibility, but your findings suggest that title and aria-label exposed differently on mac. Not sure, but perhaps it has a reason? cc'ing @cookiecrook

[2020-02-21 00:46] scottaohara commented on #282
still not sure i agree that `title` should be used for accessible name for these elements when there's subtree content which is how these should typically be exposed.  Also not sure how this jives with annotations work over in the ARIA spec.

See current working definition of [`aria-description`](https://rawgit.com/w3c/aria/master/#aria-description) that notes its related concept is the `title` at

[2020-02-21 03:07] JAWS-test commented on #282
I don't understand the whole discussion, since I assume that [Accname](https://w3c.github.io/accname/) is the specification that governs all this. In HTML-AAM, only the results derived from Accname are described in an easily understandable way. That means that the chapter in HTML-AAM cannot be changed without changing Accname, unless both specifications contradict each other. If something is to be

[2020-02-21 15:54] asurkov commented on #282
aria-desription like HTML title attribute are indeed represent a concept of accessible description. However, accessible name is a primary characteristic the AT deals with, so an element having no name but having description is less typical/accessible than an element with name but without description. So historically the browsers repaired accessible name if none was provided explicitly (like HTML l

[2020-02-21 16:10] asurkov commented on #282
correct

not necessary, because accname spec delegates name computation rules from native markup. Previously (iirc) it also allowed to specify which elements support name computation from subtree. However now I see accname regulates that by listing roles that allow name from content, https://www.w3.org/TR/wai-aria/#namefromcontent. Also see accname alg F https://www.w3.org/TR/accname-1.1/#mapping_

[2020-02-21 16:28] scottaohara commented on #282
Thank you @asurkov !

[2020-02-25 18:29] JAWS-test commented on #282
In ARIA we have some roles that must not be named: https://w3c.github.io/aria/#namefromprohibited.

It would make sense if all equivalent HTML elements were also not allowed to be named (whether with title attribute, content or aria-label/aria-labelledby).

The question is, what should screen readers output when unnamed elements get the focus, are displayed in the element overview, or are reached

[2020-02-25 19:16] asurkov commented on #282
I filed PR for the change https://github.com/w3c/html-aam/pull/283

[2020-02-25 19:18] asurkov commented on #282
Seems like we should, but also perhaps a different issue. Shall I go and file it?

[2020-02-25 20:58] JAWS-test commented on #282
Yes

[2020-02-26 00:57] scottaohara commented on #282
I would again submit that's what #160 should be for.  Consider prohibiting naming of elements.  Yes.

[2020-02-26 15:27] asurkov commented on #282
It it about JAWS-test comment or this issue or both?

[2020-02-26 21:08] scottaohara commented on #282
Specifically about JAWS-Test's comment, but both really.  Certain elements, including the ones in this thread, really *shouldn't* be named and should be represented by the contents of their subtree.

A bit of clarity there though.  The naming prohibited in ARIA 1.2 is not a MUST, as naming such elements/roles is done in the wild now and it was not ARIA's intent to completely remove any naming mech

[2020-03-02 18:20] asurkov commented on #282
Ok, good, it makes sense. Let's keep the discussion at #160 issue then?

What do we do about this issue and PR #283 in particular? Do we still want to align the spec with implementations before #160 is sorted out?

[2020-03-02 18:29] asurkov commented on #160
Here's scottaohara comment from https://github.com/w3c/html-aam/issues/282#issuecomment-591644760, which I like how it summarizes the issue:

"A bit of clarity there though. The naming prohibited in ARIA 1.2 is not a MUST, as naming such elements/roles is done in the wild now and it was not ARIA's intent to completely remove any naming mechanisms for those elements, but rather to inform authors th

[2020-03-02 22:45] jcsteh commented on #160
FWIW, I wrote [a blog post](https://www.jantrid.net/2015/12/woe-aria-surprisingly-but-ridiculously.html) several years ago which explains some of the complexity here and why screen readers ignore aria-label/ledby in cases like these. I think these proposed changes would address most of this, but I thought it worth providing the additional reference.

[2020-03-02 22:59] sideshowbarker commented on #160
Yes, it would be great if the group could decide that and then update the ARIA spec with some normative document-conformance requirements.

To help with that, the https://validator.w3.org/nu/ HTML checker has for quite a while now been emitting warnings for cases where `aria-label` is specified for elements that it shouldn’t be. To determine which cases to emit that warning for, I’ve been followin

[2020-03-06 06:52] marcoscaceres opened #284 "Add Internationalization Considerations section"
There may or may not be any internationalization concerns with the spec, but we should make sure to have an "Internationalization Considerations" section stating that we've taken i18n into consideration. Of course, if there are things that should be considered, we should add them there :)

This is part of w3c/webappswg#25

[2020-03-19 18:02] aleventhal opened #285 "Remove VARIANT section"
The VARIANT section that describes using a BSTR can now be removed:
https://www.w3.org/TR/html-aam-1.0/#use-of-msaa-variant-by-some-user-agents

I've coordinated this with Mozilla, JAWS and NVDA. This technique was necessary before IA2 existed, and screen readers no longer use it.

As a code cleanup, we're planning to remove the BSTR roles from Chrome, and only use enumerated roles.

[2020-03-19 22:31] scottaohara commented on #285
Thank you for the heads up @aleventhal

[2020-03-26 15:10] MarcoZehe commented on #229
Note: Also map the `<code>` element to what ARIA 1.2 proposes. Especially the ATK and IA2 mappings differ.

[2020-04-23 17:04] aardrian opened #288 "Map maxlength"
Currently the HTML `maxlength` attribute on a text input is not mapped to any accessibility APIs.

Visually this _may_ not be an issue for a sighted user as they will see no more characters are accepted in a field.

But for a screen reader user, since this attribute is not exposed there is no way for a screen reader user to know there is a limit nor that they may have exceeded (short of exiting an

[2020-04-23 17:05] aardrian commented on #288
And I see there is discussion at the ARIA spec for a dedicated property (thanks @scottaohara):
https://github.com/w3c/aria/issues/1119

[2020-05-21 22:04] cookiecrook opened #290 "Ambiguous whether <img alt=""> should negate the tree inclusion of accessible SVG content"
There are a number of [WebKit bug reports related to SVG](https://bugs.webkit.org/buglist.cgi?bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&bug_status=RESOLVED&bug_status=VERIFIED&bug_status=CLOSED&component=Accessibility&query_format=advanced&short_desc=SVG&short_desc_type=allwordssubstr), and one of the recurring themes is differences of opinion of what should hap

[2020-05-21 22:18] cookiecrook commented on #290
My personal opinion is that there should be several different conflict resolutions. Listing a few here, starting with the first example above:

1. Ambiguous conflict: `alt=""` with accessible contents. Expose the contents because they are accessible in the file and rendered to sighted users. `<img alt="">` equates to `role="none"` so sub-tree contents should be exposed as they would be on `<div ro

[2020-05-21 22:24] cookiecrook commented on #43
Also https://github.com/w3c/html-aam/issues/290

[2020-05-21 22:49] AmeliaBR commented on #290
WebKit is unique in exposing any accessible content from a document linked via `<img>`. The specs assume that the image is always treated as an atomic element (no children), so it is understandable that no specs have further guidelines. Specifically, [the `<img>` element maps to the `img` role](https://w3c.github.io/html-aam/#el-img), which means that any children are presentational. An `<iframe r

[2020-05-22 00:11] cookiecrook commented on #290
I think the only reason other browsers don't expose SVG accessibility is just because they haven't gotten around to it yet.

IMO, that's clearly an oversight/error in the spec, but I'm open to conflicting opinions if there's a case for it.

For leaf node images, I'd agree. For linked accessible content, like some SVGs ([a few accessible SVG examples](https://cookiecrook.com/longdesc/)) I don't agr

[2020-05-26 10:27] stevefaulkner commented on #290
@cookiecrook use of `alt=""` on an `img` element is a longstanding and widely understood indication that AT can ignore the image. I am not understanding why we should break this convention in this case? there is always the possibility that an image marked as `alt=""` contains useful information.

[2020-05-26 14:45] AmeliaBR commented on #290
And for this reason, I've actually argued before that maybe the spec should ease up on the expectation that empty alt means completely hidden content. But if so, that should be discussed in general, for all images (e.g., so that the undescribed image could be exposed with a prompt to use an image recognition service to generate a description).

There shouldn't be one behavior for raster images and

[2020-05-28 19:38] mfairchild365 opened #291 "Consider mapping accessible name change events"
[Core-AAM provides mappings for name change events](https://w3c.github.io/core-aam/#mapping_events_state-change) that occur via `aria-label` and `aria-labelledby`.

It might be worthwhile to map HTML based name changes to appropriate events in HTML-aam. For example, the `<label>` of a form control, or the `innerText` of a `<button>` or `<a href>`.

[2020-05-29 21:14] #285 closed, assigned to nobody

[2020-05-29 21:20] #270 closed, assigned to nobody

[2020-06-07 21:21] Malvoz opened #292 "Is it possible to expose descendants of childrenArePresentational?"
The Maps For HTML Community Group has a [custom `<map>` component](https://github.com/Maps4HTML/Web-Map-Custom-Element), but in testing I had found that no child elements of `<map>` (I believe anything that isn't `<area>`) are being exposed in the accessibility tree.

Is it possible to tell UAs to expose descendants of [`childrenArePresentational`](https://www.w3.org/TR/wai-aria-1.1/#childrenArePr

[2020-06-07 21:30] stevefaulkner commented on #292
try adding a role to the map element, for example
[code]

[2020-06-07 21:57] Malvoz commented on #292
Thanks for the quick response @stevefaulkner, I should've described my previous attempts, which include adding `role="region"` (although specifying `role` isn't permitted for `<map>`), `tabindex="0"` (is focusable but node not exposed) amongst other things. I also tried `aria-hidden="false"`, which I'm not sure is or should be capable of achieving what I want here, but that's not really implemente

[2020-06-07 22:27] stevefaulkner commented on #292
@Malvoz thanks for the info, I see that it is causing issue in chrome, works fine in Firefox.
- theoretically the `role` should override the native element `role`, so should not be `childrenarepresentational=true`,
- `aria-hidden=false` will be of no help here for a number of reasons

Will look into it more on the morrow, it is late here now :-)

[2020-06-24 22:37] zcorpan commented on #292
Is it specified somewhere that `map` should have `childrenArePresentational`?

[2020-06-26 15:52] dd8 opened #293 "No conforming way to opt out of layout table heurisitics"
![](https://pubchem.ncbi.nlm.nih.gov/periodic-table/png/Periodic_Table_of_Elements_w_Chemical_Group_Block_PubChem.png)
The HTML Standard encourages user agents to implement layout table detection heuristics, but only makes broad suggestions on what they should be.

https://html.spec.whatwg.org/multipage/tables.html#the-table-element

The spec has encouraged layout table detection heuristics for a

[2020-06-28 04:21] JAWS-test commented on #293
Your suggestion is to allow role=table on the table element? I think this is good as an interim solution, but in the long run it would be better to abolish the absurd table heuristics completely

[2020-06-28 14:42] dd8 commented on #293
Yes, I think the options are:

1) make `role=table` on `table` elements conforming and specify that it overrides the layout table heuristic
2) keep the status quo and accept tables aren't always voiced as tables
3) agree and specify layout table heuristics and wait for all AT/browser vendors to implement them
4) remove the layout table heuristics from the HTML spec and wait for all AT/browser vend

[2020-06-28 16:15] dd8 commented on #293
Here's a good example of layout table heuristics causing problems on a table with `th` headers - the Periodic Table on Wikipedia:
https://en.wikipedia.org/wiki/Periodic_table#Overview

- VoiceOver with Safari 13.1.1 - not read as table and no table semantics exposed in macOS Accessibility Inspector
- Chrome 83 - exposed as table in Accessibility tab in devtools
- Firefox 72 - exposed as table in A

[2020-06-29 03:02] #282 closed, assigned to nobody

[2020-06-29 04:20] JAWS-test commented on #293
I agree that role=table on the table element is currently the best solution

[2020-07-13 14:45] aleventhal opened #294 "Order of precedence for placeholder, aria-placeholder seems incorrect"
Re: "When the placeholder and aria-placeholder attributes are both present, and the placeholder attribute's value is non-empty, user agents MUST expose the value of the placeholder attribute, and ignore aria-placeholder."

In general, ARIA is always an override. When native semantics and ARIA are both present, the rule is that ARIA always takes precedence. This is a weird exception, and its presen

[2020-07-13 15:27] asurkov commented on #294
The spec'ed out behaviour matches ARIA core mapping conflicts rules (https://www.w3.org/TR/core-aam-1.1/#mapping_conflicts):

"When a host language declares a WAI-ARIA attribute to be in direct semantic conflict with a native attribute for a given element, user agents MUST ignore the WAI-ARIA attribute and instead use the host language attribute with the same implicit semantic. "

[2020-07-13 15:46] aleventhal commented on #294
Well, I guess I'm still learning ARIA!

Doesn't ARIA sometimes override native semantics? That's how it used to work. (Otherwise, why would the author have added the ARIA at all).

[2020-07-13 16:00] asurkov commented on #294
It evolves, so totally explainable :)

Yes, at least it declares so :)

"Except for the cases outlined below, user agents MUST always use the WAI-ARIA semantics to define how it exposes the element to accessibility APIs, rather than using the host language semantics."

I think ARIA roles is an example where ARIA wins.

[2020-07-13 16:22] JAWS-test commented on #294
I think the idea was that ARIA roles win over implicit (native) roles, but not the ARIA attributes over the native attributes. That sounds good, but in practice it gets complicated. Because what is the corresponding HTML attribute to an ARIA attribute? Is it what is specified in [Related Concept](https://www.w3.org/TR/wai-aria-1.2/#relatedConcept)? If it is, then the rule does not always apply, be

[2020-07-13 16:42] aleventhal commented on #294
There's no chance that browsers all do this the same way. I guess I'm bummed that this was made so much more complicated. It was so simple before, with ARIA always wins. I don't even see precedence rules in every property here, and it's not always obvious.

But rather than be sad, I guess we should fix it. If anyone wants to help file an issue on Chrome with all of the places we get it wrong, that

[2020-07-13 16:52] asurkov commented on #294
Wonder if there are wpt test covering that and if not, then would it be a good start to identify problematic areas across the browsers. Or are a11y wpts blocked by AOM?

Anyway, shall we close the issue as the spec seems saying the correct thing?

[2020-07-13 17:27] johnfoliot commented on #294
FWIW, I'm with Aaron, in that I expected the ARIA attribute to take
precedence as well (despite what is currently written).

Rather than "fixing the browsers", can we perhaps fix the spec instead?

NOTE: I don't have much of a horse in this race, but concur with Aaron that
the "ARIA always takes precedence" comment is one that is received well by
new authors, and has a symmetry that makes a ton of

[2020-07-14 04:16] JAWS-test commented on #294
I will not do that, because I consider the problems mentioned to be irrelevant. No matter what the specification says, if you use e.g. disabled and aria-disabled in a contradictory way on an element, it is your own fault if it does not work correctly. There are more important problems related to ARIA, browsers and AT

[2020-07-14 07:31] JAWS-test commented on #294
With regard to aria-placeholder you can close the issue, but I would then create a new one with the questions about [mapping conflicts](https://github.com/w3c/html-aam/issues/294#issuecomment-657657484)

[2020-07-20 17:19] asurkov opened #295 "Inert subtrees mapping"
Need to spec out how inert subtrees are exposed to AT. Dialog-backed inert content perhaps makes no interest for screen readers and may be safely cut off, however screen magnifiers might need it. HTML:inert, which is re-added in [1], seems adds a bunch of new use cases which vary from offscreen accessible elements to image carousel controls, thus I'm not quite sure what mapping could make the best

[2020-07-24 09:55] dd8 opened #296 "HTML Standard and html-aam interaction allows conforming images with role=img but no accessible name"
The guidance for conformance checkers in the HTML spec says:

https://html.spec.whatwg.org/multipage/images.html#guidance-for-conformance-checkers

But `figure` with `figcaption` doesn't affect acc name or role calculation on `img`, so images with no accessible name are conforming if they're inside a `figure` with `figcaption`

The html-aam calcs reflect implementations - but the interaction creat

[2020-07-24 11:40] dd8 commented on #296
It's not immediately obvious what the correct resolution is - should the guidance be withdrawn from the HTML Standard or should html-aam take `figcaption` into account in some way?

Using  the figcaption example from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption provides some clues:

This is quite verbose in AT since "An elephant at sunset" is voiced multiple times:
[code]

[2020-07-24 12:03] JAWS-test commented on #296
The variant to mark the graphic within figure as layout graphic has 2 disadvantages:
* Screen reader users have no chance to save the graphic, etc., because they cannot reach it with the virtual cursor and therefore cannot use the browser context menu for graphics
* A JAWS bug in combination with layout graphics within figure will cause the figure element and its label (via figcaption) to not be o

[2020-07-24 20:39] scottaohara commented on #296
i'm not convinced there's anything to change here at this time.

The thread thus far also assumes that there would only ever be a single `img` inside of a `figure`.  In reviewing client sites I've seen valid use cases where 2+ images were used/needed.  each with an alt that provides a description of the image for AT, and then a figcaption that provides a further description for why the content is

[2020-07-25 13:44] dd8 commented on #296
The HTML Standard says figcaption can take the place of alt when the figure contains a single image. This doesn't apply when the figure contains multiple images or other content:
https://html.spec.whatwg.org/multipage/images.html#figcaption-as-alt-condition

The HTML Standard has said this for a long time and the text appeared in the W3 HTML 5.0, 5.1 and 5.2 recommendations:
https://www.w3.org/TR/

[2020-07-25 20:23] scottaohara commented on #296
The portion of the spec you cite is specifically about if the content of the image cannot be determined, and in such cases it is better to omit the alt (for AT, thus allowing the image's file name to possibly be announced) and rely on the figcaption to convey its purpose.  This is not "replacing the alt" as you put it, but noting that the image is provided a caption, so in this case don't throw an

[2020-07-25 20:23] #296 closed, assigned to nobody

[2020-07-26 09:33] JAWS-test commented on #294
@aleventhal
I checked other conflicts between HTML and ARIA attributes and found that Firefox always resolves these conflicts correctly (in favor of HTML), but Chrome usually resolves them incorrectly (in favor of ARIA). This affects the following HTML attributes and the corresponding ARIA attributes:
* checked aria-checked=false
* multiple aria-multiselectable=false
* readonly aria-readonly=false

[2020-07-27 16:40] aleventhal commented on #295
@cookiecrook is the only way to deal with inert content on Mac to prune it from the tree?

[2020-07-30 12:16] WilcoFiers opened #297 "Link to HTML 5 definitions of column header and row header?"
There are a few uses of the term "column header" and "row header" such as the following:

I'm assuming that "column header" and "row header" here mean column header / row header as defined in HTML:

- https://html.spec.whatwg.org/multipage/tables.html#row-header
- https://html.spec.whatwg.org/multipage/tables.html#column-header

This is not immediately obvious. It would be helpful if this was clar

[2020-08-02 22:14] stevefaulkner commented on #2
In chrome Version 84.0.4147.105 (Official Build) (64-bit) `meter` is exposed as `progress bar` in MSAA + iA2, expected Role: IA2_ROLE_LEVEL_BAR as per https://www.w3.org/TR/html-aam-1.0/#details-id-91 /cc @aleventhal

[2020-08-11 03:37] carmacleod opened #298 "implicit role for td/th in treegrid is gridcell"
The [HTML Element Role Mappings table](https://w3c.github.io/html-aam/#html-element-role-mappings) needs to specify the implicit role for a td in a treegrid.

We should probably just add "or treegrid" to the row for "td (ancestor table element has grid role)" as follows:

td (ancestor table element has grid or treegrid role) | gridcell role | Use WAI-ARIA mapping ...
-- | -- | --

[2020-08-11 03:41] carmacleod commented on #298
Should change th as well.

[2020-08-11 09:16] dd8 opened #300 "What should happen if label element contains child elements"
This code has a `label` whose only content is a `span` containing nested label text. The HTML content model for the label element allows phrasing content (other than descendant label elements).

[code]
https://www.breckland.gov.uk/

All of the mainstream browsers ignore the `span` contents nested inside the `label`.
- Chrome accessibility inspector shows the accessible name of `search-field` as `l

[2020-08-11 10:09] JAWS-test commented on #300
The problem on the page has nothing to do with the span. The text content of a label is always correctly recognized as a label, no matter how it is nested. The error is that the label was marked with display:none

[2020-08-11 10:32] dd8 commented on #300
If I remove the `display:none' the label is calculated correctly in Chrome and Firefox, but not Safari - it still shows as an empty string.

[2020-08-11 10:57] stevefaulkner commented on #300
check the accessibility API title property, that is where the acc name shows up for labels on Mac as i recall

[2020-08-11 11:22] JAWS-test commented on #300
I have only tested it in Firefox and Chrome, as I unfortunately do not have Safari.

For the output of hidden labels see: https://github.com/w3c/accname/issues/57

[2020-08-11 11:34] dd8 commented on #300
The `label` with `display:none` is definitely causing interop issues. It's treated inconsistently between browsers and Chrome isn't even internally consistent.

[code]

|                  | Safari  | Firefox  | Chrome  |
|---|---|---|---|
| acc name |  empty | This is a placeholder  |  empty string *and* 'This is a title' |
|  acc desc  | empty  | This is a title  | none |

Chrome: the Accessibili

[2020-08-11 11:55] JAWS-test commented on #300
However, this has changed the content of the issue. Can you please change the title because the question in the title has been answered, right?

[2020-08-11 12:13] #298 closed, assigned to nobody

[2020-08-11 12:32] #297 closed, assigned to nobody

[2020-08-11 13:18] stevefaulkner commented on #300
it is in fact the "`Title UIElement`" property that exposes the `label` element text in Safari

[2020-08-11 18:43] scottaohara opened #302 "ARIA 1.2 update for input[list]"
presently for an input with a list attribute, html aam states:

but this is being revised in ARIA 1.2, where this should instead state:

[2020-08-13 18:15] aleventhal commented on #2
@stevefaulkner correcting the mapping in Chrome unfortunately leads to a worse experience.
Using ```<p>Heat the oven to <meter min="200" max="500" value="350">350 degrees</meter></p>```

Current Chrome, with incorrect mapping of ROLE_SYSTEM_PROGRESSBAR:
JAWS:  [down arrow] Heat the oven to [down arrow] 350 meter
NVDA: [down arrow] Heat the oven to [down arrow] progress bar 350

Patched Chrome, wit

[2020-08-13 18:35] aleventhal commented on #2
I feel like the text inside of the meter is more descriptive and is what should be read.
We should probably update the mapping to expose the inner text via the valuetext attribute on IA2/ATK and AXValueDescription for AX.

[2020-08-13 19:12] JAWS-test commented on #2
See https://github.com/w3c/aria/issues/1308

[2020-08-20 11:38] scottaohara commented on #294
while in the informative section, [Using WAI ARIA](https://www.w3.org/TR/wai-aria-1.0/usage), since 1.0 the spec has mentioned that host language attributes take precedent over ARIA attributes.

thanks for checking those attributes out, @JAWS-test

[2020-08-20 11:38] #294 closed, assigned to nobody

[2020-08-26 18:49] eps1lon opened #304 "Notes about algorithm for input type="image""
1. > 2. Otherwise use alt attribute. 3. Otherwise use title attribute.

   Is the "otherwise" in point 3 similar to 5.1.1 where we have

   ?
   Right now I can see no consistent language regarding these steps. It seems to me that every step only applies if the previous steps did not produce a name. But sometimes we have this explicitly mentioned and sometimes not.
2. >  the accessible name is a l

[2020-08-27 17:56] jnurthen commented on #551
@aleventhal if you want to see this in 1.3 then please change back to a 1.3 Milestone

[2020-08-31 22:39] alice commented on #295
Could we expose it the same way we do `aria-hidden`? i.e. expose it but mark it as hidden, and prune from the tree for APIs which don't have that concept.

Also, we could support `aria-hidden=false` on inert roots, if authors really wanted to override that behaviour.

[2020-08-31 23:36] jcsteh commented on #295
That's not what the spec says, nor what any current browser does, at least on Windows (including Chrome from a brief test I just did, though I believe Chrome makes an exception for focused/focusable content). aria-hidden prunes the tree. There was [an attempt to change this](https://github.com/w3c/aria/issues/1185), but it's getting a fair amount of pushback (including from me) due to backwards co

[2020-09-02 13:45] asurkov commented on #295
Supposedly Accessibility APIs would need a new state for inert state? I assume no existing mapping makes a good match?

[2020-09-10 00:42] alice commented on #295
Good question. What would we hope AT users would be able to do with inert nodes?

[2020-09-30 07:35] marcoscaceres commented on #233
Thanks @scottaohara for writing up the summary early. You get extra points! 🌟

Leaving this open, as using this for TPAC meeting planning.

[2020-09-30 14:03] LJWatson commented on #233
@marcoscaceres  this is the status report from 2019. HTML AAM has been returned to the ARIA WG since then. @michael-n-cooper can we get this repo shifted over to the ARIA WG.

CC @jnurthen  @joanmarie

[2020-10-06 12:41] scottaohara opened #305 "map <link> to role=link"
See [ARIA in HTML issue 205](https://github.com/w3c/html-aria/issues/205).

Having had a discussion about this again today, outside of a github thread, and per the previous testing I had done to review how a `<link>` is exposed (not that users will typically ever see one), I don't see any reason not to just indicate the element maps to the `link` role.

[2020-10-13 08:31] 36degrees opened #308 "Broken anchor link for summary recommended mappings"
In [6.1.2](https://www.w3.org/TR/html-aam-1.0/#role-name-state-and-property-mapping), the anchor link 'recommended mappings for the summary element' (`#el-summary`) does not work.

It looks like there is an element on the page with the ID `el-summary` but possibly it's affected by the JavaScript on the mapping table?

https://github.com/w3c/html-aam/blob/a5637d23f91c6990cc857fe8a4098b71ec5990da/in

[2020-10-14 18:08] saizai opened #309 "Proposal: HTML use of remote alt text; matching extension/formalization for HTTP Content-Disposition & MIME"
# Recipient list

WHATWG: html, html-aam, html-aria
W3C WGs: html, apa, aria, webapps
IETF WGs: httpbis, 822ext

CC authors of (current) prior RFCs: Nathaniel Borenstein, Steve Dorner, Ned Freed, Ed Levinson, Keith Moore, Julian Reschke, Rens Troost

Cross-posted by email to W3C & IETF groups, and by GitHub to WHATWG at:
* main: https://github.com/w3c/html-aam/issues/309
* crossposts by reference:

[2020-10-14 19:03] saizai commented on #309
Editing fail. "That" refers to the immediately following "if" block.

[2020-10-16 15:41] lrosenthol commented on #309
This should also be connected with https://github.com/whatwg/html/issues/5890 which proposes to enable access to XMP (the standard for embedded asset metadata) by browsers/. It evens mentions previously efforts by the W3C to address the problem.

[2020-10-16 16:26] saizai commented on #309
@lrosenthol Thanks for the cross link. I wasn't aware of XMP. Seems like a very good overlap, and https://www.w3.org/html/wg/wiki/Metadata specifically mentions the accessibility use case.

[2020-10-20 14:58] AlexLloyd0 opened #310 "Option role dead link and clarification"
The entry for [option](https://www.w3.org/TR/html-aam-1.0/#details-id-97) in the element-role mapping has a dead link for "list of options".

The [ARIA in HTML](https://www.w3.org/TR/html-aria/#el-option) spec links to https://html.spec.whatwg.org/multipage/input.html#attr-input-list. From my reading this means that `<option>` has a role of `option` if and only if it is a `<datalist><option>`.

Is

[2020-10-20 18:00] scottaohara commented on #310
the link is just not correctly remapping to https://html.spec.whatwg.org/multipage/form-elements.html#concept-select-option-list from the previous link that went to the W3C spec

[2020-10-20 18:01] #310 closed, assigned to nobody

[2020-10-20 18:08] scottaohara opened #311 "states vs properties reference is broken"
2 respec errors for broken links.  likely should be going to https://www.w3.org/TR/wai-aria-1.1/#statevsprop

[2020-10-21 07:23] AlexLloyd0 commented on #310
Thanks for updating. So an `<option>` has a role of option if it is in a list of options (`<select><option>` or `<select><optgroup><option>`) or in a datalist (`<datalist><option>`). But these are the only [contexts in which an option can be used](https://html.spec.whatwg.org/multipage/form-elements.html#the-option-element).

So should HTML-AAM entry be for just `option`, as `in a list of options

[2020-10-22 10:00] mrobinson opened #312 "Potential ambiguity with role=combobox and contenteditable on MacOS"
In [a recent Chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1125165) there is an issue where a `<div contenteditable>` with a combobox role is presented as a textarea on macOS. Safari seems to present this element as a combobox. The 1.2 draft version of WAI-ARIA has text which allows the combobox role on elements that are not simply single-line text entries.

Should the HTML-A

[2020-10-22 10:01] mrobinson commented on #312
cc @cookiecrook @joanmarie

[2020-10-22 15:28] saizai commented on #309
@dwsinger wrote on the w3c email thread:

[2020-10-22 16:44] mcking65 commented on #312
ARIA requires that an editable combobox be a single line text field.

[2020-10-22 18:16] kloots commented on #312
@mcking65 Regarding:

Does that mean this can be resolved by authors simply adding `aria-multiline="false"` to a `contenteditable` element?

[2020-10-22 18:17] kloots commented on #312
Also @mcking65 just curious as to why ARIA requires editable combobox be a single line text field? Why does this requirement exist?

[2020-10-22 23:02] carmacleod commented on #312
Happened to notice `aria-owns="owned_listbox"` in the above code. Just pointing out that ARIA 1.2 combobox prefers the use of `aria-controls="controlled_listbox"` instead of `aria-owns`, because technically, text fields aren't supposed to have children.

[2020-10-23 01:01] kloots commented on #312
@carmacleod are you suggesting the use of `aria-owns` is somehow contributing to the problem? Or are you just noting the spec change?

[2020-10-23 01:19] kloots commented on #312
Thought it was worth mentioning Chrome for Mac _is_ the outlier here. I just did a round of testing across popular screen reader + browser combinations to see how `role="combobox"` is supported on multiline text inputs created via the `contenteditable` attribute:

NVDA 2020.3 + Chrome 86 + mutiline text input: SUPPORTED
NVDA 2020.3 + Firefox 81 + mutiline text input: SUPPORTED
JAWS 2020 + Chrome 8

[2020-10-23 02:29] carmacleod commented on #312
@kloots Noting the spec change.

[2020-10-23 04:23] JAWS-test commented on #312
I can imagine that in the future it might be good if role=combobox is also allowed on multiline input fields to allow combobox with multiple selection. Each line in the input field represents one value. In practice you can already see many comboboxes with multiple selection, but all of them do not work well with assistive technology because there are no corresponding ARIA roles and attributes.

[2020-10-23 06:01] mrobinson commented on #312
Note that the draft ARIA spec (1.2) seems a bit ambiguous as well. I think the relevant text is:

I'm not sure if this MAY should be a MUST here.

[2020-10-23 22:09] kloots commented on #312
In the interest of unblocking @mrobinson on [Chromium issue 1125165](https://bugs.chromium.org/p/chromium/issues/detail?id=1125165). Is there at least agreement on `role="combobox"` being supported on `<div contenteditable="true">` so long as `aria-multiline` is set to "false"?

[2020-10-24 03:14] carmacleod commented on #312
Yes, that is supported in the 1.2 spec, which will be moving to Candidate Recommendation status any day now. :)

[2020-10-28 17:37] stevefaulkner commented on #229
@scottaohara `dl` will map to generic?

[2020-10-29 07:36] mcking65 commented on #46
With the combination of w3c/aria#1051, w3c/aria#1223, and w3c/aria#1225, the [ARIA 1.2 combobox](https://w3c.github.io/aria/#combobox) no longer needs to include or be made from an element with the textbox role, and it can expose a value to assistive technologies without an editable input element. Thus, the ARIA 1.2 combobox can perfectly emulate a select@size=1.

With these changes, the HTML-AAM

[2020-10-29 09:14] eps1lon commented on #46
@mcking65 Is there a working example of the 1.2 pattern in the APG? I can't make heads or tails off all the contradicting SHOULD statements in the ARIA 1.2 combobox. Specifically, I'm not understanding how you can say with such a confidence that the combobox "no longer needs to include or be made from an element with the textbox role". The ARIA 1.2 combobox mentions an input multiple times and a s

[2020-10-29 14:07] JAWS-test commented on #46
@eps1lon:

[ARIA 1.2](https://rawgit.com/w3c/aria/master/#combobox) says:

The second part of the definition (after the "or") applies to select size=1.

I suppose that there is nothing to change. I also consider the current solution inappropriate (see https://github.com/w3c/aria/pull/1051#issuecomment-548215186).

[2020-10-29 14:40] craigkovatch commented on #46
I too am struggling to understand why a select size 1 would be a combobox and not a button with-a popup.

[2020-10-29 14:45] eps1lon commented on #46
Sure, I'm not saying that there are sentences from which I can derive a markup that implements select@size=1. It's just that sentences contradict each other. First a combobox always has an input and in the next sentence it doesn't need one. Maybe I'm reading the spec wrong? Does the last sentence always override previous ones?

[2020-10-29 17:31] JAWS-test commented on #46
@eps1lon

You're right. The first sentence should be reworded. It is currently:

This contradicts the second sentence. Sorry, I had not read carefully enough

[2020-10-29 17:33] JAWS-test commented on #46
@craigkovatch

The problem with a button is that it cannot have most of the important properties of a form field, such as invalid, required, errormessage, etc. Also it cannot have a label and a value at the same time.

[2020-10-29 18:03] carmacleod commented on #46
APG example: https://w3c.github.io/aria-practices/examples/combobox/combobox-select-only.html

The word "input" in the combobox spec refers to the [abstract "input" role](https://w3c.github.io/aria/#input).
Which is obviously a source of confusion because of HTML input... (and also because a button isn't an ARIA input... but a combobox is...).
Agree that some wordsmithing is required here.

[2020-10-29 18:26] JAWS-test commented on #46
@carmacleod

I think this is only valid for the first sentence (input is also linked there):

But I don't think it applies to the second sentence (different name and formatting):

Not to mention that "input field" is wrong, because it is not always an input field, but just a div or any other element without role, if select@size=1 is to be emulated.

I think that the sentences should be reformulate

[2020-10-30 15:06] scottaohara commented on #46
Let's please not get off topic with commenting on ARIA/APG wording in this issue.

Per the issue that @JAWS-test just opened, any ARIA wording discussion can move there.

To tie up some lingering comments about misalignment is specs / how browsers expose element roles, there is no misalignment (save for the reference to the HTML 5.0 spec, which is outdated when compared to the 5.2 spec... which th

[2021-01-04 01:31] mcking65 commented on #312
@JAWS-test wrote:

It gets tricky in part because up and down arrow are for navigating in/out/through the options, not for reading through a long input value.

Also, a multi-line text area with features like typeahead suggestions, like this GitHub comment editor, are not a combobox. A key feature of a combobox is that you are setting the entire value of the input by choosing from the list.

It see

[2021-01-04 05:58] mcking65 commented on #46
I think we can close this issue now. It is essentially overcome by events -- the changes in ARIA to accommodate existing mappings.

[2021-01-04 15:15] scottaohara commented on #46
Agree @mcking65, thanks

[2021-01-04 15:15] #46 closed

[2021-01-15 20:02] scottaohara commented on #305
per whatwg PR 6269, this PR is no longer necessary.

[2021-01-15 20:02] #305 closed, assigned to nobody

[2021-02-01 21:15] carmacleod commented on #133
@aleventhal @asurkov

I think https://github.com/w3c/core-aam/issues/19 should be closed (see https://github.com/w3c/core-aam/issues/19#issuecomment-771160817).

So I think we should go with Option 1 in the opening comment of this issue:

[2021-02-07 19:35] scottaohara commented on #86
picking up where this issue left off, [this recent axe-core issue](https://github.com/dequelabs/axe-core/issues/2651) (from a long [web a11y slack thread](https://web-a11y.slack.com/archives/C042TSFGN/p1608139592239900)), and today's [ARIA #1396](https://github.com/w3c/aria/issues/1396)

I am largely in favor of Jason's proposal from above...

caveats being that I could well see `aside` also mappi

[2021-02-07 21:31] csnover commented on #86
That web a11y Slack link requires a login so I can’t review that discussion for comment.

I will be satisfied with *any* change here to get non-body, non-main `aside` out of the landmarks list. If that means generic groups instead because there’s no strong consensus on the purpose of `role=note` after [eleven years](https://lists.linuxfoundation.org/pipermail/accessibility-ia2/2010-November/001233

[2021-02-07 22:51] scottaohara commented on #86
yeh, sorry @csnover.  the slack link is only useful if you can get to it...but figured that was better than nothing.

i may try to recreate it in a 49 post response thread...  but essentially the gist was confusion over when/where an `aside` could be used because the following is valid HTML, but the axe automated checker was failing it
[code]

[2021-02-07 23:25] carmacleod commented on #86
I guess we need to discuss whether asides not in the scope of body or main should have "No corresponding role", or role="note", or role="group". It may come down to quibbling over the difference between "complementary", "tangential" and "parenthetic or ancillary". 😂

[2021-02-07 23:38] scottaohara commented on #86
well if we're using the HTML spec as the reference point as to why aside shouldn't always map to complementary, then yes, same applies to a note.  a side navigation isn't a "note", nor is an advertisement.  arguably a pull quote is....if not really just a blockquote...but eh....

[2021-02-07 23:58] carmacleod commented on #86
Good points, all.

`role="group"` then? For non-body-scope, non-main-scope asides? A touch on the useless side, but better than pull quotes as landmarks. Then I guess it would be up to the APG to suggest alternative roles...

[2021-02-08 00:25] scottaohara commented on #86
i recall matt king being none too happy with an abundance of "groups" being announced in some past discussion, though i don't recall the specifics of that discussion.  i tend to agree with him on the sentiment though.  Also, `role=group` isn't typically (ever? would need to re-test) announced without also having an accessible name.

as far as i'm concerned, i don't see why an aside needs to be ann

[2021-02-08 15:15] jongund commented on #86
I would advocate only mapping `aside` to complementary when it is a top level landmark like `main`, `header` and `footer` elements.

I don't think we need the `aside` element to identify sub-sections of the `main` landmark.
Sub-sections of the `main` element are better served by a more general rule that subsections of top-level landmarks (e.g. banner, main, complementary and footer) use named `reg

[2021-02-23 23:57] jnurthen opened #314 "value should map to aria-valuenow for input[type=range]"
Currently value is stated as not mapped for an input element.

[2021-02-24 04:19] carmacleod commented on #314
Agreed there's a missing ARIA mapping here, but maybe the [value attribute of input](https://w3c.github.io/html-aam/#att-value-input) row should be split into 2 rows, one for "entry type input elements" and one for "button type input elements"? Then the row for "entry type input elements" could map to aria-valuenow, and (maybe??) the row for "button type input elements" could ~map to aria-label~ b

[2021-02-24 06:20] jnurthen commented on #314
`aria-valuenow` is not supported on most of those input elements so currently I'm not sure we would want that mapping on most entry types. I know we have a different issue about the lack of a value attribute in aria https://github.com/w3c/aria/issues/711

[2021-02-24 16:42] carmacleod commented on #314
Ah, yes - good point. [valuenow](https://w3c.github.io/aria/#aria-valuenow) would only be mapped for number and range.
Interestingly, [value for meter and progress](https://w3c.github.io/html-aam/#att-value-meter) _is_ already mapped to valuenow.
The others would want valuetext, as in the issue you pointed to.

So we'd (eventually) need (at least) 3 rows for value attr for input:
- "button type in

[2021-02-24 21:58] carmacleod commented on #314
Tested what user agents are actually doing with value on inputs.
Test case: https://carmacleod.github.io/playground/value-attr-tests.html
TL/DR: They are mostly doing what HTML-AAM told them to do.

#### Chrome/Edge/Win:
- **button type inputs:** value maps to accessible name (**and** accessible value?) (and is added as visible text content).
Don't want it mapped to aria-label. Accname doesn't see

[2021-02-25 04:45] JAWS-test commented on #314
I am not sure if there is really a bug in Firefox for Date and Time. The input field itself is only the container for the spin buttons in the input field (e.g. for hours and minutes or day, month and year, which get the focus individually and where the value is transmitted correctly). The screen reader NVDA then also correctly determines the value of the container in the element overview (which do

[2021-02-27 19:15] pkra opened #316 "mark role"
mark is listed with "No corresponding role" but ARIA now has a role mark.

[2021-02-27 19:20] scottaohara commented on #316
Thanks @pkra but I have this covered with #229

just waiting on aria 1.2 to get to recommendation

[2021-02-27 19:31] pkra commented on #316
Thanks, @scottaohara!

[2021-03-16 14:46] oliviertassinari commented on #160
In Material-UI, we use this pattern for the tooltip implementation:

[code]

It seems that there are not yet any official guidelines https://github.com/w3c/aria-practices/issues/128. cc @eps1lon.

[2021-03-16 15:24] scottaohara commented on #160
@oliviertassinari please see [role=generic](https://www.w3.org/TR/wai-aria-1.2/#generic) in the ARIA 1.2 specification which recently entered candidate recommendation.

`div` and `span` would be considered `role=generic` and naming them, without also supplying a `role` that allows for naming, is prohibited.

[2021-03-19 00:07] jnurthen opened #317 "Table is not being converted by mapping-tables script Assignees: jnurthen Labels:"

[2021-03-20 12:59] JAWS-test opened #319 "Mapping for hidden is wrong regarding CSS-visibility?"
If I understand it correctly, I can only override hidden with display and not with visibility (this is also how browsers handle it). Therefore the reference to visbility should be removed

[2021-03-20 14:57] scottaohara commented on #319
yeh.  that could be more clear.   will make an update to clarify the intent of mentioning visibility hidden there

[2021-03-20 16:04] #317 closed, assigned to nobody

[2021-03-20 16:35] scottaohara commented on #311
@jnurthen assuming this would be fixed the spec stopped using local references and instead could pull from aria common again?

[2021-03-21 14:14] scottaohara commented on #293
that table isn't exposed as a table in safari because of the use of `display: block`.  you remove that, it's a table again.

[2021-03-21 22:51] #76 closed, assigned to asurkov

[2021-03-21 23:29] scottaohara commented on #83
closing this issue since duplicate #293 now exists

[2021-03-21 23:29] #83 closed, assigned to stevefaulkner

[2021-03-21 23:31] scottaohara commented on #293
steve referenced https://html.spec.whatwg.org/multipage/tables.html#the-table-element in the previous issue.

per my above comment, browsers can perform their own undocumented magic when using `display: something` on a `<table>` element.

[2021-03-21 23:51] scottaohara commented on #86
i'm actually not in agreement that there can't be complementary content within a `main`.  There can be multiple articles or sections of the main content that may have tangentially related content that is still part of the "primary" content of the page, but would be odd to pull out of the main just so we could make `complementary` a strictly `main`-adjacent landmark.  which is **not** what the ARIA

[2021-03-22 00:55] zcorpan commented on #293
(2) is not great.

I think (4) is not great for users -- the likely effect would be they would be a lot of layout tables get exposed as data tables.

(3) seems like a good thing to me, getting the heuristic more interoperable and predictable means more consistent experience for users across browsers and ATs, and authors have higher confidence in how their markup will be presented in ATs.

It doesn

[2021-03-22 02:39] scottaohara commented on #293
@zcorpan yes i would agree

going with 2, status quo, is not great.  presently browsers are not all in alignment with what's in the HTML spec. Browser-specific (also AT specific) heuristics are a problem, as it means authors don't know what to do unless they know the ins and outs of each browser/AT combo.  that is something i find to be incredibly problematic.

Agreed that the complete removal of

[2021-03-22 08:51] dd8 commented on #293
I still have a concern on warning about `role=table` for 2 reasons:

1) Heuristics are approximations - so even with a standardised set of heuristics there will still be cases where they produce the wrong result and you need `role=table`. It might be possible to turn the heuristics into a logically certain algorithm that is 100% reliable at detecting layout tables, but given the complexities and h

[2021-03-22 15:17] carmacleod commented on #86
@scottaohara Agreed. Child of main, sib of main, or aria-label[ledby], and (poof!) it's a landmark.

[Aside <- 😄 : Have never been a fan of using aria-label[ledby] to change the role of an html element, but it's a necessary evil.
I think HTML should provide a way to label/define landmark elements. Some day, I'm going to push for that. But not today.]

[2021-03-22 15:34] jongund commented on #86
I think if the `aside` element is a child of the `main` element it should be mapped to the `region` role, and then it will only be a landmark if it has an accessible name.  If the `aside` element has no parent landmark role, it can be mapped to the `complementary` role (which everyone agrees).   To make landmarks useful to assistive technology user, we need to make creating landmarks more intentio

[2021-03-22 17:21] carmacleod commented on #86
@jongund I think that would be too complicated, and authors would get confused. Already, a lot of authors use aside within main, and they expect it to be a complementary landmark. They reason that if it's about the main content, it should be inside the main. I have been convinced that that's ok. Of course, "beside" main is ok, too, i.e. same level as main; sibling of main.

I completely agree, and

[2021-03-23 15:51] jongund commented on #86
@carmacleod
I think that if the `aside` element is a child of main landmark region it at least needs an accessible name to identify it as a complementary landmark so the user knows why it is different than the main content.  It is important that the user has the information on why the author decided it was worthy of being a commentary region landmark when contained within the main content.

[2021-03-25 17:32] scottaohara commented on #323
reviewing the various ARIA roles, i'm currently thinking that if `<header>` or `<footer>` are contained within any element that has a role other than `document`, `application`, `generic`, `presentation`, `none` - then they should not map to their respective `banner` and `contentinfo`roles.

writing that out here in case anyone disagrees / so i can come back to it later to see if i still agree with

[2021-03-25 18:03] cletusw commented on #323
That sounds good to me!

[2021-04-05 16:31] joanmarie commented on #259
Regarding `contenteditable`: Should it trump the generic role? See https://github.com/w3c/aria/discussions/1449.

[2021-04-05 18:05] scottaohara commented on #259
yes.  well.  for your specific example, yes.

for more complex `<button contenteditable>...</button>`, i honestly am not sure what should happen there.

but for generic divs, those (at least last time i checked) get exposed as textboxes.

[2021-04-06 18:05] joanmarie commented on #259
At least in the case of Chromium, `data:text/html,<div contenteditable>foo</div>` has a computed role of `generic` when I look in the dev tools.

As a result, my (local; uncommitted) implementation in Chromium to do the ARIA 1.2 name prohibiting makes `data:text/html,<div contenteditable aria-label="name">foo</div>` not have a name. Ditto for a focusable, but not contenteditable, `div`. While that

[2021-04-06 20:02] scottaohara commented on #259
Took another gander at [my test page](https://scottaohara.github.io/tests/attr-html/contenteditable.html), and yeh, don't recall if things changed, or if i was misremembering this to be more consistent - but only webkit treats `contenteditable` on a `div` as if it were a `textbox`, exposing the `AXTextArea` at the platform level.  But on other elements that expose roles (though not all) the base r

[2021-04-12 16:17] #319 closed, assigned to nobody

[2021-04-13 13:40] mbgower opened #325 "Should figcaption participate in name/desc computation?"
I have seen a growing number of occurrences where people are properly using the figcaption as a child of figure, and have useful information in the caption, but are failing a checker because figcaption is not included in the computation for either name and description.

As per my issue opened with wcag https://github.com/w3c/wcag/issues/852 I think a case can be made that figcaption could be used

[2021-04-13 18:15] cookiecrook commented on #325
Can you link to a few of the occurrences you mentioned? If you can't link all of them, including code snippets of the markup (etc.) may help the editors ensure they account for all intended uses.

[2021-04-13 18:36] jnurthen commented on #325
@mbgower I think this discussion belongs in HTML-AAM which defines the accessible name computation for an `img` element with no ARIA involved - which I believe this is.

personally (non chair hat) I don't think this is a good idea - the figcaption for a figure really acts more like a long description than a text alternative.

[2021-04-15 02:48] jcsteh commented on #295
In [Chrome's intent to ship thread](https://groups.google.com/a/chromium.org/g/blink-dev/c/_P5bxPTo6XE/m/TmQnfDJsAAAJ), @Alice wrote:

Looking at the [inert explainer](https://github.com/WICG/inert/blob/main/explainer.md), I'm no longer convinced this is true. The problem is that some of the use cases for inert have very different semantics, even though we want the same focus/pointer behaviour. We

[2021-04-15 03:37] alice commented on #295
Conversely, though, if we _don't_ hide nodes from a11y by default, the same logic applies when that is the desired outcome.

If we assume authors are more often than not going to neglect to consider how things should be exposed to AT, is it a better default to expose everything (including content which shouldn't be exposed), or expose nothing (including content which isn't interactive but might be

[2021-04-15 04:12] jcsteh commented on #295
The effect is the same, but the logic is different. In not doing anything, we're saying "inert does not imply semantics. You must explicitly define the semantics yourself." (That would need to be specified.) In hiding the content, we're implying that a specific set of use cases are the "intended" (or at least primary) use cases. Either way, the spec needs to define the semantics (or lack thereof),

[2021-04-15 04:21] alice commented on #295
This is a very reasonable point.

I guess my sense is that the vast majority of use cases will tend towards cases where content _is_ visually obscured in some way, but not in ways that impact the mapping to AT (which means the disabled form example was an especially poor choice).

My concern is that the API has less value if we're still placing the onus on authors to consider AT API mapping in the

[2021-04-15 04:30] jcsteh commented on #295
Note that even this may be problematic for magnifiers, though that's a separate issue from the semantics. Aside from my own guesswork here, Mozilla had a complaint from Dolphin when we implemented aria-hidden as specified (pruning the tree) because it impacted magnification. I feel that magnifiers weren't considered sufficiently when aria-hidden happened and I worry about making the same mistake h

[2021-04-15 04:42] alice commented on #295
Yeah, good point.

That would be good. I'll try and ask around my network; do you have any suggestions on who might have the relevant expertise here?

[2021-04-15 23:53] scottaohara commented on #312
testing in chrome with VoiceOver, seems that chromium with VoiceOver is still announcing the contenteditable element as "text" rather than "combobox" as Safari + VO correctly announces.

I'm unclear as to why this is an HTML AAM issue though.  The Chrome browser's accessibility panel correctly exposes the 'combobox' role...   the Chromium / VoiceOver pairing aren't respecting the explicit `role` t

[2021-04-16 01:17] jcsteh commented on #295
You could try Mike Hill from Dolphin; he was the person who [raised concerns about Firefox's change to prune aria-hidden from the tree as per the spec](https://bugzilla.mozilla.org/show_bug.cgi?id=1349223#c57). I do have one engineering contact working on ZoomText, but I'm not sure if they would be the right person or not.

[2021-04-16 17:39] scottaohara commented on #143
closing this issue as `var`will be mapped to "generic" once the 'inline' version of that role is specified in core aam

[2021-04-16 17:39] #143 closed, assigned to nobody

[2021-04-19 01:15] alice commented on #295
I'm asking around, but of course it's always tricky across the international date line!

Meanwhile, I just remembered that the spec does have _some_ advice on this:

Perhaps we could make that advice stronger?

[2021-04-19 02:37] jcsteh commented on #295
At risk of belabouring my earlier point, this text itself makes me consider again whether it's more appropriate for the author to explicitly specify the semantics given that they have to explicitly specify the visual presentation. It could be confusing to say "authors must explicitly specify the visual presentation" but also "the default semantics are hidden, but you should override this if...". B

[2021-04-19 02:46] alice commented on #295
100% agree that as written, the advice does leave it open to interpretation that any "visual indication of a subtree being inert" is appropriate, including one that leave the information fully visible. It was clearly geared towards avoiding a situation where content appears interactive but, confusingly, isn't.

I'm wondering if we could rework that advice to instead make the intention clear that c

[2021-04-19 18:05] mbgower commented on #325
@jnurthen

If so, then shouldn't it be part of the accessible description calculation?

[2021-04-19 18:20] jnurthen commented on #325
@mbgower in simple cases maybe - and HTML-AAM may make that decision.
However we should take care as IMO the figcaption may contain markup that makes it inappropriate to be converted to a flat string to fit into an accessible description.
IMO it should probably be neither and there should be an aria-details relationship between the image and the caption.

[2021-04-19 18:46] mbgower commented on #325
@cookiecrook said

Here's an example of why I think it can get pretty redundant https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption

As well, some of you looked at the original ticket, which has Laura's [example](http://www.d.umn.edu/itss/training/online/moodle_downloads/accessibility_104/examples/pages/shalott.html#painting):
`<figure>`
`<a href="../images/painting1x.jpg">`
`<img

[2021-04-20 03:56] alice commented on #295
@jcsteh How's this for a first attempt at a replacement for the above (non-normative) note?

Might need some thought on whether it should either be normative, or have the normative sounding "shouldn't"s removed, but do you think this roughly captures what we've been talking about?

[2021-04-20 20:56] scottaohara commented on #316
reopening this one since `mark` isn't in core aam/aria 1.2, but is part of 1.3

[2021-04-22 08:54] joanmarie commented on #259
In the review comments of my [proposed implementation](https://chromium-review.googlesource.com/c/chromium/src/+/2840267), @aleventhal said:

I agree that if it's a generic role and it's contenteditable, that mapping it as a textbox makes more sense than a group. Thoughts?

[2021-04-22 09:27] joanmarie commented on #259
@jcsteh, @feerrenrut, @ggordon-vispero your input on this would be helpful. The executive summary is:

* ARIA 1.2 prohibits naming of certain roles including the new "generic" role, which is what `div`, `span`, and several other things are considered.
* That prohibition is problematic when an author sets `contenteditable` or `tabindex` on a generic (screen reader should say something when it gets

[2021-04-22 09:36] joanmarie commented on #259
@cookiecrook: Could you please verify that for VoiceOver an `AXGroup` is an `AXGroup` regardless of whether the element is a `div` with a `tabindex` or a `div` with `role="group"`?

[2021-04-22 10:42] scottaohara commented on #259
@joanmarie @aleventhal understand the concern / question about mapping to `role=textbox` instead.  I do think that would make sense but for the fact that _anything_ can be a child of a `contenteditable` element, let alone set to `contenteditable`.

Presently HTML doesn't let any sort of content/elements within native text fields, nor would we expect authors to put any sort of element or role withi

[2021-04-22 11:06] joanmarie commented on #259
@scottaohara I just tried your test case using Orca with Firefox Nightly and with Chrome stable and unstable. I can confirm the not-speaking issue with Chrome. Orca speaks all focus changes in Firefox Nightly.

Looking at Orca's debugging output, the problem is that Chrome isn't emitting the focus-change events. If Orca doesn't know focus changed, it certainly cannot announce it. I'm guessing the

[2021-04-22 12:25] scottaohara commented on #259
I tested with chrome, edge and firefox with nvda/jaws. Chromium browsers were the ones where focusing elements with the tab key were not announced.

Things seemed to work more as expected with VoiceOver - though that still wasn't perfect.

All browsers have weird quirks with focusable elements within contenteditable containers... but that's all unfortunate current behaviors that aren't contingent

[2021-04-22 13:23] joanmarie commented on #259
Just filed https://bugs.chromium.org/p/chromium/issues/detail?id=1201651 and assigned it to myself.

Related asides:
* ARIA spec doesn't say `textbox` is one of the children-presentational roles.
* Also, while admittedly I am not an author, I can imagine reaching the conclusion that if I wanted to create a web equivalent of something like a [GtkSearchEntry](https://developer.gnome.org/gtk3/stable/

[2021-04-22 13:43] scottaohara commented on #259
@joanmarie, yes my mention of expectations was not regarding whether ARIA says child elements are presentational.  Rather, that one cannot have non-text content within native text fields ([text inputs have a content model of 'nothing' and expect no child elements](https://html.spec.whatwg.org/multipage/dom.html#concept-content-nothing) and [textarea](https://html.spec.whatwg.org/multipage/form-ele

[2021-04-22 13:53] joanmarie commented on #259
BTW, I do get focus events (aside from links which are left out of the tab order) when the `div` with role `textbox` also has `contenteditable` set. It's only when it's missing that the focus events go missing.

And what role should a rich-text multi-line editable field (like a message composition window) get?

[2021-04-22 14:04] scottaohara commented on #259
Great question! I think we are (hopefully) figuring that out now :)

[2021-04-22 14:19] ggordon-vispero commented on #259
This is probably fine for JAWS assuming that the browser does the proper mapping.

It would be good to have really strongly worded language in the authoring guidelines to say to not use generic roles for things which in any way could be thought to carry semantic meaning. i.e. If you’re making an element tabbable or editable, there’s likely more semantic meaning than you think, and you should recon

[2021-04-22 14:55] carmacleod commented on #259
I realize that this is not necessarily a helpful answer (or a popular one 😄 ), however in our old code editor widget, which was a contenteditable div with lots of children, I wanted to have _all the keys_, even tab (because we had some fancy indent/outdent feature), and so I had no choice but to give it `role="application"`. Of course, that was almost a decade ago? And the code editor is not reall

[2021-04-22 17:57] cookiecrook commented on #259
No, role=group has a specific AXSubrole... AXApplicationGroup if I recall correctly.

Also, I recall (but it would require more investigation than I have time for at the moment) WebKit having some heuristics for not exposing Div groups as interaction groups in some contexts. For example, it used to be that VoiceOver would force interaction (VO+Shift+Down) with any native AXGroup that had an AXTitl

[2021-04-22 19:36] aleventhal commented on #259
IMO we should use role=textbox for the contenteditable case and in parallel fix any issues with ```<div contenteditable role="textbox">```. It's a common use case, and I don't know of anything in the spec to  state that it's wrong or that role="textbox" means something is plain text inside.
For example, Google Docs uses: ```<div tabindex="0" spellcheck="false" role="textbox" aria-multiline="true"

[2021-04-22 22:33] scottaohara commented on #259
Thanks @aleventhal, if mapping to `textbox` is not causing any issues there, then that's definitely a positive.  I suppose another "pro" for mapping to `textbox` would mean that screen readers would be more apt to go into forms mode automatically, than if it were mapped to `group` which also happened to be editable....

But I'm now wondering if `contenteditable` should impact more roles than just

[2021-04-23 09:02] joanmarie commented on #259
Oh yeah.... Forgot about that. Thanks!

That said, using Safari Technology Preview with VoiceOver, I am not seeing any behavior difference between these:
* `<div tabindex="0">foo</div>`
* `<div tabindex="0" role="group">foo</div>`

So if the author did the first one (sans role), but it was mapped as if the author had done the second one, would this in any way break VO's expectations or the user ex

[2021-04-23 12:54] joanmarie commented on #259
@scottaohara my vote would be to not allow `contenteditable` to trump non-generic roles.

 `<button contenteditable>foo</button>` is still visually a button and its buttoniness is presumably relevant/necessary. If that turned into a `textbox`, the user loses meaning. (Or perhaps more accurately, the screen readers lose the ability to handle that unexpected situation and present it to the user.)

[2021-04-23 12:58] aleventhal commented on #259
Agree with Joanie.

@scottaohara thanks again for all the deep thought into this.

[2021-04-23 12:59] scottaohara commented on #259
@joanmarie yup.  I wasn't suggesting that.  i was questioning non-interactive roles

like `<p contenteditable>`.  or like the examples I have in my last post of spans with contenteditable inside of links or buttons (though spans would be generic too).

[2021-04-23 13:07] joanmarie commented on #259
Hmmm. If we wanted to allow `<p contenteditable aria-label="Tell me a story"></p>` and not cause the name to be stripped out, then I suppose we would because name is prohibited on paragraphs too. Yay?

[2021-04-23 13:36] scottaohara commented on #259
yup.  any naming prohibited element / role with contenteditable needs to have its role changed, essentially.

but per your comment "is still visually a button and its buttoniness is presumably relevant/necessary." the same to could be said about anything that contenteditable can be applied to (which is everything).

[2021-04-23 13:48] joanmarie commented on #259
The other possibility is changing the ARIA spec to state that name prohibition doesn't apply when something is tab-focusable or contenteditable.

[2021-04-23 14:32] joanmarie commented on #259
Interesting scenario (I'm making this change in Chromium locally and seeing what "breaks"):

`<div contenteditable aria-readonly="true">`

When the `div` above is mapped to `generic` or `group`, `aria-readonly` isn't exposed; when it's mapped to `textbox`, it is.

I forget who trumps what in that scenario (i.e. if the native thing is really editable, should we be telling ATs otherwise?). And I don

[2021-04-25 17:55] #311 closed, assigned to nobody

[2021-04-26 14:27] #265 closed, assigned to scottaohara

[2021-04-26 20:20] kbabbitt commented on #259
I think mapping contenteditable to role=textbox makes sense, but while reviewing @joanmarie's change for it in Chromium, I noticed one downstream effect on UIA.

Core AAM calls for role=textbox to be mapped to the UIA Edit control type even for multiline [1]. But the docs for Edit state that it's intended for single-line, plain-text editing [2], and the docs for the Value pattern - which Edit is r

[2021-04-29 03:38] jcsteh commented on #295
Thanks. I think it's a great start, though I'd flag that this doesn't address the magnifier case, which still worries me greatly.

Minor wordsmithing:

Can we drop "while it is inert" given the mention of "inert subtree" earlier? That is, it isn't inert while it isn't in an inert subtree.

I'd be inclined to say "will not" rather than "might not" here, since we *know* it won't be perceivable to sc

[2021-04-29 04:58] jcsteh commented on #259
I agree with @joanmarie: I think generics with contenteditable should map to role="textbox", but non-generics with contenteditable should not. I realise that raises some tricky questions about things like `<p contenteditable>`. Anecdotally, though, I've seen more generics with contenteditable in the wild than non-generics.

ATs already have to support the "editable" state (aside from the textbox r

[2021-05-07 17:46] accdc commented on #325
Hi,
In reviewing this further, it seems that we can't easily dismiss the need for this.

I recently had to identify an issue where a figure was included within a link and no accessible name was being produced for the link even though the figure was properly configured to provide one.

It seems that logic similar to the way that SVG is treated is appropriate, which is documented within the AccName

[2021-05-07 19:36] scottaohara commented on #325
i don't understand how you're interpreting ARIA in HTML to be contradictory here?  It's saying nothing about how an accName is calculated, but rather providing scenarios (conditionals for `figure) on what roles could be used on these elements.

on this particular topic, I'm currently thinking that @jnurthen comment that a `figure` could treat a `figcaption` as if it has an `aria-details` relations

[2021-05-07 22:58] accdc commented on #325
Perhaps not contradictory, but unclear. The syntax of a figure element has a specific  means for assigning textual content, and it is unclear to me, and likely to many others, that you should ignore this if you want the figure to actually have an accessible name in the accessibility tree.

[2021-05-11 09:27] joanmarie opened #330 "Mappings for body and html don't seem to match reality"
Load the following test case in macOS, Windows, or Linux:

[code]

And then load the accessible inspector of your choice for that platform to compare the tree with the mappings for `body` (which are documenty) and `html` (not mapped).

TL;DR: Everyone is essentially exposing `html` as the document (i.e. it's mapped). Most are exposing `body` as a generic child thereof -- except Firefox which is pr

[2021-05-11 10:57] joanmarie commented on #330
Related aside: In my opening report, I said "essentially exposing `html` as the document." To be more clear: Functionally (as an AT developer) it sure seems that way. But technically, that might not be the case in the user agent implementations. Haven't had time to look yet; going on vague memories that under the hood something else was taking place.

[2021-05-11 13:16] mraccess77 commented on #325
Captions and alternative text are two different things and serve different purposes.   I think it would make sense for figcaption to either be fallback accessible name only when no other name for the image is available or otherwise figcaption could act as an accessible description.

[2021-05-11 16:08] accdc commented on #325
Personally I like the idea of this being a fallback for figure when needed. The case I am trying to cover is when someone puts a figure inside a link.

[2021-05-11 20:00] domenic opened #331 "hgroup mappings do not seem correct"
The spec says "No corresponding role" / "Not mapped" for all mappings.

However, in my testing browsers instead map it the same as a no-accessible-name `section`, i.e. `ROLE_SYSTEM_GROUPING` / `IA2_ROLE_SECTION`. (I only tested MSAA.)

[2021-05-11 20:03] scottaohara commented on #331
thanks @domenic, yup those are incorrect.  The element should map the same as a `div`

[2021-05-12 08:11] JAWS-test opened #332 "Missing distinction by list attribute for input element"
currently only type=text, =search, =telephone, =URL, or =email becomes combobox if list attribute is present. What about the other types that allow list (e.g. Chrome converts type=number with list also to a combobox, even if this specification does not specify this).

[2021-05-12 08:14] JAWS-test commented on #332
Regardless of that, mapping (no matter how) is problematic anyway, because with combobox I no longer perceive that the field only allows emails, URLs, numbers or date entries and if no mapping to combobox is done, I can't perceive that it is a combined input field

[2021-05-12 12:39] #312 closed, assigned to nobody

[2021-05-12 13:43] scottaohara commented on #330
thanks @joanmarie

looking over this today and performing my own testing, I think what you're saying here makes sense.

Right now, while `body` doesn't directly state it should map to `role=document`  seems that `html` should be updated to do so.  And then `body` can map to `generic` - as this seems reasonable / better matches reality.

If we are in agreement, I can make these changes today, and a

[2021-05-12 14:38] scottaohara commented on #292
This behavior is not specified in this spec.  Rather, I filed a bug against chromium https://bugs.chromium.org/p/chromium/issues/detail?id=1208405 since Firefox and Safari are working as expected.

Leaving this open for tracking purposes, but the ball should be in Chromium's court to fix this.

[2021-05-12 14:51] #257 closed, assigned to nobody

[2021-05-12 15:08] joanmarie commented on #330
@scottaohara For the most part I agree with you.

But look at my test case in the OR. Specifically: `<body aria-label="ARIA label on body">` If `body` maps to `generic`, `aria-label` becomes prohibited and poof goes the name! :rofl: :rofl:

(Yes, I came across this issue when my local implementation of name-prohibited broke `aria-label` on `body` in a Chromium test because internally in Chromium t

[2021-05-12 15:29] scottaohara commented on #330
True, but authors naming the `body` _should_ be prohibited, imo :)

Testing a body with aria label, only VoiceOver (webkit and chromium) on macOS and Narrator (tested with Edge on Windows) will announce it.

iOS VO, Android TalkBack (firefox/chromium), macOS (VO+firefox), JAWS/NVDA with chromium/firefox - they all ignore the aria-label on the body, so this really isn't something that anyone should

[2021-05-12 15:34] joanmarie commented on #330
There are many things which people shouldn't bank on. But given how much fun and surprises and lack of agreement name-prohibition has unexpected led to.... Should we triple check that we all (WG members, user agent vendors, etc.) agree that `aria-label` on `body` should not be allowed?

[2021-05-12 15:41] Malvoz commented on #292
Oops, I forgot to link the chromium bug I filed: https://bugs.chromium.org/p/chromium/issues/detail?id=1147035. Sorry!

In that bug I incorrectly refer to wanting to change the implicit ARIA _role_, I probably meant to say ARIA _semantics_, I corrected that statement in a later comment. I hope it's not too confusing, it seems on their response I got my point across.

However, because it seemingly

[2021-05-12 15:53] Malvoz commented on #292
Because it seemingly isn't defined anywhere that `map` should have `childrenArePresentational` I guess it's also incorrect for me to imply in that bug that a `role` is required to opt-out of that behavior. I think I should comment on my bug and refer to yours as superseding mine.

[2021-05-12 16:55] scottaohara commented on #292
yes @Malvoz, please refer to mine.  it's not really even that the children are treated as presentational (eg role=presentation) - if it was then the child content would still be exposed, but have no roles exposed.  The content is rather being flat out ignored.

From what i saw in testing today, the accessibility panels in chrome were exposing the correct information - but something is still weird

[2021-05-12 21:30] joanmarie commented on #330
I wonder if it has anything to do with the mappings from the user agents. In the above cases, the `body` with the `aria-label` is:

1. Exposed
2. Has a grouping-containery role

On Firefox, on the other hand, the `body` with the `aria-label` is getting completely pruned from the accessibility tree by Firefox. VO, JAWS, and NVDA aren't ignoring the `aria-label` on the `body`; they presumably have n

[2021-05-12 22:12] scottaohara commented on #330
Yup that all makes sense. I personally don’t see the point in allowing body to be named. But interested in if anyone can think of a use case ...  well aside from the dreaded `<body contenteditable>`

[2021-05-14 06:59] cookiecrook commented on #330
As mentioned in the call, I don't mind if there is an author MUST NOT, but I don't think there is a strong enough reason to add a "User Agents MUST NOT expose it" when it's provided.

What about the following?
- `<body>` not mapped
- `<body aria-label>` still an author error, but mapped to (any container role, such as `group` or another)

[2021-05-26 18:46] aleventhal opened #333 "Problematic mappings for <a> without href"
An `<a name>` should not be mapped to text, because it has a text child.
This would lead to a a11y API structure where text, which should be a leaf, would not be a leaf and have a text child.

Rather, `<a name>` could be mapped to the ARIA "generic" role, which did not exist when HTML-AAM was first written.

[2021-05-26 19:47] scottaohara commented on #333
hi @aleventhal.  yes, the `<a>` without `href` does need to be updated. mapping to `generic `makes sense, but for the additional work for 'inline' generic elements that still needs to be specified - https://github.com/w3c/aria/issues/960  (a w/out href not listed in that issue, but it would be included) - i know there are other issues/threads on this topic, but i can't find them right now.

[2021-05-26 20:08] aleventhal commented on #333
@scottaohara are sure that w3c/aria#960 is a dependency?
Really an ```<a name>``` is no different from ```<span id>```. Both can be used as an in-page link target. They don't really need to be exposed to the AT but if they are, it should be done just a generic/grouping.

[2021-05-26 21:19] scottaohara commented on #333
unless thoughts have changed on that topic.  But, I've added the agenda label so we can talk about this soon (next week?) in the wg call

[2021-05-30 16:24] #233 closed, assigned to nobody

[2021-05-31 08:36] sideshowbarker opened #335 "Is the accessible name for td/th/tr elements intentionally meant to be calculated by looking at the ancestor table element?"
https://w3c.github.io/html-aam/#other-tabular-data-elements says that says that for **“tr, td, th Elements Accessible Name Computation”**, the step that implementations must start with is:

I notice it says _“If the table element”_ — not _“If the element”_. Is it intentionally worded that way, or is that a mistake in the spec which needs to be fixed?

If it’s not a mistake but is instead intention

[2021-05-31 12:33] #335 closed, assigned to nobody

[2021-05-31 13:02] scottaohara commented on #335
@sideshowbarker removed the use of "table" there as either that was a copy/paste error, or it was being used in the general sense, like "tr, td and th are all 'table elements'".  Either way, it wasn't clear and now has been updated.

That said, while using `aria-label` on these elements is valid and is meant to be respected when determining the name of the elements by browsers, as Steve noted in h

[2021-06-04 15:25] joanmarie opened #336 "Why is outline depth involved in the level exposed for h1-h6?"
The HTML-AAM currently says the following for `h1`-`h6`:

This surprised me. As a screen reader developer, I've always assumed that `h1` would expose `1`, `h2` would expose `2`, ... `h6` would expose `6`. And I think that's what the implementations currently do (right?). I also think that if I were a blind web author and I made a page using `h3` and my screen reader treated it as anything other th

[2021-06-04 19:15] scottaohara commented on #336
yeh, this seems like something that shouldn't be there / would have been related to the outline algorithm which does not exist...

[2021-06-04 20:02] joanmarie commented on #336
Let's pretend for a moment the outline algorithm 1) exists and 2) is already implemented in user agents so that implementing this mapping would just be a matter of calling that function within the accessibility code of user agents to expose the calculated value to ATs. Should we be turning an `h3` into something that is NOT level 3 if the author hasn't explicitly used `aria-level` on that `h3` to

[2021-06-04 22:07] scottaohara commented on #336
Yeh. I’ve spent quite a bit of time reviewing all the older threads up to the most recent comments / ideas of what to do with hgroup etc.

There’s no real consensus on this and I also have major concerns with changing the heading level automagically on authors.

Im curious what the wg thinks on this, as well, but I find the idea concerning.

[2021-06-10 06:01] mcking65 commented on #330
I think this was answered in our discussion during a call, but I don't remember the answer: Does ARIA place a requirement on browsers to not expose names of elements that prohibit naming?

If not, then is exposing the name optional? When naming is prohibited for authors, it would seem quite inconsistent to require the browser to calculate a name.

If browsers MUST not expose a name, then the spec

[2021-06-10 17:30] scottaohara commented on #330
Per ARIA WG call today, we are going to go with body mapped to generic.  authors should receive an error if they name the body with aria-label...but UAs can error correct to expose a name here, if they so choose.

[2021-06-16 04:19] jnurthen commented on #333
From Meeting on 2021/06/10
[Problematic mappings for <a> without href](https://github.com/w3c/html-aam/issues/333)
scott: comes back to "generic inline" etc.

jnurthen: it's not really the role that makes it generic inline or block.

scott: right. comes down to platform mappings. One currently says it maps to text.
… that's why I'd like to get consensus from the group

jnurthen: what does span map

[2021-07-18 12:55] JAWS-test opened #339 "Special case: required for radiobuttons"
The specification says that required maps to aria-required. However, this is not always correct:
* in HTML, required is only allowed on the single radio button, but not on the fieldset.
* in ARIA aria-required is only allowed on radiogroup, but not on radiobutton

This should either be mentioned here. Alternatively, the ARIA or HTML specification should be modified to make required really equivale

[2021-07-19 17:30] joanmarie commented on #336
@jnurthen Can we discuss this at the next ARIA WG meeting?

[2021-07-19 18:01] scottaohara commented on #336
just a clarification on the above, `h1` is the only heading that would be 'expected' to change its rank per the above – becoming whatever rank was necessary depending on the nesting of `section` elements, for instance.  using `h2` to `h6` would remain those heading ranks as set by authors.

edit: my memory was clouded by other discussions on how the outline algorithm could be implemented.  For ins

[2021-07-21 03:58] marcoscaceres opened #340 "Republish spec "officially" to get auto-publish working again"
As the specification is now part of the Aria WG, it needs to be "officially" republished as a WD for auto-publish to work (i.e., "change of deliverer").

@michael-n-cooper, could you please republish it? You might need to check what the Process says about specs adopted from another group if it can just go straight to WD or if it needs to be a FPWD.

[2021-07-22 17:36] scottaohara commented on #336
per ARIA wg call today, we will remove mention of this from the spec.

[2021-07-22 23:21] scottaohara commented on #336
@joanmarie so interesting on this... but [HTML AAM has no mention of outline depth in it](https://w3c.github.io/html-aam/#el-h1-h6).

Following the link in the bug report though, I get to the old HTML to Platform Accessibility APIs Implementation Guide -  https://rawgit.com/w3c/html-api-map/master/index.html#el-h1-h6

This obsolete version of the spec somehow has today's date on it.... which sure

[2021-07-23 09:00] joanmarie commented on #336
Huh. I guess I grabbed the text without looking to see that it wasn't actually in the HTML-AAM. Sorry about that!

The top of that document does have a giant "Beware" box pointing to the correct spec. But that isn't visible when you follow the link to the mappings.

Similarly, https://github.com/w3c/html-api-map is archived and points to the correct spec/repo.

@michael-n-cooper Thoughts on what (

[2021-07-23 16:19] jnurthen commented on #336
We could add the super annoying warnings (like https://www.w3.org/TR/2012/WD-proximity-20120712/ ) but we would need to unarchive the repository before making any changes.

I'd love a respec enhancement where someone could simply add a parameter to respec config which would add the super annoying warning AND change the "W3C Editors Draft" text to "Obsolete w3c draft" and change the color to someth

[2021-07-26 09:35] JAWS-test commented on #278
When I label an `<input type=button>` with aria-label, the visible label in the value automatically becomes the description. However, this is redundant for most buttons, since [WCAG 2.5.3](https://www.w3.org/WAI/WCAG21/Understanding/label-in-name.html) requires that the visible label be included in the Accessible Name. Therefore, I suggest that value should not be used to determine the description

[2021-07-26 17:54] michael-n-cooper commented on #340
We don't use auto-publish, so we'll republish it manually eventually.

[2021-07-26 23:25] jnurthen commented on #340
@michael-n-cooper is there a reason we can't auto publish? We want AAMs to go to that soon so if there is a reason we should work out what it is. Otherwise - can we get this pubished?

[2021-07-27 17:10] michael-n-cooper commented on #340
In ARIA chair discussion today, we agreed to resume auto-publish of HTML-AAM asap and initiate it for other AAMs as soon as we're sure there aren't gotchas.

[2021-07-28 00:40] marcoscaceres commented on #340
Sounds great! Give me @ shout if I can be of any help or want me to review anything.

[2021-07-28 13:55] koojaa commented on #294
ok so how's it going with those attributes mentioned above by @JAWS-test ?
still exists conflict on Chrome. any ideas?

[2021-07-28 13:55] koojaa commented on #294
ok so how's it going with those attributes mentioned above by @JAWS-test ?
still exists conflict on Chrome. any ideas?

[2021-07-28 14:15] koojaa commented on #294
looks like there still exists conflict with those attributes @JAWS-test mentioned above on Chrome. any improvements?

[2021-08-10 12:58] michael-n-cooper commented on #340
Spec was published today. I *think* auto-publish will just resume, but not sure. If I need to update the token or decision URI it'll take a few days to complete the CfC.

[2021-08-10 12:58] #340 closed, assigned to michael-n-cooper

[2021-08-11 00:29] marcoscaceres commented on #340
Thanks for the update @michael-n-cooper! Checking the logs and output, looks like it's working well already! 🥳

[2021-08-19 23:55] scottaohara commented on #323
@stevefaulkner, my current thinking is that we document this in the comments section for the header/footer (scoped to the body element) and header/footer (scoped to the main...).

For instance,

[2021-08-22 13:10] stevefaulkner commented on #323
@scottaohara i am ok with `document` but less so for `application`

[2021-08-22 13:19] scottaohara commented on #323
yeh, but the rest of that line says "...are accessible to users of **some assistive technologies**..."

and really, that means that only when the user goes into forms/application mode would that occur.  prior to that, all the content would be discoverable via the virtual cursor.

Also from ARIA:

https://w3c.github.io/aria/#banner

so ARIA is indicating within the banner and contentinfo roles that

[2021-08-22 13:30] stevefaulkner commented on #323
@scottaohara isn't it the case though that application invokes a mode change in some AT?

anyway this ain't a hill i would die on ;-)

[2021-08-22 13:46] scottaohara commented on #323
glad to know there will be more hills in our future, sir faulkner.

[2021-08-22 13:48] stevefaulkner commented on #323
@scottaohara  visited [Silbury Hill](https://en.wikipedia.org/wiki/Silbury_Hill) recently

[2021-08-26 01:35] scottaohara commented on #308
This is directly related to #255, and we've also removed this section from the specification.  so closing this one as its a symptom of the other issue / no longer relevant since the in-page link has been removed.

[2021-08-26 01:35] #308 closed, assigned to nobody

[2021-09-18 05:19] fred-wang opened #344 "Mapping of svg/math tags in non-SVG/non-MathML namespaces"
cc @asurkov

The HTML-aam spec defines "how user agents map HTML elements" which I interpret it as elements in the HTML namespace ( see https://html.spec.whatwg.org/multipage/infrastructure.html#html-elements ). However, it also describes mapping for the `<svg>` and `<math>` elements which are *not* HTML elements, even if they are described in HTML5 (note that they are respectively put in the SVG

[2021-09-21 12:08] scottaohara commented on #344
SVG points to the graphics aam where the graphics-document role is defined (svg aam points to this doc as well with their mapping of `svg`).

A comment in the table saying to refer to also refer to svg-aam for more mappings related to svgs and their descendants can be added.

Similarly, the math element points to core aam where the math role is defined.  A comment, similar to what's described abov

[2021-09-21 12:26] fred-wang commented on #344
Just to be clear, my point is that this spec seems to be about mapping HTML elements, but `<math>` and `<svg>` are not such elements. So MathML/SVG namespaces should be explicit, or they should be moved to their respective aam specs.

[2021-09-21 13:38] stevefaulkner commented on #344
yes

[2021-09-28 14:08] scottaohara opened #345 "summary element role mapping"
we have no ARIA mapping for the summary element.  should we mention the ARIA equivalent being `role=button` with `aria-expanded`?

[2021-09-28 16:13] jnurthen commented on #345
I thought we had previously discussed that the button mapping for summary is broken because summary can have interactive children in HTML

[2021-09-28 18:12] scottaohara commented on #345
i mean yes... there's very much that as well.  but is that a spec issue and HTML should update to not allow interactive elements within?  Or is that a potential implementation or mapping issue and we address this that way?

[2021-09-28 18:23] jnurthen commented on #345
I don't see HTML changing that. There are far too many implementations which meet the spec today which would become non-conformant. I think we need to work out how we should map summary in a useful way before adding an ARIA mapping for it.

[2021-09-28 18:32] scottaohara commented on #345
yeh, re: HTML... I understand that, but it just seems very unfortunate to not want to break something (by changing allowances) which, by current functionality, is already broken because of those permissive allowances.

agenda or deep dive topic, @jnurthen ?

[2021-09-29 03:05] JAWS-test commented on #345
Perhaps it would be useful to point out the problem in the "Comment" row of the summary table.

This seems to make sense to me, because the HTML specification refers to HTML-AAM via the link "For implementers"

[2021-09-29 17:49] scottaohara opened #346 "update elements that now map to role=generic"
Follow-on to #229

many elements now map to `generic`.   this issue will track those, but serves mostly as a reminder right now.

[2021-09-29 18:15] scottaohara opened #347 "mappings for dl, dt, dd"
Follow-on from #229:

The `associationlist` role and its children were bumped to ARIA 1.3.  So in the meantime the mappings for these elements are going to be a bit off.

I'm presently thinking that while the mappings aren't really accurate, there is no rush to change these to anything else prior to `associationlist` landing, since 1. this is present reality and 2. I don't see people wanting to ch

[2021-09-30 16:53] mcking65 commented on #345
It doesn't appear that there is 0 support for changing the HTML spec.

This is the classic nested interactives debate. It is hard to imagine a solution that doesn't either:
1) Disallow the nested interactives
Or 2) Force browsers to add a sibling interactive that controls the details whenever there is a nested interactive (which seems kinda crazy)
Or 3) Changes all accessibility APIs and assistive

[2021-10-07 17:16] scottaohara commented on #325
@jnurthen let's use this as the issue to start the discussion on what to do with `figure` > `figcaption`

[2021-10-13 13:17] Jym77 opened #349 "`input[list]` maps to invalid `combobox`"
`<input type="text" list="foo">` maps to

However, `combobox` require an `aria-expanded` state (both in ARIA 1.1 and 1.2) which is not set here.
This result in such inputs with suggestion list mapping to invalid `combobox` 😞 and authors need to manually handle the `aria-expanded` state (and often forget it just because they don't know about it…)

I'm however not sure that the expansion can be auto

[2021-10-13 14:54] scottaohara commented on #349
This issue is inaccurate, and thus I'm closing it.

 If you follow the mapping for combobox over to CORE AAM, the combobox role already takes care of the `aria-expanded` state.  `list` does not map to `aria-expanded`, which is why it is not called out here, as this `list` attribute has nothing to do with the exposure of the expanded/collapsed state.

Furthermore, the requirements of the ARIA spec

[2021-10-13 14:54] #349 closed, assigned to nobody

[2021-10-14 11:45] Jym77 commented on #349
I'm glad this is not a problem but I'm struggling a bit understanding the how and why of it. I feel I need a bit more explanations and pointers 😕

---

That's a bit I fail to follow. I am not super fluent with reading the Core AAM…
When I look at [Core AAM for `combobox`](https://www.w3.org/TR/core-aam-1.2/#details-id-14) I do not see anything telling me how to handle `aria-expanded`. Similarly, [

[2021-10-14 14:37] scottaohara commented on #349
Thank you for your detailed response, I think I better understand where the disconnect is here.  I likely am not answering all your questions with what follows, and truthfully you have a lot of questions that would require far more time than I am able to spend.

At a high level I will say this, I think what HTML AAM can do here is make mention of what properties browsers should (or 'may' - as not

[2021-10-14 15:29] Jym77 commented on #349
Thanks for the answer, I understand a bit better how these documents articulate. A few more questions and precisions…

* `combobox` indeed refers to much more than `aria-controls` and `aria-expanded`. But these two are required while, say, `aria-haspopup` isn't. As an author, I could build a good custom combobox by only handling `aria-controls` and `aria-expanded`. As a user, I would expect a comb

[2021-10-14 19:52] scottaohara commented on #349
re: aria-haspopup not being required -

it's not required to be declared by an author, but it is very much necessary for a combobox.  The reason it is not required by an author is because the combobox role has an implicit aria-haspopup=listbox. At the platform level - as mentioned under MSAA/IA2 & ATK there is a state for haspopup (again note, aria-expanded is handled under the combobox role here

[2021-10-15 11:39] Jym77 commented on #349
@scottaohara Once again thank you for your patience and your answers.
It seems I misunderstood deeply how the Core and HTML AAM work (I must confess I never read the Core AAM thoroughly…) I guess it's back to the drawing board for me 😕
(I've hacked around that specific issue for now, and will spend time later to investigate deeper and build a correct solution (likely reverting the rule to explicit

[2021-10-15 12:01] scottaohara commented on #349
appreciate the follow up, @Jym77 and thank you for the conversation.

[2021-10-21 17:47] scottaohara commented on #325
from the ARIA wg meeting today, remove `figcaption` from the accName computation for `figure`.  instead `figcaption` should create an aria-details association with the `figure`.

i need to make this change then then file the necessary platform bugs

[2021-10-30 15:28] aleventhal opened #351 "Add "description-from" to several mappings"
In IA2/ATK, support "description-from" object attributes, so that screen readers can make choices about what to do with descriptions, e.g. read always, read when moving by character, summarize, provide earcon, ignore. This was requested by NV Access.

Chrome already supports this. Here's a Firefox bug to add the mappings:
https://bugzilla.mozilla.org/show_bug.cgi?id=1726087

Here are the values:
"

[2021-10-30 15:31] aleventhal opened #352 "Suggest exposing <rt> as a description on the <ruby> base text"
For `<ruby>`, most browser - screen reader combinations read redundant text, because the `<rt>` contents are exposed  as well as the base text.

This situation can be handled by move `<rt>` contents to accessible descriptions applied to the base `<ruby>` text in the accessible tree. The screen reader or user will then hear only the base text by default, but can still access the `<rt>` text.

In ad

[2021-10-30 15:43] aleventhal opened #353 "Proposed API mappings for typed ruby proposal"
In https://github.com/w3c/aria/issues/1620#issuecomment-954478390 @cookiecrook proposes 3 `<ruby>` annotation types. In addition, there can be the absence of a type, which is currently the case of all ruby markup on the web. Software heuristics could be used when a type is not specified, to attempt to guess the type.

This proposal builds on what has been proposed for typeless ruby in https://gith

[2021-11-01 18:55] cookiecrook commented on #353
To be clear, the linked comment in https://github.com/w3c/aria/issues/1620#issuecomment-954478390 was a brainstorm, not a fully fleshed out proposal. Please read the linked thread for full context.

[2021-11-01 19:06] aleventhal commented on #353
@cookiecrook yes, that's clear

This is a proposed mapping for your proposal, to help understand it more deeply.

[2021-11-05 13:19] Malvoz commented on #292
@scottaohara The bug you filed was marked as fixed, though I'm not seeing (hearing) any improvements using NVDA. Perhaps I've misunderstood the bug and the fix, perhaps it should now be considered an NVDA issue that the non-area elements aren't announced in your attached HTML file?

[2021-11-05 14:43] scottaohara commented on #292
cc @aleventhal per above comment.

i haven't looked into it / didn't notice it was marked as fixed.

[2021-11-07 16:05] #344 closed, assigned to nobody

[2021-11-07 18:39] #330 closed, assigned to nobody

[2021-11-07 18:39] #331 closed, assigned to nobody

[2021-11-17 23:17] scottaohara commented on #45
Closing this issue as HTML AAM is mapping to the correct roles / definitions in Core AAM if an HTML form has a name or not.

cc @carmacleod as we spoke about this today.

[2021-11-17 23:17] #45 closed

[2021-11-18 20:18] carmacleod commented on #345
<details>
  <summary><a href="http://google.com">Google</a></summary>
Here are the details
</details>

[2021-11-18 20:20] carmacleod commented on #345
<details>
  <summary><a href="http://google.com">Google</a></summary>
Here are the details
</details>

[2021-11-18 20:27] carmacleod commented on #345
Wild. In addition to causing accessibility issues, this sure makes keyboard usage weird for both sighted keyboard users and screen reader users. For example, below I have a summary that contains a link. Focusing the summary allows space and enter to expand/collapse the details. Focusing the the link and typing enter follows the link, but space on the link does nothing in Firefox and expands/collap

[2021-11-20 01:03] scottaohara opened #356 "Do we need to spec div as child of dl?"
Related to https://github.com/w3c/html-aria/issues/374, should we consider mapping `div` to role=none / presentation when it is a child of `dl`?  Or is it generally ok being exposed as `role=generic` in this context?

I *think* it's ok without giving it a full testing.  but interested if the wg knows more

[2021-11-22 17:02] mraccess77 opened #357 "Button accessibility name doesn't indicate label element can be used"
The label element seems to be usable to label buttons but this doesn't seem to be list in the accessible name calculation.

[2021-11-22 17:45] jnurthen commented on #357
Also applies for `<output>` and all the other `<input>` types too

[2021-11-22 22:38] carmacleod commented on #357
The [inputs in section 4.1](https://w3c.github.io/html-aam/#input-type-text-input-type-password-input-type-search-input-type-tel-input-type-url-and-textarea-element) (type="text", "password", "search", "tel", "url" and textarea element) _do_ mention label, as follows:

But the [inputs in section 4.2](https://w3c.github.io/html-aam/#input-type-button-input-type-submit-and-input-type-reset) (type="b

[2021-11-22 23:34] scottaohara commented on #357
started on this some time ago re #225.  clearly never got to finishing it. spent a bunch of time trying to make sense of how some of the button labeling needed to work / make things consistent.

seems this would also touch on #210

[2021-12-22 19:31] #43 closed

[2022-01-06 18:02] scottaohara commented on #345
removing the agenda label for now so this stops coming up on the agenda item list.  will add it back on when i think we have new ground to cover.

[2022-01-11 23:55] scottaohara opened #358 "Need to expose elements that are "scrollable""
Firefox presently allows keyboard focus to navigate to elements with scrollable overflow (e.g., CSS `overflow: auto | scroll`, ensuring that instances where such elements do not have focusable descendants will be reachable / scrollable by keyboard users.

For elements which have strong implicit ARIA roles, it would be ideal if we could expose / standardize a "scrollable" announcement of some sort.

[2022-01-20 04:00] mnot commented on #309
Just for clarity -- HTTP does *not* use MIME, so updating those specs won't have any effect, and isn't necessary. All you need is a small spec defining a brand new HTTP header field. And, of course, people to implement it.

If you want to do that in the [HTTP Working Group](https://httpwg.org/) it should be easy to get it going. If not, please loop folks there in on reviews. For example, it's prob

[2022-01-20 13:37] #302 closed, assigned to nobody

[2022-01-20 13:43] scottaohara commented on #276
closing this in favor of #351

[2022-01-20 13:43] #276 closed, assigned to nobody

[2022-01-20 14:05] scottaohara commented on #251
per changes that are being made / will be made in #359, i'm closing this issue

[2022-01-20 14:05] #251 closed, assigned to nobody

[2022-01-20 14:06] scottaohara commented on #249
per changes that are being made / will be made in #359, i'm closing this issue

[2022-01-20 14:06] #249 closed, assigned to nobody

[2022-01-20 14:17] scottaohara opened #360 "duplicate mapping sections are showing up"
Something quirky must be going on with the scripts where a second mapping section for both the HTML elements and attributes are now being created.

@jnurthen or @spectranaut maybe we could look at this when we've some overlapping 'free' time?

i imagine the solution here will be to use all the aria-common scripts, and might be best to wait until https://github.com/w3c/core-aam/issues/102 is resolv

[2022-01-20 17:28] dwsinger commented on #309
I think that people still use the old name (MIMEtype) for things that are [now](https://www.iana.org/assignments/media-types/media-types.xhtml) called mediatypes…but ok

[2022-01-20 22:42] spectranaut commented on #360
Wow this is very odd... and since I'm looking at the same code for core-aam, I'm happy to take a look here too!

[2022-01-20 23:26] scottaohara commented on #360
much appreciated @spectranaut

[2022-01-21 00:15] spectranaut commented on #360
Ok, so I looked into it! It turns out [`mappingTables`](https://github.com/w3c/html-aam/blob/gh-pages/script/mapping-tables.js#L91) is called twice: once when the js file is loaded (you can see the code at the top of the file, related to respec events, which are no longer supported, according to the discussion here: https://github.com/w3c/html-aam/blob/gh-pages/script/mapping-tables.js#L91), and o

[2022-01-21 00:55] scottaohara commented on #360
yeah i'm fine with waiting on this.   to be fair, no one has said anything...

if i'm looking at the head of this spec correctly, we really should be just calling all the scripts from aria-common instead of copying them here.  i think the forking of the scripts happened when HTML AAM was part of w3c's html group and then the web apps group... but now that it's back in the ARIA WG we _should_ have

[2022-01-21 13:22] joanmarie opened #361 "Section element table should have platform-specific details removed or possibly corrected"
The current mappings for `section` say:

And the Core-AAM has mappings for both scenarios.  So I think the platform-specific stuff can be removed. (Aside: The interfaces listed for IA2 and ATK don't really need to be stated here or in any table in the Core-AAM. The web would literally be completely broken if elements with text or child elements failed to implement those interfaces).

If the platfo

[2022-01-21 13:25] scottaohara commented on #361
makes sense.  i agree those shouldn't be necessary if just pointing to core aam

[2022-01-21 13:37] #361 closed, assigned to nobody

[2022-01-21 13:43] scottaohara opened #363 "Cleanup mappings"
Per @joanmarie's comment in #361

This issue is to track the removal of such content.

[2022-01-23 22:37] scottaohara commented on #339
yes, the way that radio button groups are handled for their constraint validation is unique.  but the mapping is accurate for the attribute.  HTML already defines how this works, so I don't think HTML AAM needs to restate.

[2022-01-23 22:37] #339 closed, assigned to nobody

[2022-01-23 22:54] #111 closed, assigned to nobody

[2022-01-23 23:00] scottaohara commented on #70
nothing seemed to go forward with this, and with the original issue closed without resolution / HTML over with WHATWG, AND a new `select` element in the works with OpenUI, I think this should be closed as well.

[2022-01-23 23:00] #70 closed, assigned to stevefaulkner

[2022-01-23 23:03] scottaohara commented on #72
Appears this issue is stale as the mapping for `select multiple` is in the spec, and ARIA issue 470 resolved with no mapping for `multiple` on `input`.

[2022-01-23 23:03] #72 closed, assigned to jasonkiss

[2022-01-23 23:19] scottaohara commented on #347
Old issue for this was #8.

[2022-01-23 23:20] scottaohara commented on #8
closing per the newer issue.

[2022-01-23 23:20] #8 closed

[2022-01-23 23:45] scottaohara commented on #255
related to #360.
https://github.com/w3c/core-aam/pull/105 may finally fix this issue

[2022-01-25 20:50] Miss141hunter opened #366 "Overview hh"
Its me Heather Houser  are not alliwed to change documents without my approval of anything anywhere or anytime plz contact me in original format.

[2022-01-25 20:54] #366 closed, assigned to nobody

[2022-01-25 23:06] zcorpan opened #367 "Unclear how <td> to <th> association is exposed to accessibility APIs"
See this twitter thread:
https://twitter.com/aardrian/status/1486108208351621135

When the `headers` attribute is absent, I don't see text in html-aam that says to expose the cell's assigned headers, for example, in `Table.ItemColumnHeaderItems` and `Table.ItemRowHeaderItems`.

When the `headers` attribute is *present*, it says to do so, but still doesn't say what the value should be.

In both cas

[2022-01-26 23:00] scottaohara opened #368 "hidden attribute updates"
Per the updates being made to the `hidden` attribute behavior and introducing the `until-found` behavior, HTML AAM will need to add commentary about this to the `hidden` attribute section.

[2022-01-27 04:26] JAWS-test commented on #368
See: https://github.com/whatwg/html/issues/6040

[2022-02-04 17:33] domenic opened #369 "Add mappings for proposed <search> element"
In https://github.com/whatwg/html/pull/7320, we are working to add a `<search>` element to HTML. It would be best if there was a pull request ready against html-aam (and html-aria) containing the appropriate stuff for it, so that we could merge all three pull requests around the same time.

Let me know if I can help with this!

[2022-02-04 20:19] scottaohara commented on #369
Thanks @domenic.  I actually started on the PR for this back in November. #355.  Since the PR for HTML is moving forward, this PR is ready as well.

I imagine I we can reference the HTML AAM PR via [the existing chromium bug](https://bugs.chromium.org/p/chromium/issues/detail?id=1294294)?  Or should I be filing a separate issue?

Similar question for gecko and webkit issues?

[2022-02-04 20:39] domenic commented on #369
Oh, perfect! And yes, bundling that together in the implementation bugs makes sense. Thanks!

[2022-02-06 23:05] #316 closed, assigned to nobody

[2022-02-06 23:30] #336 closed, assigned to scottaohara

[2022-02-10 18:14] scottaohara opened #370 "Consider: hidden <label> can still name associated form control"
See also: https://github.com/w3c/accname/issues/148

The intent here is to clarify in HTML AAM that a hidden `<label>` element which is associated with a form control should still take part in the accName calculation

e.g.,
[code]
the input should still have a name of "foo"

[2022-02-10 18:24] stevefaulkner commented on #370
@scottaohara is this aspirational?

[2022-02-10 20:13] scottaohara commented on #370
was discussed in the ARIA WG as something that isn't unreasonable to assume, and that there was desire for it re: accName spec as well.

[2022-02-11 07:55] stevefaulkner commented on #370
yeah I agree it would be good, needs implementations no?

[2022-03-07 00:21] #363 closed, assigned to nobody

[2022-03-07 00:21] #133 closed, assigned to nobody

[2022-03-07 00:21] #196 closed, assigned to nobody

[2022-03-07 00:21] #10 closed

[2022-03-07 00:21] #333 closed, assigned to nobody

[2022-03-07 00:50] #183 closed, assigned to stevefaulkner

[2022-03-07 01:20] scottaohara opened #373 "Remaining elements to revise mapping"
Closing #229, #183 and #346 in favor of this new issue to simplify.

The following elements should map to `generic`, but we will either need a call out here, or in CORE AAM how AT should treat an 'inline' vs a 'block'/other display type `generic` (if not doing something with https://github.com/w3c/aria/pull/996).

- [x] `area` no `href`
- [x] `b`
- [x] `i`
- [x] `data`
- [x] `samp`
- [x] `kbd`
- [

[2022-03-07 01:20] #229 closed, assigned to stevefaulkner, scottaohara