[2016-10-03 15:03] stevefaulkner opened #1 "script broken"
The script that transforms the tables into summary/details is broken.

[2016-10-05 03:36] jasonkiss commented on #1
Works in master branch, but not in gh-pages / w3c.github.io snapshot where:

mapping-tables.js:3 Uncaught ReferenceError: require is not defined(anonymous function)

[2016-10-11 02:03] jasonkiss opened #2 "Mappings for <meter> should be different from <progress>"
From [ARIA issue 451](https://github.com/w3c/aria/issues/451) raised by @fstorr.

The HTML AAM specifies no corresponding ARIA role for `meter`, but it looks like the separate mappings for `meter` in MSAA+IA2, UIA, and AX reflect the `progressbar` role and `progress` element, which isn't correct.

@asurkov, the definition for ROLE_SYSTEM_PROGRESSBAR is wrong for `meter`. The `meter` element has se

[2016-10-12 01:49] jasonkiss opened #3 "HTML-AAM: should we have some general language for sub-doms?"
_From @cyns on January 12, 2016 18:33_

Canvas has an author-supplied sub-dom, which also maps into the accessibility api tree
The audio and video elements can have a whole tree of children if @controls is present.
Should we add some general language to the document on how to handle these situations?

Here's what we have for UIA for canvas now. It seems inadequate.
Control Type: Image
NOTE: subdom

[2016-10-12 01:51] jasonkiss opened #4 "HTML-AAM: should <caption> map to aria role=label?"
_From @cyns on January 12, 2016 18:34_

caption feels like a kind of label. should we map it as one?

_Copied from original issue: w3c/aria#142_

[2016-10-12 01:51] jasonkiss opened #5 "HTML-AAM: should <details> map to aria role=dialog?"
_From @cyns on January 12, 2016 18:36_

Currently, `<details>` has no aria mapping. It's a popup control that acts like a dialog. Maybe that's a good match?

_Copied from original issue: w3c/aria#143_

[2016-10-12 01:56] jasonkiss opened #6 "HTML-AAM: should <dfn> map to aria role=term?"
_From @cyns on January 12, 2016 18:37_

_Copied from original issue: w3c/aria#144_

[2016-10-12 01:56] jasonkiss commented on #6
I don't think so. `<dfn>` represents the defining instance of a term, while the definition role represents the definition of a term or concept. However, we might want to map <dfn> to [role=term (ARIA1.1)](http://w3c.github.io/aria/aria/aria.html#term) depending on how that role gets mapped

[2016-10-12 01:56] jasonkiss opened #7 "HTML-AAM: <dfn> UIA mapping to group with localized control type and text style"
_From @cyns on January 12, 2016 18:39_

control type: group
localized control type: definition
If the text is rendered in Italics, the text pattern will have italic style

_Copied from original issue: w3c/aria#145_

[2016-10-12 01:56] jasonkiss commented on #7
Done. Closing on the assumption that the sentence re text styling being exposed by UIA text attribute identifiers of the TextRange control pattern implemented on a parent accessible object is acceptable.

[2016-10-12 01:56] jasonkiss commented on #7
Reopening as I noticed that in latest stable channel release of Edge (14393), `dfn` gets an accessible object with Text Control Type. Agree this should be Group, given `dfn` content model (flow content), but just want to confirm that it should get an accessible object by default, because the UIA mapping currently states "No accessible object". @cyns?

[2016-10-12 01:57] jasonkiss opened #8 "HTML-AAM: align <dl> mappings with ARIA 1.3 associationlist role"
_From @cyns on January 12, 2016 18:42_

Consider adding a "term" role to aria? It doesn't seem like the current mapping provides enough info to AT.

_Copied from original issue: w3c/aria#148_

[2016-10-12 01:57] jasonkiss commented on #8
If [role=term (ARIA1.1)](http://w3c.github.io/aria/aria/aria.html#term) is confirmed, this could work nicely:

- `<dl>`: Seems this is referred to in HTML5.1 as description list instead of definition list. In UIA, this could get localized control type "description list". AX could update its AXSubrole to AXDescriptionList, or at least its AXRoleDescription to "description list". Or we could stick w

[2016-10-12 01:57] jasonkiss opened #9 "HTML-AAM: should <figcaption> be mapped to aria role=label?"
_From @cyns on January 12, 2016 18:43_

Seems label-y

_Copied from original issue: w3c/aria#149_

[2016-10-12 03:05] jasonkiss opened #10 "Consider changing AXRoleDescription for landmark <header> from "banner" to "header""
From [ARIA issue #155](https://github.com/w3c/aria/issues/155)

In HTML-AAM, UIA uses localized strings "header" and "footer" for both landmark and non-landmark instances of `header` and `footer`, differentiating between the two instances via LandmarkType.

In AX, the non-landmark instances are simply mapped to the AXGroup role with "group" as the localized string. The landmark instances of `heade

[2016-10-12 03:09] jasonkiss opened #11 "HTML-AAM: determine right UIA mapping for browser generated form validation error messages"
_From @cyns on January 12, 2016 19:37_

_Copied from original issue: w3c/aria#160_

[2016-10-12 03:09] jasonkiss commented on #11
Tooltip Control Type?

[2016-10-12 03:09] jasonkiss commented on #11
_From @cyns on May 4, 2016 0:11_

Error state mapped
ControllerFor poining to a Pane with error message
IsDataValidForForm = false

[2016-10-12 03:09] jasonkiss opened #12 "HTML-AAM: where should label be attached to multi-control Edge <input type=file>?"
_From @cyns on January 12, 2016 19:50_

Edge uses a textbox and a button for its default rendering of &lt;input type=file&gt;. If the element is wrapped by a &lt;label&gt; or referenced by a &lt;label for&gt; which control (or both) should get the name?

_Copied from original issue: w3c/aria#163_

[2016-10-12 03:10] jasonkiss opened #13 "HTML-AAM: determine best UIA mapping for <kbd>"
_From @cyns on January 12, 2016 21:48_

`kbd` could be mapped as either
1) a new text attribute
2) a group with localized control type (maybe "user input"?)

_Copied from original issue: w3c/aria#170_

[2016-10-12 03:11] jasonkiss opened #14 "HTML-AAM: should <legend> map to aria role=label?"
_From @cyns on January 12, 2016 21:58_

feels label-y

_Copied from original issue: w3c/aria#173_

[2016-10-12 03:11] jasonkiss commented on #14
What's the latest status of role=label?

[2016-10-12 03:11] jasonkiss opened #15 "HTML-AAM: UIA mapping for <tr>"
_From @cyns on January 12, 2016 23:13_

Generally not mapped. If the element must be included per Core-AAM Section 5.1.2, map as <code>Group</code>.

_Copied from original issue: w3c/aria#180_

[2016-10-12 03:11] jasonkiss commented on #15
_From @cyns on February 25, 2016 4:26_

Need to add respec link to CORE-AAM

[2016-10-12 03:11] jasonkiss commented on #15
So it's not going to be normally mapped as role=row? Okay if not, but then wouldn't it be mapped as role=row (as DataItem ControlType) when it is included in the a11y tree?

[2016-10-12 03:11] jasonkiss opened #16 "HTML-AAM: @abbr should be part of name calculation"
_From @cyns on January 12, 2016 23:15_

abbr should replace (or maybe add to?) the inner text of the element, and participate in name calculation.

_Copied from original issue: w3c/aria#181_

[2016-10-12 03:11] jasonkiss commented on #16
Interestingly, HTML5.1 defines the abbr attribute as an "alternative label for the header cell" and that it is "typically an abbreviated form of the full header cell, but can also be an expansion, or merely a different phrasing." My experience is the opposite: it's typically an expansion. Either way, it's an interesting question.

In my view, adding the value of the abbr attribute to the header el

[2016-10-12 03:11] jasonkiss commented on #16
_From @jnurthen on March 16, 2016 3:39_

I can tell you how we use it.

When we have sort controls within a table header then we use abbr to provide a version of the table header without the extraneous sorting control information to be used as the table header when reading cells in the table.

For example

<th abbr="Last Name">Last Name <a href="...">sort ascending</a><a href="...">sort desceding<

[2016-10-12 03:11] jasonkiss commented on #16
Thanks @jnurthen. Looks like VO is using the abbr value when navigating cells, although I can't see how that's mapped using Accessibility Inspector. FF exposes the abbr as object attributes on the header cell. NVDA doesn't seem to read the abbr in FF, but JAWS does in IE and FF when navigating table data cells, but not when reading the actual header cell itself. Seems that preference then is to ha

[2016-10-12 03:12] jasonkiss opened #17 "HTML-AAM: determine how to map @accesskey <1 character to UIA"
_From @cyns on January 12, 2016 23:18_

_Copied from original issue: w3c/aria#183_

[2016-10-12 03:12] jasonkiss opened #18 "HTML-AAM: should @headers participate in name calculation?"
_From @cyns on January 12, 2016 23:21_

_Copied from original issue: w3c/aria#184_

[2016-10-12 03:12] jasonkiss opened #19 "HTML-AAM: UIA mapping for @lang"
_From @cyns on January 12, 2016 23:36_

open question.
There is a culture text attribute in UIA, but TTS engines aren't using it. They're using heuristics instead to determine language. Not convinced that mapping this is valuable. Would like input...

https://msdn.microsoft.com/en-us/library/windows/desktop/ee872119(v=vs.85).aspx

_Copied from original issue: w3c/aria#191_

[2016-10-12 03:13] jasonkiss opened #20 "HTML-AAM: UIA mapping for @list"
_From @cyns on January 12, 2016 23:40_

ControllerFor pointing to target of the <code>list</code> attribute. Refer to input elements mapping.

_Copied from original issue: w3c/aria#192_

[2016-10-12 03:13] jasonkiss opened #21 "HTML-AAM: should @list map to aria-controls?"
_From @cyns on January 12, 2016 23:42_

The relationship between the input and the datalist, via the list reference, is very similar to the aria-controls relationship.

_Copied from original issue: w3c/aria#193_

[2016-10-12 03:13] jasonkiss commented on #21
_From @cyns on January 29, 2016 1:6_

After more investigation, I think it should. We are going to map both list and aria-controls to ControllerFor in UIA.

[2016-10-12 03:13] jasonkiss commented on #21
_From @cyns on February 9, 2016 22:51_

@stevefaulkner @jasonkiss does this make sense to you?

[2016-10-12 03:17] jasonkiss opened #22 "HTML-AAM: determine best UIA mapping for @longdesc"
_From @cyns on January 12, 2016 23:44_

_Copied from original issue: w3c/aria#194_

[2016-10-12 03:18] jasonkiss opened #23 "HTML-AAM: should @longdesc be part of name calculation?"
_From @cyns on January 12, 2016 23:45_

Seems like it would populate the description field?

_Copied from original issue: w3c/aria#195_

[2016-10-12 03:18] jasonkiss opened #24 "HTML-AAM: consider adding note to style element that some CSS will change accessibiltiy tree"
_From @cyns on January 12, 2016 23:50_

For example, display:none removes elements from the accessibility tree.

_Copied from original issue: w3c/aria#198_

[2016-10-12 03:18] jasonkiss opened #25 "HTML-AAM: @title on <abbr> and <dfn> needs to be covered in name calculation"
_From @cyns on January 12, 2016 23:54_

_Copied from original issue: w3c/aria#199_

[2016-10-12 03:18] jasonkiss commented on #25
_From @MichielBijl on January 13, 2016 8:38_

Is this the case for anchors?

[2016-10-12 03:18] jasonkiss commented on #25
_From @cyns on January 13, 2016 23:18_

Anchors seem different. Abbr and dfn provide strings to replace or augment the target, which seem like they should be part of how the name and description are calculated.

Date: Wed, 13 Jan 2016 00:38:58 -0800
From: notifications@github.com
To: aria@noreply.github.com
CC: cynthia_shelly@hotmail.com
Subject: Re: [aria] HTML-AAM: @title on <abbr> and <dfn> nee

[2016-10-12 03:18] jasonkiss opened #26 "HTML-AAM: <datalist> used with non-textbox inputs shouldn't map to aria listbox role"
_From @cyns on January 30, 2016 1:45_

This example from the HTML5 spec has the datalist providing values for the range control, but having no UI of its own. In this case, it would not be mapped to the aria listbox role. I think it would not be mapped at all, only providing value data to the range which is then mapped as a slider.  Are there other examples of where datalist is not a listbox?

&lt;

[2016-10-12 03:18] jasonkiss commented on #26
_From @klown on February 1, 2016 15:34_

@cyns

FWIW:  If I load that markup into FF, Safari, or Chrome, it's a slider.  Also, FF and Safari expose it as a slider in the a11y tree.

The html-aam maps <input type="range" ...> to the ARIA slider role:
http://rawgit.com/w3c/aria/master/html-aam/html-aam.html#el-input-range

The datalist/option is used by Chrome to create tick marks for the 0, -30, an

[2016-10-12 03:18] jasonkiss commented on #26
_From @cyns on February 5, 2016 23:24_

@klown
How about text change to the <datalist> mapping to aria to something like
When datalist is the target of a for attribute on an input of type text, email, [rest of the list], maps to the aria role listbox. When datalist is the target of the for attribute on an input of type range, not mapped. [other cases if there are any]

[2016-10-12 03:18] jasonkiss commented on #26
_From @klown on February 8, 2016 14:35_

@cyns
That sounds okay.

But, other than exploring a datalist for a input type="range", I personally don't know all the combinations of input and datalist, and the resulting GUI.  Others who know more, need to vet this.

[2016-10-12 03:18] jasonkiss commented on #26
_From @cyns on February 9, 2016 22:49_

@stevefaulkner are there other use cases for datalist besides an edit/combobox and a slider?

[2016-10-12 03:19] jasonkiss opened #27 "HTML-AAM: how to map Inner Phrasing Content for <meter>?"
_From @cyns on February 2, 2016 18:24_

HTML spec on <meter> has examples like this

&lt;meter value="0.5"&gt;Moderate activity&lt;/meter&gt;

Where should the inner phrasing content "Moderate activity" be mapped in the AAPIs? Is this a value? Part of name or description? Something else?

_Copied from original issue: w3c/aria#240_

[2016-10-12 03:19] jasonkiss commented on #27
_From @cyns on April 23, 2016 21:9_

@stevefaulkner @jasonkiss @Joanmarie we're blocked on this one. should it be mapped at all?

I thought about mapping it to aria-valuetext, but that uses the same uia property that we're using for the result of optimal calculation (Value.Value).
The fallback content doesn't seem like it would make a good name.

[2016-10-12 03:19] jasonkiss commented on #27
_From @cyns on April 23, 2016 21:22_

#334 is related

[2016-10-12 03:19] jasonkiss opened #28 "HTML-AAM: Make presentation of UIA mapping properties consistent"
_From @jasonkiss on February 10, 2016 5:36_

Settle on single way to indicate/present names and values for various UIA structures, properties, attributes, e.g. control patterns, control type, localized control type, landmark type, localized landmark type, text style attributes.
Currently there is some variance in how these are indicated.

_Copied from original issue: w3c/aria#252_

[2016-10-12 03:19] jasonkiss commented on #28
@cyns @stevefaulkner @asurkov Please take a look at the UIA mappings from `<a>` to `<meter>`. I took a stab at a single, consistent way to present the properties and values. Any comments/concerns?

[2016-10-12 03:19] jasonkiss commented on #28
_From @asurkov on August 11, 2016 20:39_

I'm not sure whether we should put a control type name into "", for example, <code>"figure"</code> and UIA_IsItalicAttributeId looks less ambitious than IsItalic, otherwise it looks like a good cleanup.

[2016-10-12 03:19] jasonkiss commented on #28
The reason quotes are used for Localized Control Type and similar property values is because they are strings, as opposed to constants as you get with Control Types. We do the same with AXRoleDescription.

Do you mean less ambiguous? "IsItalic" is the name of the text attribute, while "UIA_IsItalicAttributeId" is the identifier used when retrieving the value of the IsItalic attribute. Should we be

[2016-10-12 03:19] jasonkiss commented on #28
_From @asurkov on August 12, 2016 16:57_

it's probably ok, I'm just not sure if makes sense to show a type of the constant

yes :) I guess spelling correction.

note, same time we use ATK_ROLE_BLABAL and IA2_ROLE_BLABLA

[2016-10-12 03:19] jasonkiss opened #29 "HTML-AAM - test and update name calc for labelable elements"
_From @stevefaulkner on February 20, 2016 8:36_

test the following elements (where label not already included in name calc) and update where necessary to reflect implementations.

list of labelable elements in HTML5 includes
button input (if the type attribute is not in the hidden state)keygen meter output progress select textarea

http://www.w3.org/TR/html5/forms.html#category-label

_Copied fro

[2016-10-12 03:19] jasonkiss opened #30 "HTML-AAM: accesskey mapping for UIA-Express, should it be different than UIA?"
_From @cyns on February 26, 2016 1:19_

_Copied from original issue: w3c/aria#266_

[2016-10-12 03:19] jasonkiss opened #31 "HTML-AAM: (editorial) mark element UIA mapping has too much code styling"
_From @cyns on February 26, 2016 18:24_

_Copied from original issue: w3c/aria#269_

[2016-10-12 03:19] jasonkiss commented on #31
Not sure I understand. Please elaborate.

[2016-10-12 03:20] jasonkiss opened #32 "HTML-AAM: UIA mapping for address"
_From @cyns on February 26, 2016 20:2_

Control Type: Group
Localized Control Type: address
Landmark Type: Custom
Localized Landmark Type: content information

_Copied from original issue: w3c/aria#270_

[2016-10-12 03:20] jasonkiss commented on #32
_From @cyns on February 26, 2016 21:25_

The above mapping assumes that this is a landmark and equivalent to ARIA role=contentinfo. Waiting on resolution of #273 before updating html-aam

[2016-10-12 03:20] jasonkiss opened #33 "HTML-AAM: should address be treated as section/landmark in AAPIs?"
_From @cyns on February 26, 2016 21:23_

Apple maps address as an aria landmark role of content-info. IA2 and ATK map it like a div. I think it was at some point mapped to aria role=content-info, but I can't find when that was changed.

I can see how it is similar to contentinfo, though not a perfect match. I also don't think it's important enough (on most web pages) to be part of the landmark loo

[2016-10-12 03:20] jasonkiss opened #34 "[HTML-AAM] proscribe header/footer mappings to landmark roles"
_From @stevefaulkner on March 1, 2016 16:23_

It has been suggested that browser mappings for header = banner and footer=contentinfo should be only be exposed when the header/footer elements are scoped to the body element.

refer to https://github.com/w3c/html-aria/issues/27

_Copied from original issue: w3c/aria#277_

[2016-10-12 03:20] jasonkiss commented on #34
_From @MichielBijl on March 1, 2016 16:40_

This was also discussed in [the APG call from February 29th](https://www.w3.org/2016/02/29-aria-apg-minutes.html#item02).

[2016-10-12 03:20] jasonkiss commented on #34
_From @jongund on March 1, 2016 20:2_

I agree with this change.  It should be harder rather than easier to make banner and contentinfo landmark.

[2016-10-12 03:20] jasonkiss commented on #34
As I understand it, this is what the HTML-AAM already states for both [footer](https://rawgit.com/w3c/aria/master/html-aam/html-aam.html#el-footer) and [header](https://rawgit.com/w3c/aria/master/html-aam/html-aam.html#el-header)

Only where the `header` or `footer` element is scoped to the `body` (i.e. its nearest sectioning content or sectioning root ancestor is `body`) do they get mapped to the

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 2, 2016 8:18_

@jasonkiss yes you are correct, although i have always read it as `section/article` only, my bad. Currently to my knowledge browsers only implement `section/article` so will go file some implementation bugs and see how it goes. I also think that `<main>` should be included, any objections?

[2016-10-12 03:20] jasonkiss commented on #34
_From @MichielBijl on March 2, 2016 8:20_

I agree tot he `<main>` thing, if by that you mean that `<header>` in `<main>` does not get a role of banner.

[2016-10-12 03:20] jasonkiss commented on #34
_From @MarcoZehe on March 2, 2016 8:22_

@stevefaulkner No objections from my end, either. Please file a bug against Firefox and CC me if we still have a bug in our implementation.

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 2, 2016 8:23_

@MichielBijl yes that's what I mean. @MarcoZehe - thanks will file!

[2016-10-12 03:20] jasonkiss commented on #34
_From @MichielBijl on March 2, 2016 9:13_

WebKit bug: [AX: header and footer should only expose default roles when scoped to body](https://bugs.webkit.org/show_bug.cgi?id=154913).

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 2, 2016 9:38_

Have updated HTML-AAM to add `main` as a modifier for `header/footer` mapping
https://github.com/w3c/aria/commit/b3e07912846a9c6482c674ddf3a57308d6ef15cc

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 2, 2016 9:55_

firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1252799

[2016-10-12 03:20] jasonkiss commented on #34
_From @LJWatson on March 2, 2016 9:58_

@stevefaulkner
This proposal makes sense to me. To clarify one point though... are you suggesting that the current implimentation scenario where ```<header>``` or ```<footer>``` inside ```<main>``` are currently exposed as the banner/contentinfo for the document be continued, or that under no circumstances should they be exposed when children of ```<main>```

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 2, 2016 10:2_

@LjWatson

yes

[2016-10-12 03:20] jasonkiss commented on #34
_From @LJWatson on March 2, 2016 10:8_

@stevefaulkner thanks for clarification.

[2016-10-12 03:20] jasonkiss commented on #34
@stevefaulkner et al.

1. The wording added in https://github.com/w3c/aria/commit/b3e07912846a9c6482c674ddf3a57308d6ef15cc reads as if `main` is a sectioning content element. The scenario we need to describe is where `header` or `footer` is not a child of `main`, or conversely, `main` is not the `parent` of `header` or `footer`. I've updated in the commits noted above, primarily https://github.com

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 2, 2016 22:21_

@jasonkiss

I agree it may not be clear, but what you have changed it to reads as the opposite of what is intended:

The pattern is:

[code]

[code]

so I think should read more like

footer (nearest ancestor sectioning content or sectioning root element is not body, **or parent is main**)

[2016-10-12 03:20] jasonkiss commented on #34
@stevefaulkner good catch. I mistakenly had the converse. Fixed in https://github.com/w3c/aria/commit/66e5317fa19bfb40b0500e3c10819ba0e879e32a
What's your thoughts on `header` and `footer` being scoped to `main` and the possible need to update HTML5.1 spec?

[2016-10-12 03:20] jasonkiss commented on #34
The more I think about this, the more I think we shouldn't bother specifying that `header`/`footer` in `main` isn't a landmark, unless the definition of `header`/`footer` changes to allow them to be scoped to `main` like they can be to other sectioning elements. Even then, it would get quite confusing.

I'd currently consider it author error to use `header`/`footer` in `main` and expect them to ac

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 4, 2016 18:2_

yes

[2016-10-12 03:20] jasonkiss commented on #34
I'm still not entirely comfortable with this change.

What is an author intending when nesting `header` or `footer` in `main` (and not also within some other sectioning content element)? Are they thinking they are creating a header or footer for the `main` element, as if it were a sectioning element? If so, they're currently wrong as per the HTML5 spec, no? If so, it makes no sense to nest `header

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 5, 2016 9:24_

take a look at the following example http://codepen.io/stevef/pen/VavBay I don't think it is either an author error or misunderstanding (conforms to HTML), but as it currently stands, for implicit sections, all headers=banner which is not desirable.

[2016-10-12 03:20] jasonkiss commented on #34
I agree that `header`==banner is not what an author has likely intended, but what is an author meaning to do with `header` by using it to enclose those headings in this example? The HTML5.1 spec, as I read it, is pretty clear on this: use of `header` in this example doesn't do anything more than `div`, so why would we establish special mapping criteria?

[2016-10-12 03:20] jasonkiss commented on #34
_From @stevefaulkner on March 5, 2016 10:47_

HTML [encourages use of `<header>` to group headings](http://w3c.github.io/html/common-idioms-without-dedicated-elements.html#subheadings-subtitles-alternative-titles-and-taglines) and taglines etc. And yes `header` in these cases is supposed to be a grouping object only, so that is the reason why we should establish additional special mapping criteria

[2016-10-12 03:20] jasonkiss commented on #34
Then I suggest the element definition for `header` be updated to note that grouping usage and to clarify:

- that a `header` can represent introductory content for its nearest ancestor `main` element, or sectioning content or sectioning root element
- that when the `header` element's nearest ancestor sectioning content or sectioning root element is the body element, then it applies to the whole pa

[2016-10-12 03:21] jasonkiss opened #35 "HTML-AAM: need string values for all HTML form elements to plug into accname-aam step 2E"
_From @cyns on March 16, 2016 5:15_

&lt;input type=checkbox id=foo&gt;
&lt;label for=foo&gt;Include items from &lt;input type=date value="2016-04-01"&gt;?&lt;/label&gt;

the accessible name of foo should be something like "Include items from April 1, 2016?"
We need to define how those values stringify for the html date, time, color, and all other form elements that aren't of one of the specified

[2016-10-12 03:21] jasonkiss opened #36 "HTML-AAM: role=status is not a good match for output element"
_From @cyns on March 18, 2016 23:29_

The output element isn't exactly a status bar. I think a more generic mapping (group?) and a live region is better. I've aleady updated the UIA mapping here, but I don't think this is a good mapping for the other APIs either.

_Copied from original issue: w3c/aria#309_

[2016-10-12 03:22] jasonkiss commented on #36
_From @cyns on March 30, 2016 19:40_

@stevefaulkner @jasonkiss @asurkov @Joanmarie @cookiecrook @klown
I'd like to update this sooner than later. What do you think about removing the mapping from the html output element to role=status? While they have some similarities (polite live region), I think calling an output a status bar is confusing.

[2016-10-12 03:22] jasonkiss commented on #36
_From @stevefaulkner on March 30, 2016 21:10_

@cyns looking at this related bug may be helpful https://www.w3.org/Bugs/Public/show_bug.cgi?id=26135 there has never been in rough concensus on the correctness of the current mapping

[2016-10-12 03:22] jasonkiss commented on #36
_From @cookiecrook on March 31, 2016 4:46_

I consider "status" more general than "status bar" ("bar" implies a particular presentation and usage) so I don't have a strong aversion to using status as the default role for the output element.

Confusing to whom? Most web developers won't be aware of "element default roles" at all. Can you be more specific about why you want the change?

[2016-10-12 03:22] jasonkiss commented on #36
_From @cyns on April 23, 2016 21:37_

@cookiecrook the aria status role is mapped to Status Bar on IA2 and ATK. It was mapped to that for UIA as well, but I changed it to a group with a polite live region. It may not have originally been intended to be a status bar, but several platforms treat it as such.

I created tracker issues about the aria mappings

[2016-10-12 03:22] jasonkiss commented on #36
_From @cyns on April 23, 2016 21:39_

https://www.w3.org/WAI/ARIA/track/issues/1024

[2016-10-12 03:22] jasonkiss commented on #36
_From @asurkov on August 11, 2016 20:21_

I'm not sure whether role=status is a good match, which is defined as
"A type of live region whose content is advisory information for the user but is not important enough to justify an alert"
and HTML output as
"The HTML <output> element represents the result of a calculation or user action."
which is not necessary same.

However it doesn't affect on mapp

[2016-10-12 03:22] jasonkiss commented on #36
_From @klown on August 11, 2016 21:0_

@asurkov

Current [Core-AAM mappings](https://rawgit.com/w3c/aria/action2102/core-aam/core-aam.html#role-map-status) are to `ROLE_SYSTEM_STATUSBAR` (MSAA/IA2) and `ROLE_STATUSBAR` (ATK/AT-SPI) plus polite and status live region info.  The [ARIA 1.0 test case](https://www.w3.org/WAI/PF/testharness/testresults?testsuite_id=1&testcase_id=63) passed using those m

[2016-10-12 03:22] jasonkiss commented on #36
_From @asurkov on August 12, 2016 14:45_

oh, then it's a bug, HTML output is not a status bar, while ROLE_SYSTEM_STATUSBAR is:

"The object represents a status bar, which is an area at the bottom of a window and which displays information about the current operation, state of the application, or selected object. "

https://msdn.microsoft.com/en-us/library/windows/desktop/dd373608(v=vs.85).aspx

I

[2016-10-12 03:22] jasonkiss opened #37 "HTML-AAM: UIA mapping for time element"
_From @cyns on March 31, 2016 19:37_

ControlType: Text
LocalizedControlType: "time"
FullDescription: value of datetime attribute

Add the datetime attribute value as the lowest priority for description mapping for the <time> element

_Copied from original issue: w3c/aria#314_

[2016-10-12 03:22] jasonkiss opened #38 "HTML-AAM: aria mapping for @hidden is blank"
_From @cyns on March 31, 2016 19:46_

Should it be no corresponding aria property?

_Copied from original issue: w3c/aria#315_

[2016-10-12 03:22] jasonkiss opened #39 "HTML-AAM: should meter be focusable?"
_From @cyns on April 14, 2016 17:43_

I couldn't find an answer in any of the specs as to whether the meter element is expected to be focusable.

_Copied from original issue: w3c/aria#327_

[2016-10-12 03:22] jasonkiss commented on #39
_From @cyns on April 14, 2016 17:43_

@stevefaulkner @jasonkiss thoughts?

[2016-10-12 03:22] jasonkiss commented on #39
I don't think it should be focusable. Despite being labelable and palpable, it's not really an interactive element. It can also contain other interactive elements, in which case making the meter focusable could get messy. I'd say it just needs to have a clear accessible object with a robust approach to exposing its relevant attribute values.

[2016-10-12 03:22] jasonkiss commented on #39
_From @stevefaulkner on April 15, 2016 11:2_

Note `<meter>` is a labelable element, but I don't think it should be focusable by default (its not in chrome or firefox), as its not an interactive element. it is exposed as a progressbar.

[2016-10-12 03:22] jasonkiss commented on #39
_From @cyns on April 23, 2016 20:27_

Makes sense. Assigning to myself to add spec text clarifying.

[2016-10-12 03:22] jasonkiss opened #40 "HTML-AAM: (editorial) all UIA localized control types and localized landmark types should be lowercase"
_From @cyns on April 14, 2016 23:50_

figure is wrong. Check the others.

_Copied from original issue: w3c/aria#330_

[2016-10-12 03:23] jasonkiss opened #41 "HTML-AAM: should aria-placeholder be used for accessible description on elements?"
_From @cyns on April 15, 2016 23:4_

in 5.1.1, aria-description is used for name calculation, but it is not used in 5.1.2 for description calculation, even if it was not used as the name. Is this intentional? If so, what's the rationale?

_Copied from original issue: w3c/aria#334_

[2016-10-12 03:23] jasonkiss commented on #41
_From @cyns on April 15, 2016 23:4_

@stevefaulkner @jasonkiss another question for you

[2016-10-12 03:23] jasonkiss commented on #41
_From @cyns on April 18, 2016 21:25_

@AmeliaBR any thoughts on this one?

[2016-10-12 03:23] jasonkiss commented on #41
_From @stevefaulkner on April 18, 2016 21:49_

@cyns unclear what you mean are you talking about "aria-placeholder attribute" being in accname but not accdescription calc?

[2016-10-12 03:23] jasonkiss commented on #41
_From @cyns on April 18, 2016 22:28_

yes, sorry, aria-placeholder. changed it.

[2016-10-12 03:23] jasonkiss commented on #41
_From @cyns on April 18, 2016 22:29_

I think, if it's following general rules, that it would come after label and before placeholder.

[2016-10-12 03:23] jasonkiss commented on #41
_From @cyns on May 2, 2016 20:51_

@stevefaulkner @AmeliaBR
How about adding aria-placeholder as step 4, between label and placeholder?

[2016-10-12 03:23] jasonkiss commented on #41
@cyns, are you suggesting the following?

5.1.1 input type="text", input type="password", input type="search", input type="tel", input type="email", input type="url" and textarea Element Accessible Name Calculation

1. If the control has an aria-label or an aria-labelledby attribute the accessible name is to be calculated using the algorithm defined in Accessible Name and Description: Computation

[2016-10-12 03:23] jasonkiss commented on #41
_From @AmeliaBR on May 2, 2016 23:55_

@jasonkiss's suggestion makes sense to me.  Make the text available one way or the other.

[2016-10-12 03:23] jasonkiss commented on #41
_From @cyns on May 4, 2016 0:5_

@jasonkiss yes, that's what I was suggesting. make sense?

[2016-10-12 03:23] jasonkiss commented on #41
_From @dstorey on May 5, 2016 6:34_

Apologies if I'm misunderstanding this, but the placeholder mapping spec states:

"When the placeholder and aria-placeholder attributes are both present, and the placeholder attribute's value is non-empty, user agents must expose the value of the placeholder attribute, and ignore aria-placeholder. If the placeholder attribute's value is empty, then user agents

[2016-10-12 03:23] jasonkiss commented on #41
@dstorey Good call.

See http://lists.linux-foundation.org/pipermail/accessibility-ia2/2015-April/001877.html for part of the discussion around that text you quote from the HTML-AAM. So `placeholder` wins out over `aria-placeholder` when both exist with non-empty values. That seems to be the current state for those, rightly or wrongly.

Also, while I haven't been able to find a definite consensus

[2016-10-12 03:23] jasonkiss opened #42 "HTML-AAM: possible aria mapping for meter"
_From @cyns on April 23, 2016 21:22_

should we map meter to the following aria?

role = progressbar
aria-roledescription = meter
aria-readonly = true
aria-valuemax = max attribute
aria-valuemin = min attribute
aria-valuenow = value attribute
aria-valuetext = localized string representing the result of optimal calculation (we use "good", "fair", "poor")

_Copied from original issue: w3c/aria#344_

[2016-10-12 03:23] jasonkiss commented on #42
_From @cyns on April 23, 2016 21:22_

@stevefaulkner @jasonkiss @Joanmarie thoughts?

[2016-10-12 03:23] jasonkiss commented on #42
_From @stevefaulkner on April 23, 2016 21:47_

Looks good to me

On Saturday, 23 April 2016, cyns <notifications@github.com> wrote:

--
--

Regards

SteveF
Current Standards Work @W3C
<http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/>

[2016-10-12 03:23] jasonkiss opened #43 "Should SVG be role="graphics-document" in all cases?"
_From @stevefaulkner on April 25, 2016 13:10_

as per SVG spec, SVG element is role=group
https://svgwg.org/svg2-draft/struct.html#implicit-aria-semantics

_Copied from original issue: w3c/aria#347_

[2016-10-12 03:23] jasonkiss commented on #43
_From @AmeliaBR on April 25, 2016 13:21_

Added info: role="group" is not ideal, as [noted in the SVG-AAM](https://w3c.github.io/aria/svg-aam/svg-aam.html#role-map-svg).

We (SVG Accessibility TF) are looking at the platform-specific mappings currently in the HTML-AAM to see if they are an improvement.  Once we have good mappings and a stable spec to cross reference, the preferred ARIA role would

[2016-10-12 03:23] jasonkiss commented on #43
_From @richschwer on April 25, 2016 13:54_

Good point. I updated the SVG spec. to be the graphics-doc role for the SVG element. We are pushing for feature freeze of the ARIA spec as a pseudo last call in June. We should do the same with our graphics spec.

We should switch to the graphics-doc role *now* and then work on the mappings. So, please change the issue to say graphics-doc vs. group and r

[2016-10-12 03:23] jasonkiss commented on #43
_From @Joanmarie on April 25, 2016 17:3_

For SVG elements _inside HTML_, the group role is not bad if there are children. If there are not children, however, it becomes problematic for reasons discussed in [WebKit bug 156774](https://bugs.webkit.org/show_bug.cgi?id=156774).

For the childless SVG _inside an HTML document_, I have suggested the mapping be to the platforms' image role. (SVG element

[2016-10-12 03:23] jasonkiss commented on #43
_From @fredesch on April 25, 2016 19:10_

Joanie,

A childless SVG element would not appear on the screen and if you wanted to
give it a role - none or presentation makes more sense.

     Regards,

    Fred Esch
 Watson, IBM, W3C
  Accessibility

[2016-10-12 03:23] jasonkiss commented on #43
_From @AmeliaBR on April 25, 2016 19:25_

As Fred notes, "childless" SVG in the DOM isn't relevant.  However, the issue is more a "childless in the accessibility tree" sense: if none of the SVG's child elements have their own alt text or roles, they will be excluded from the accessibility tree, leaving an apparently-empty "group" for AT users.

If an accessibility API already has a role that conve

[2016-10-12 03:23] jasonkiss commented on #43
_From @fredesch on April 25, 2016 19:46_

Joanie,

In another email I suggested that a better role for an SVG element without
children would be none or presentation since it wouldn't be seen. But I
don't see why group isn't an acceptable role for a SVG element with no
children? The group role does not require an element to have children.  In
ARIA 1.1 the group role says it can be used for logical

[2016-10-12 03:23] jasonkiss commented on #43
_From @Joanmarie on April 25, 2016 20:18_

@fredesch You make a good point about the case of empty set size. Maybe we need to change things at the AT level after all....

[2016-10-12 03:23] jasonkiss commented on #43
_From @LJWatson on April 26, 2016 7:40_

@AmeliaBR
"As Fred notes, "childless" SVG in the DOM isn't relevant. However, the issue is more a "childless in the accessibility tree" sense: if none of the SVG's child elements have their own alt text or roles, they will be excluded from the accessibility tree, leaving an apparently-empty "group" for AT users."

The same thought that occured to @fredesch

[2016-10-12 03:23] jasonkiss commented on #43
_From @fredesch on April 26, 2016 13:32_

@LJWatson
When I read the SVG AAM, it appears an SVG element will always be included in the accessibility tree (as the AAM does not say it is subject to inclusion/exclusion rules). A lot of SVG can be interactive and mutable, so I would not like to see the representation in the accessibility tree change based on an SVG having a child or not.

[2016-10-12 03:23] jasonkiss commented on #43
_From @fredesch on April 26, 2016 14:21_

@Joanmarie  we will discuss at task force meeting tomorrow.

[2016-10-12 03:23] jasonkiss commented on #43
_From @fredesch on April 27, 2016 18:51_

@Joanmarie  we are going to use the graphics-doc role for the SVG element. The graphics-doc role is defined in the Graphics Module and the SVG 2 spec will use the graphics-doc role. HTML will reference the SVG spec. Amelia will be putting this in the SVG 2 spec this week.

[2016-10-12 03:24] jasonkiss commented on #43
_From @Joanmarie on April 28, 2016 15:15_

Ok. I just looked at the [mappings](https://rawgit.com/w3c/aria/master/graphics-aam/graphics-aam.html#mapping_role_table) for my platform. The mapping will need to be conditional.

If the `svg` element is not the top-level object, e.g. it's the child of the `body` or a `div` or any other HTML element, the mapping should be to ROLE_PANEL (with the object a

[2016-10-12 03:24] jasonkiss commented on #43
_From @cookiecrook on April 28, 2016 21:6_

Clarifying some points of discussion: ARIA's role="group" is not a 1-to-1 mapping with some of the platform accessibility API container roles such as AXGroup on OS X.

It seems to me like most are in agreement that a *labeled* SVG with no accessible descendants can and should be exposed as an image on the platforms where empty generic groups are ignored

[2016-10-12 03:24] jasonkiss commented on #43
_From @cookiecrook on April 28, 2016 21:13_

@Joanmarie Can you double-check the mappings link? It's 404 for me.

[2016-10-12 03:24] jasonkiss commented on #43
_From @cookiecrook on April 28, 2016 21:16_

Also, a link to the SVG meeting minutes would help.

[2016-10-12 03:24] jasonkiss commented on #43
_From @Joanmarie on April 28, 2016 22:19_

@cookiecrook. Sorry. Try this one: https://rawgit.com/w3c/aria/master/graphics-aam/graphics-aam.html#mapping_role_table

[2016-10-12 03:24] jasonkiss commented on #43
_From @richschwer on May 4, 2016 18:12_

changing the role to graphics-document per discussion today

[2016-10-12 03:24] jasonkiss opened #44 "HTML-AAM: td and tr Name and Description Computation not specified"
_From @cyns on April 25, 2016 21:56_

table is covered, but not td and tr

_Copied from original issue: w3c/aria#352_

[2016-10-12 03:24] jasonkiss commented on #44
_From @AmeliaBR on April 25, 2016 23:58_

(Un-assigning myself on the assumption I was assigned by accident as the first entry in the alphabetical list.  As much as I'd love to work more on the name & description spec, it's not happening soon!)

[2016-10-12 03:24] jasonkiss opened #45 "[HTML AAM] Mapping of 'form' element to ARIA 'form' role should only be done when element has a label"
_From @richschwer on April 26, 2016 19:58_

The form element in HTML should only map to the ARIA form role if it has a label. Otherwise, it maps to the normal form mapping on the platforms. The reason is backward compatibility for old code that does things like embed a single button in form or make form the container for all the content in the page besides <body>

_Copied from original issue: w3c/

[2016-10-12 03:25] jasonkiss opened #46 "HTML-AAM: select element should map to listbox role regardless of presentation"
_From @mcking65 on May 2, 2016 2:6_

The html AAM maps the select element differently based on the size and multiple selection values.

This seems like using role to describe presentation rather than interaction model.

HTML select has the interaction model of a listbox regardless of the value of size.

ARIA combo is defined as a composite that includes a textbox and a separate popup element. HTML

[2016-10-12 03:25] jasonkiss commented on #46
_From @asurkov on June 21, 2016 12:9_

You're not arguing for having both combobox and listbox roles, right?

On semantic level HTML:select is a combobox widget, and HTML:select@size>1 is a listbox widget. At least I'm not sure I follow "interaction model" argument, because HTML:select looks and behaves like a combobox. On API level the browser exposes these widgets (presentations) differently too

[2016-10-12 03:25] jasonkiss opened #47 "HTML-AAM: determine right mappings for browser generated form validation error messages"
_From @cyns on May 4, 2016 0:13_

UIA covered in #160. Other APIs need this too.

_Copied from original issue: w3c/aria#360_

[2016-10-12 03:25] jasonkiss commented on #47
_From @cyns on May 4, 2016 0:17_

IA2_STATE_INVALID_ENTRY
how can error message UI be connected to input and caused to speak in the various APIs?

[2016-10-12 03:25] jasonkiss commented on #47
_From @cyns on May 6, 2016 19:8_

@Joanmarie @asurkov What's the right way to map the error messages that show up with the required attribute, and validated inputs (eg URL, email, number) in IA2 and ATK? These don't work well with NVDA in Firefox or Chrome on Windows.

[2016-10-12 03:25] jasonkiss opened #48 "HTML-AAM: determine right mappings for popup ui for input type=color"
_From @cyns on May 6, 2016 20:20_

The color picker dialog that pops up from input type=color is not reliably mapped to accessibility APIs in browsers and does not reliably work with screen readers. We need to determine the right way to map the relationship between the launcher (button or edit) and popup UI, so that screen readers can find it.

_Copied from original issue: w3c/aria#363_

[2016-10-12 03:25] jasonkiss commented on #48
_From @cyns on May 6, 2016 22:7_

Here's what we're doing in UIA:
Control Type: Button
Localized Control Type: color picker
ControllerFor: points to the popup
The popup and its children must be present in the UIA tree, and mapped as button, slider, etc. as appropriate for the type of control.

Would it work to do something similar with ControllerFor/ControlledBy in IA2 and ATK?

[2016-10-12 03:25] jasonkiss opened #49 "HTML-AAM: determine right mappings for popup ui for date and time inputs"
_From @cyns on May 6, 2016 21:5_

The UI that pops up from date and time inputs is not reliably mapped to accessibility APIs in browsers and does not reliably work with screen readers. We need to determine the right way to map the relationship between the launcher (button or edit) and popup UI, so that screen readers can find it.

This applies to
input (type attribute in the Date state)
input (typ

[2016-10-12 03:25] jasonkiss commented on #49
_From @cyns on May 6, 2016 22:6_

@Joanmarie @asurkov similar to the issues with color picker (#363) and validation errors (#360 #160)
Here's what we're doing in UIA:
Control Type: Edit
Localized Control Type: (element state name)
ControllerFor: points to the popup
The popup and its children must be present in the UIA tree, and mapped as button, slider, etc. as appropriate for the type of control.

[2016-10-12 03:25] jasonkiss commented on #49
_From @asurkov on August 11, 2016 20:30_

I would say this is a reasonable suggestion, but iirc there's a bunch of examples, where people use aria-owns relations.

[2016-10-12 03:25] jasonkiss commented on #49
_From @mcking65 on August 12, 2016 2:30_

aria-owns creates problems ... pls go w/controling relationship.

[2016-10-12 03:25] jasonkiss opened #50 "html-aam: name calculation doesn't seem to cover embedded controls"
_From @cyns on May 9, 2016 17:46_

This markup
&lt;label&gt;Wait &lt;input type=number value=5&gt; minutes before rebooting&lt;/label&gt;
should result in an accessible name of "Wait 5 minutes before rebooting" for the number input. The recursive algorithm in accname-aam will result in that string, but it is not clear reading html-aam that this is covered. Is it the expectation that the accname-aa

[2016-10-12 03:25] jasonkiss commented on #50
_From @cyns on May 9, 2016 17:47_

@stevefaulkner @jasonkiss @AmeliaBR thoughts?

[2016-10-12 03:28] jasonkiss opened #51 "<dl> role should = list"
_From @stevefaulkner on May 10, 2016 14:22_

suggest changing dl ARIA mapping to list, from 'no corresponding role' http://w3c.github.io/aria/html-aam/html-aam.html#el-dl

_Copied from original issue: w3c/aria#371_

[2016-10-12 03:28] jasonkiss commented on #51
_From @AmeliaBR on May 10, 2016 15:44_

Sounds logical, given that the mappings are all to list equivalents in the accessibility APIs.

Based on the same argument, `<dt>` should map to listitem, and there should be some sort of implicit relationship (`aria-owns` or `aria-describedby`) to attach the definitions to the corresponding terms.  Probably `aria-describedby` to allow for multiple terms hav

[2016-10-12 03:28] jasonkiss commented on #51
If we map `dl` to `list`, then it implies a formal semantic and default API mappings for `dl` that don't readily account for its greater complexity of the specific mappings that ATK and AX already have for lists of name-value groupings.

ATK has `ROLE_DESCRIPTION_LIST`, `ROLE_DESCRIPTION_TERM`, and `ROLE_DESCRIPTION_VALUE` expressly for name-value groupings. These would seem to be the preferred AT

[2016-10-12 03:28] jasonkiss opened #52 "HTML-AAM check AX role mappings against webkit expected"
_From @stevefaulkner on May 12, 2016 13:59_

http://trac.webkit.org/browser/trunk/LayoutTests/platform/mac/accessibility/roles-exposed-expected.txt?rev=200214

_Copied from original issue: w3c/aria#375_

[2016-10-12 03:29] jasonkiss opened #53 "[HTML-AAM] Should refer to HTML spec for defining column and row headers"
_From @richschwer on May 13, 2016 17:2_

Shouldn't the AAM refer to ( http://w3c.github.io/html/tabular-data.html#header-and-data-cell-semantics) for defining column and row headers?

_Copied from original issue: w3c/aria#376_

[2016-10-12 03:29] jasonkiss commented on #53
The HTML-AAM currently defers to the ARIA mappings for columnheader and rowheader for column and and row headers. Do you mean there should be some additional reference to the HTML spec? The fragID in the link you provided no longer seems to exist. What part of the HTML spec were you pointing to?

[2016-10-12 03:29] jasonkiss opened #54 "HTML-AAM: "img (alt attribute is empty)" reword for clarity"
_From @cyns on May 23, 2016 17:47_

Change to "img (alt attribute is set to the empty string)"
"is empty" was misinterpreted as meaning missing alt attribute

_Copied from original issue: w3c/aria#380_

[2016-10-12 03:29] jasonkiss opened #55 "HTML-AAM: how to treat <img alt> with no value"
_From @cyns on May 23, 2016 19:14_

Should &lt;img alt&gt; be treated like &lt;img alt=""&gt; (mapped to role=presentation) or like &lt;img&gt; with missing alt attribute?

_Copied from original issue: w3c/aria#381_

[2016-10-12 03:29] jasonkiss commented on #55
_From @cyns on May 23, 2016 19:15_

@stevefaulkner @jasonkiss this implementation question came up today. I'm inclined to treat alt with no equals or value as a missing alt, rather than an empty string. What do you think?

[2016-10-12 03:29] jasonkiss commented on #55
_From @AmeliaBR on May 23, 2016 20:3_

Browser dev tools do not distinguish between alt attribute set to an empty string ( `<img alt="" />` ) and alt attribute without a value (`<img alt />`).  Chrome normalizes both to the Boolean format (without a value), while Edge and Firefox normalize both to the empty string version.

I haven't tested whether there are currently any differences in how they a

[2016-10-12 03:29] jasonkiss commented on #55
_From @AmeliaBR on May 23, 2016 20:10_

PS: [Test case as JSBin output page](http://output.jsbin.com/gisulebafu)

[2016-10-12 03:30] jasonkiss opened #56 "HTML-AAM: mapping for colspan"
_From @cyns on August 5, 2016 1:4_

The ColumnSpan of the GridItem pattern

_Copied from original issue: w3c/aria#420_

[2016-10-12 03:30] jasonkiss commented on #56
If colspan ends up effectively mapping same as aria-colspan, then we'll update to just use WAI-ARIA Mappings.

[2016-10-12 03:30] jasonkiss opened #57 "HTML-AAM: UIA mapping for rowspan"
_From @cyns on August 5, 2016 1:5_

The RowSpan of the GridItem pattern

_Copied from original issue: w3c/aria#421_

[2016-10-12 03:30] jasonkiss commented on #57
If rowspan ends up effectively mapping same as aria-rowspan, then we'll update to just use WAI-ARIA Mappings.

[2016-10-12 03:30] jasonkiss opened #58 "HTML-AAM: Text vs Group mapping and accessible object behaviour in UIA"
_From @jasonkiss on September 28, 2016 2:32_

In the notes prefacing the role mapping table, it says the following about UIA:

1. `div` and `span` are indicated in the HTML-AAM as mapping to the Group Control Type, but in Edge14 they are initially mapped to the Text Control Type, and only become accessible objects of the Group Control Type if they have `tabindex` or `aria-*`.
2. `p` is indicated i

[2016-10-12 03:30] jasonkiss opened #59 "HTML-AAM: MSAA+IA2 for header and footer with ancestor body should match"
_From @jasonkiss on September 28, 2016 3:30_

`footer` with ancestor body has MSAA `ROLE_SYSTEM_GROUPING` and `IA2_ROLE_FOOTER`. Shouldn't `header` with ancestor body also take `ROLE_SYSTEM_GROUPING` in addition to `IA2_ROLE_HEADER`?

@asurkov?

_Copied from original issue: w3c/aria#438_

[2016-10-12 03:31] jasonkiss opened #60 "HTML-AAM: MSAA Grouping or Pane for iframe?"
_From @jasonkiss on September 28, 2016 3:47_

Email from @asurkov: "iframe - same no MSAA role, Firefox exposes a tag name as a role. Maybe we should go with something generic like ROLE_SYSTEM_GROUPING"

The [ROLE_SYSTEM_PANE definition](https://msdn.microsoft.com/en-us/library/windows/desktop/dd373608%28v=vs.85%29.aspx#role_system_pane) is effectively the same as the [Pane Control Type definition

[2016-10-12 03:31] jasonkiss opened #61 "HTML-AAM: MSAA+IA2 for input types that map to IA2_ROLE_DATE_EDITOR"
_From @jasonkiss on September 28, 2016 4:12_

Email from @asurkov:

_Copied from original issue: w3c/aria#440_

[2016-10-12 03:31] jasonkiss opened #62 "HTML-AAM: MSAA+IA2 for input type=file"
_From @jasonkiss on September 28, 2016 5:7_

Email from @asurkov:

When you say that for UIA you would do the same, do you mean as you currently do in FF, make a generic accessible object with button and text objects as children? Or do you mean you would do the same as what UIA does?

So for MSAA+IA2, do we leave it "Depends on implementation", or do we specify something? Looks like ATK maps to a

[2016-10-12 03:31] jasonkiss opened #63 "HTML-AAM: IA2 and ATK mappings for input type=number"
_From @jasonkiss on September 28, 2016 5:26_

Email from @asurkov: "el-input-number - UIA part looks fair, I'd say IA2/ATK should say something similar"

You thinking something like this for both IA2 and ATK?

Or do you want IA2 object attribute `text-input-type:number`?

@Joanmarie, what are your thoughts?

_Copied from original issue: w3c/aria#442_

[2016-10-12 03:31] jasonkiss commented on #63
_From @Joanmarie on September 28, 2016 6:33_

If implemented as a spinbutton, use WAI-ARIA mapping _for spinbutton_.
If implemented as a textbox, use WAI-ARIA mapping _for textbox_.

I'm not opposed to some object attribute also being exposed, but the AtkRole should reflect the widget as implemented.

[2016-10-12 03:31] jasonkiss commented on #63
Thanks, @Joanmarie.

I like it, and to better differentiate between the generic discrete widgets from their ARIA roles, how about:

If implemented as a spin button, use WAI-ARIA mapping for `spinbutton`.
If implemented as a text input, use WAI-ARIA mapping for `textbox`.

Whatever the terminology, do the above two lines more or less address your concern that AtkRole reflect the implemented widget?

[2016-10-12 03:31] jasonkiss commented on #63
_From @Joanmarie on September 29, 2016 6:32_

I would hope that implementors were already planning on basing the AtkRole on the implemented widget type. And the lines you provided should eliminate any doubts they might have. So if you or others think we need a statement expressly addressing it, I have no objection. But I myself think/hope such an additional statement isn't needed.

I have no opini

[2016-10-12 03:31] jasonkiss commented on #63
Agreed.

@asurkov Can you confirm you are happy with text-input-type:number as obj attr? Do you want to confirm with Jamie?

[2016-10-12 03:31] jasonkiss opened #64 "HTML-AAM: summary exposes expanded/collapsed state in MSAA+IA2"
_From @jasonkiss on September 28, 2016 5:44_

Email from @asurkov: "summary exposes EXPANDED/COLLAPSED states and actions"

_Copied from original issue: w3c/aria#443_

[2016-10-12 03:32] jasonkiss opened #65 "footer and header element context as landmarks (main element context change from parent to descendant)"
_From @jongund on May 6, 2016 15:34_

Recommend changing:

"footer (nearest ancestor sectioning content or sectioning root element is not body, or parent is main)"
to
"footer (nearest ancestor sectioning content or sectioning root element is not body or is a descendant of main)"
#

"footer (nearest ancestor sectioning content or sectioning root element is body)"
to
"footer (nearest ancestor sectio

[2016-10-12 03:32] jasonkiss commented on #65
Getting the language right here is admittedly tricky.

I think you're trying to describe a scenario where the `header` or `footer` is not a descendant of `main`, not that the nearest ancestor sectioning element itself is not a descendant of `main`, which is how I read the proposed text. So I don't think the proposed text is exactly right.

See also issue #277. How would you feel about the followin

[2016-10-12 03:33] jasonkiss opened #66 "describing the relationship between html-aam and core-aam mappings"
_From @jasonkiss on June 15, 2016 6:14_

The [HTML-AAM](https://rawgit.com/w3c/aria/master/html-aam/html-aam.html) has the following statement in [its Introduction](https://rawgit.com/w3c/aria/master/html-aam/html-aam.html#intro):

It's got a similar note in the Notes section preceding the two mapping tables.

However, and with good reason, the mappings of at least 11 elements differ from the mapp

[2016-10-12 04:00] jasonkiss opened #67 "links to HTML spec are broken"
Where HTML elements and attributes are linked to the HTML5.1 spec, they don't resolve correctly.

[2016-10-13 15:45] asurkov commented on #2
I think I agree that HTML5 progress and HTML5 meter have different semantics, I'd say that HTML5 progress is a special case of HTML5 meter concept, i.e. HTML5 progress is a meter that is used to track the progress.

I started IA2 thread on this issue [1].

[1] https://lists.linuxfoundation.org/pipermail/accessibility-ia2/2016-October/002198.html

[2016-10-13 20:41] asurkov commented on #59
these should be same I'd say. Where can I check out latest HTML version? since it was moved to a new repo if I understand right.

[2016-10-13 20:43] jasonkiss commented on #59
https://rawgit.com/w3c/html-aam/master/index.html

[2016-10-13 20:49] asurkov commented on #63
I think text-input-type:number object attribute should be exposed in case of textbox role, Jamie supported this in the past [1]. I'm also good if this attribute was used for spinbutton case, but this has to be optional I would say, to let implementations be flexible.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=924896#c19

[2016-10-13 20:53] asurkov commented on #59
right, definitely they should be same

On Thu, Oct 13, 2016 at 4:43 PM, Jason Kiss <notifications@github.com>
wrote:

[2016-10-13 21:01] asurkov commented on #62
On Tue, Oct 11, 2016 at 11:31 PM, Jason Kiss <notifications@github.com>
wrote:

yes

no, at least this is a real issue breaking the screen readers :)

perhaps all platforms should be flexible at this point and say
'implementation dependent'. I think that was my original point.

ATK mapping looks reasonable, but any changes in MSAA will be not backward
compatible, and we have a real chance to break

[2016-10-15 18:55] mcking65 commented on #46
@asurkov

No, listbox role only.

I have never seen a html select that works like a combobox. They work only like listbox.

The legacy native platforms also have confusing semantics. In native apps, for many years, there have been elements called comboboxes but they work just like a single select listbox. That is,  they do not have a edit input where you can type a value to filter the suggestion l

[2016-10-18 14:27] asurkov commented on #49
I'd say ControllerFor/ControlledBy should work out for both of IA2 and ATK in case of standard controls, but it's better to double check with Jamie and Joanie how it looks like from screen readers perspective. Note. IA2 and ATK also have POPUP_FOR relation, which may be valid for this case too.

This approach might have an implementation issue, in case if the popup is provided by OS, and not acces

[2016-10-18 14:35] asurkov commented on #46
On Sat, Oct 15, 2016 at 2:55 PM, Matt King <notifications@github.com> wrote:

Could you link me please to definitions of combobox and listbox widgets?

[2016-10-19 04:02] jasonkiss commented on #34
Regarding my comment above, I filed an issue against the HTML spec: https://github.com/w3c/html/issues/520

@stevefaulkner, as you self-assigned that issue, I think it makes sense that you have this one as well :)

[2016-10-26 00:01] jasonkiss commented on #37
The mappings as above were already present.

I'm assuming that rule 2D of the text alternative in ACCNAME-AAM sufficiently covers this issue, or is there a reason this should be explicitly mentioned?

On a related note, the [current UIA mapping for `time`](https://rawgit.com/w3c/html-aam/master/index.html#el-time) has the following note:

I'm assuming we want to keep this? Should it be rephrased i

[2016-10-26 03:28] jasonkiss commented on #32
After the repo move from ARIA, issue 273 referenced above is now issue #33.

[2016-10-26 04:12] jasonkiss commented on #31
Closing. The UIA mapping for `mark` is about as minimal in markup as we get.

[2016-10-26 04:12] #31 closed

[2016-10-26 04:20] jasonkiss commented on #30
Closing. UIA-Express column is no longer.

[2016-10-26 04:20] #30 closed

[2016-10-26 04:38] jasonkiss commented on #28
@boggydigital, do you have any preferences around how we present the UIA mappings? What about the presentation of the string values for LocalizedControlType, or property names, e.g. IsItalic vs UIA_IsItalicAttributeId?

[2016-10-26 04:42] jasonkiss commented on #7
@boggydigital?

[2016-10-27 08:51] cookiecrook commented on #2
I filed: https://webkit.org/b/164051

[2016-11-02 03:52] jasonkiss commented on #6
See related [ARIA issue #455](https://github.com/w3c/aria/issues/455)

[2016-11-02 05:15] jasonkiss commented on #8
Current CORE-AAM mappings for role="term" clearly set it up as a `dt` type list item, but the description in ARIA spec for role="term" is more general, and doesn't specify list semantics. See [ARIA issue #455](https://github.com/w3c/aria/issues/455).

[2016-11-09 05:13] jasonkiss commented on #1
Fixed in https://github.com/w3c/html-aam/commit/2cdd29f4012b262e4b32af9687167572e76ed7bf.

Until autopublishing is working as expected, manually update the respec snapshot to call mapping-tables.js from gh-pages branch instead of master to avoid “require is not defined” error and
get the details/summary display of the mapping tables working.

[2016-11-09 05:13] #1 closed

[2016-11-14 15:06] asurkov commented on #65
I'm not sure I clearly understand the wording 'nearest ancestor sectioning content or sectioning root element is body)'. @jasonkiss, could you please explain it, possibly providing some examples?

[2016-11-23 20:47] stevefaulkner opened #69 "html5 placeholder and aria-placeholder implementation"
The spec currently says:

[https://w3c.github.io/html-aam/#att-placeholder](https://w3c.github.io/html-aam/#att-placeholder)

From [testing](https://dl.dropboxusercontent.com/u/377471/placeholder.html) i carried out over the last week

aria-placeholder as only source of accname:
Firefox = no
edge = yes
safari = yes (in that AXplaceholder value is announced by VO as label)

aria-placeholder="pooter

[2016-11-23 20:49] alice commented on #69
We think that `aria-placeholder` should win, to be consistent with the general principle that `aria-` attributes override native semantics (even if it's an author error to provide both).

[2016-11-23 20:51] stevefaulkner commented on #69
that's not a general principle (for good or bad) it's that way for label/labelledby/describedby and role values (most) but for others its not.

[2016-11-23 20:59] alice commented on #69
Oh I see:

https://www.w3.org/TR/core-aam-1.1/#mapping_conflicts

[2016-11-23 21:00] stevefaulkner commented on #69
@alice bingo

[2016-11-23 21:40] jasonkiss commented on #69
See related discussion in issue #41. I still have a concern about HTML5 spec recommending against use of `placeholder` to establish label/name for an `input`, then the HTML-AAM codifying the practice as a legitimate option for label/name fallback. Just me?

[2016-11-24 15:22] asurkov commented on #69
Here's related discussion on IA2 thread [1]. This is a summary:
1. Expose the placeholder attribute;
2. Keep the current behaviour of falling back to placeholder for name as
a last resort;
3. When 1) happens, expose explicit-name:false;
4. Don't ever fall back to placeholder for description.

[1] https://lists.linuxfoundation.org/pipermail/accessibility-ia2/2016-September/002152.html

[2016-11-24 16:01] stevefaulkner commented on #69
From the perspective of the HTML API spec, which deals with 2 and 4 , the
spec aligns mostly with above.
https://w3c.github.io/html-aam/#att-placeholder
https://w3c.github.io/html-aam/#input-type-text-input-type-password-input-type-search-input-type-tel-input-type-url-and-textarea-element

The difference is that it uses placeholder before using title. thinking
here being is that it placeholder is

[2016-11-25 15:08] stevefaulkner opened #70 "use first option of select as accname when no other provided and option value is empty"
refer to https://github.com/w3c/html/issues/736

[2016-11-30 07:36] cookiecrook commented on #69
I believe the ARIA spec clearly defines that @ placeholder should win over @ aria-placeholder, though I can see the value in letting @ aria-placeholder work if @ placeholder is undefined. (some people don't like the native behavior) I've filed [WebKit bug 165189](https://bugs.webkit.org/show_bug.cgi?id=165189) for update once we reach consensus.

[2016-12-07 04:06] jasonkiss commented on #65
Sorry for the delay, @asurkov.

Also see [html issue #520](https://github.com/w3c/html/issues/520) in case it helps.

That's the existing language  used in the HTML-AAM, and I think it is not entirely correct in how it describes the `header`/`footer` as landmark scenario. I think that scenario should be written as "nearest ancestor sectioning content or sectioning root element is `body`, and paren

[2016-12-07 04:11] jasonkiss opened #71 "@aria-multiselectable for <datalist> should reflect listbox selection model"
If the `datalist` supports multiple selection, then `aria-multiselectable=false` is wrong. The value of `aria-multiselectable` should reflect the selection model.

[How an author indicates that selection model other than by explicitly setting `aria-multiselectable` is not clear.]

[2016-12-07 04:59] jasonkiss opened #72 "Mappings for @multiple on <input> and <select>"
Update both @multiple[input] and @multiple[select]. From the looks of things, @multiple[select] should simply map to @aria-multiselectable=true and all platforms use the ARIA mapping. And the mappings for @multiple[input] will likely need to await the outcome of the [ARIA issue #470](https://github.com/w3c/aria/issues/470).

[2016-12-07 05:23] jasonkiss commented on #71
Closed with https://github.com/w3c/html-aam/commit/e757b8573064b263481432c044b1a0a4876a23d3.

[2016-12-07 05:23] #71 closed, assigned to jasonkiss

[2016-12-11 16:48] stevefaulkner opened #73 "command rows need a rewrite"
the way these are defined has changed since 5.0
https://w3c.github.io/html-aam/#el-command-checkbox
https://w3c.github.io/html-aam/#el-command-command
https://w3c.github.io/html-aam/#el-command-radio

**Note:** have commented these rows out for now

[2016-12-11 20:56] stevefaulkner opened #74 "scripts not working in working draft"
@ylafon the table and details scripts are working in the editors draft, but not in the WD

[code]

any ideas?

[2016-12-11 21:15] jasonkiss commented on #74
Looks like same issue we were having previously. See issue #1.

[2016-12-14 02:22] jasonkiss commented on #74
There's probably a nicer way to implement it, but it's working now with a single version of mapping-tables.js for both respec and snapshot/WD contexts.

[2016-12-14 02:22] #74 closed, assigned to nobody

[2016-12-14 04:20] jasonkiss commented on #34
HTML issue #520 is closed now. With https://github.com/w3c/html-aam/commit/d7f6d17d7b9d59dec5c95311844808aed225e593, wording for when header and footer are or are not landmarks is updated. See related issue #65.

[2016-12-14 04:20] #34 closed

[2016-12-14 04:21] jasonkiss commented on #65
Closing with https://github.com/w3c/html-aam/commit/d7f6d17d7b9d59dec5c95311844808aed225e593. If wording needs improvement, we can reopen this one.

[2016-12-14 04:21] #65 closed

[2016-12-21 03:12] jasonkiss commented on #19
Assuming an author specifies `lang` for the page or a passage, and that there's a mapping from the value of `lang` to a [Microsoft Locale ID](https://msdn.microsoft.com/en-us/library/ms912047(v=winembedded.10).aspx), wouldn't mapping it via UIA_CultureAttributeId at least make it easier for TTS engines or other AT to consume, as opposed to relying on heuristics? Does mapping it like that have a co

[2016-12-21 03:37] jasonkiss commented on #33
Any other views on this, esp. now that [definition of `address`](http://w3c.github.io/html/grouping-content.html#the-address-element) has been updated, and has a default role of group?

I'd suggest that `address` not be mapped as a landmark, and that all APIs just use WAI-ARIA mapping for the group role, unless UIA and AX want their own localised strings, e.g. "address".

@stevefaulkner, @surkov,

[2016-12-21 07:03] stevefaulkner commented on #33
@jasonkiss my thinking is that due to historic misuse and recent change in definition (to better match usage and developer understanding) it should map to group, and be exposed as object attribute xml-roles: address in Ia2

[2016-12-21 20:11] asurkov opened #75 "elements table should have 'comments' row"
likewise the attributes table, the elements table would benefit from having 'comments' row, for example, 'summary' element may refer to 'open' attribute on 'details' element.

[2016-12-21 20:14] asurkov commented on #64
fixed https://github.com/w3c/html-aam/commit/4d2be0c13695eca77ca25afcc6fd837b4a308585

[2016-12-21 20:14] #64 closed

[2016-12-21 20:23] asurkov commented on #63
it seems we are in good share now [1], right?

[1] https://w3c.github.io/html-aam/#el-input-number

[2016-12-21 20:23] #63 closed

[2016-12-21 23:51] jasonkiss commented on #75
I've often wondered if we should add one to the elements table. But we seemed to be doing fine without it. The comments column in the attributes table seems useful.

I suggest we add it, and then if it's only used for one or two elements, we can look at incorporating those comments into the row some other way, and get rid of the column.

[2016-12-21 23:57] jasonkiss commented on #75
Done with https://github.com/w3c/html-aam/commit/52003a6830b1bf02d70202bd91ca4927c72d1600

[2016-12-21 23:57] #75 closed, assigned to jasonkiss

[2016-12-22 14:44] asurkov commented on #62
added a note, that the mapping is implementation dependent, it seems a best thing we can do - https://github.com/w3c/html-aam/commit/a20dbfe265d71aff44b6aa9742a4d6d6dee071da

[2016-12-22 14:45] #62 closed

[2016-12-22 16:31] asurkov commented on #61
https://github.com/w3c/html-aam/commit/774293fbf0ef53fb668a0859d9856b3709b86c5c

[2016-12-22 16:31] #61 closed

[2016-12-22 16:33] asurkov commented on #60
closing as there's there's no MSAA column and thus there's no need to provide MSAA-only mapping

[2016-12-22 16:33] #60 closed

[2016-12-22 16:38] asurkov commented on #59
it's probably not big deal to list applicable MSAA role if we have IA2 ones, but just to keep the mappings in sync https://github.com/w3c/html-aam/commit/50f7d5a6fb6e5a1c9b97e33f3c6ac4e308489dd5

[2016-12-22 16:38] #59 closed

[2016-12-22 17:39] asurkov commented on #49
For the reference:
UI Mozilla bug https://bugzilla.mozilla.org/show_bug.cgi?id=1283381
a11y Mozilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=559762

It probably makes sense to wait until implemented before specifying the exact accessibility mapping.

[2016-12-22 17:43] asurkov commented on #47
IA2 introduced IA2_RELATION_ERROR / IA2_RELATION_ERROR_FOR relations to support aria-errormessage attribute. I'd say they should be used in HTML case too.

Is there a right place in the spec to add these (including IA2_STATE_INVALID_ENTRY)?

[2016-12-22 17:46] asurkov commented on #46
I'm not following the arguments why HTML:select@size="1" is a listbox widget. @jasonkiss do you have opinion on this issue? how do we want to proceed with it?

[2016-12-22 17:50] asurkov commented on #36
@jasonkiss should role='status' be removed from output's WAI-ARIA mapping? and then IA2/ATK/AX mappings be provided?

[2016-12-22 17:57] asurkov opened #76 "consider having separate mapping tables for widgets having multiple implementations"
Currently, if the widget exists in multiple implementations then each platform mapping column repeats the wording: "If implemented as textbox then", "if implemented as something then".

It would be nicer if had something like:

<h_something>a textbox widget</h_something>
<mapping table goes here />
<h_something>a colorpicker widget</h_something>
<mapping table goes here />

[2016-12-22 19:43] asurkov opened #77 "make footer and header wording human friendly"
Thanks to @jasonkiss explanations in issue 65 and issue 520 [2] and the original HTML spec, I think I started to understand footer/header wording better, and we could try to improve it to widen the circle of those who understands it :)

I would suggest to replace long descriptions like "footer (nearest ancestor sectioning content or sectioning root element is body and not a descendant of main)" on

[2016-12-22 19:44] asurkov commented on #65
@jasonkiss thanks for detailed explanation! I filed issue 77 for further possible improvements https://github.com/w3c/html-aam/issues/77

[2016-12-22 19:53] asurkov commented on #33
sounds good with me to go with group role and xml-roles:address object attribute. I'm not sure I caught how we want to proceed with Apple landmark mapping, will it be changed? Otherwise I'd say it makes IA2/ATK out of sync with AX.

[2016-12-22 21:15] stevefaulkner commented on #33
On 22 December 2016 at 19:53, Alexander Surkov <notifications@github.com>
wrote:

I suggest that AX be changed to AXRole=group, AXRoleDescription:address,
but need @cookiecrook to feedback

--

Regards

SteveF
Current Standards Work @W3C
<http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/>

[2016-12-22 21:40] jasonkiss commented on #33
Agreed. So, putting it all together, we're proposing something like the following, right?

- **WAI-ARIA:** Group role
- **MSAA + IAccessible2**
Roles: ROLE_SYSTEM_GROUPING
Object attributes: xml-roles:address
- **UIA**
Control Type: Group
Localized Control Type: "address"
- **ATK**
Role: ATK_ROLE_PANEL
Object attributes: xml-roles:address
- **AX**
AXRole: AXGroup
AXSubrole: (nil)
AXRoleDescription

[2016-12-22 22:01] jasonkiss commented on #47
Those messages associated with the `required` attribute are browser UI. Do we want to specify those in the HTML-AAM? Perhaps a note could be added in the Comments for `required`, as well as for inputs of type URL, email, number where the browser renders validation messages?

[2016-12-22 22:26] jasonkiss commented on #46
I think I agree with @mcking65, that `select` should always be listbox regardless of presence of `multiple` or `size` attributes, given its behaviour and the definitions of [combobox](https://w3c.github.io/aria/aria/aria.html#combobox) and [listbox](https://w3c.github.io/aria/aria/aria.html#listbox).

[2016-12-22 22:39] jasonkiss commented on #36
I think mapping to role=status makes sense for `output`, but that the CORE-AAM mappings for role=status should be updated to avoid direct association with a status bar (as opposed to a more general live region type area).

So MSAA+IA2 should not map role=status to ROLE_SYSTEM_STATUSBAR.

But the definition for ATK_ROLE_STATUSBAR is "An object which reports messages of minor importance to the user"

[2016-12-22 22:42] jasonkiss commented on #76
Not sure I understand what you intend. Can you provide a more detailed example of how you see this being done? Maybe a mockup for an element that has multiple implementations like this?

[2016-12-23 14:39] asurkov commented on #76
Now we have something like:

<details>
<summary>input (type attribute in the Number state)</summary>
<table>
<tr><td>MSAA + IAccessible2</td>
<td>If implemented as a spin button, use WAI-ARIA mapping for spinbutton.
If implemented as a text input, use WAI-ARIA mapping for textbox. </td></tr>
<tr><td>UIA	</td>
<td>If implemented as a spin button, use WAI-ARIA mapping for spinbutton.
If implemented

[2016-12-23 15:21] asurkov commented on #46
I'm not sure if ARIA definitions are relevant here. I argue that HTML:select@size=1 is a combobox widget from the user perspective, i.e. it has a look and feel of a combobox widget. Note, from AT perspective, HTML:select@size=1 is exposed as a combobox widget too, i.e. it has combobox role and contains a listbox child, which more or less matched to ARIA combobox definition.

[2016-12-23 15:46] asurkov commented on #36
Is there open issue for core-aam part? Do we have anything left to fix on our side?

[2016-12-23 16:04] asurkov commented on #47
It is not solely about required attribute, it is rather about :invalid CSS pseudo style, which is set when element's value is not valid (https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation). And it seems HTML-AAM doesn't have a proper section for it.

Should we have 'Constraint validation' section?

[2016-12-23 20:12] asurkov commented on #21
added reference to aria-controls plus platform relations mapping - https://github.com/w3c/html-aam/commit/ee4c50af1dbd2b2dda1000d0bf8dc0cf1a565fc5

[2016-12-23 20:12] #21 closed

[2016-12-23 20:47] asurkov commented on #26
I added 'no mapped if not linked with a proper input control' into comments section of datalist element mapping https://github.com/w3c/html-aam/commit/e9b1bfe08eccde51320ed9b2ff02793987b88163

[2016-12-23 20:47] #26 closed

[2016-12-23 20:55] asurkov commented on #49
on a second glance, since datalist and input relations are already exposed as controlled_by/controls_for relations, then it's reasonable to do same for input date types, since they are not different. At least until we have more implementations. If no objections, then I will proceed with it.

[2016-12-28 05:48] boggydigital commented on #19
Few things changed since asking the question - at the very least Narrator is considering supporting mixed-language texts and I'm sure other ATs would be interested as well to support full Microsoft Office document fidelity. For the Edge web platform this would be exposed in two ways (identical values, only difference is how you get them):

- On objects in the UIA tree this is exposed as UIA_Cultur

[2016-12-28 05:53] boggydigital commented on #33
(pardon my vacation delay)

Don't have strong objection and strongly support address not being a landmark. At least for UIA it sounds like more suitable control type would be Text, not Group. Unless this is about some structural address that contains separate elements, I would treat address as just a piece of text that has some semantic value.

[2017-01-02 18:05] jongund opened #78 "DT element change to default role=term (ARIA Working Group Comment)"
Based on discussion in the ARIA working group on 12/8//2016 and 12/15/2016 we would like to see the mapping for the DT element changed from LISTITEM to TERM.

NOTE: ARIA 1.2 will address the roles TERM and DEFINITION being part of a definition list.

[2017-01-05 15:18] klown commented on #36
@asurkov wrote:

@cyns raised [ISSUE-1024](https://www.w3.org/WAI/ARIA/track/issues/1024) in tracker against Core-AAM 1.1, asking if the MSAA/IA2 and ATK/AT-SPI [mappings](https://rawgit.com/w3c/aria/action2102/core-aam/core-aam.html#role-map-status) are correct.

As noted elsewhere, these mappings were tested in the 1.0 time frame, and the [tests passed](https://www.w3.org/WAI/PF/testharness/test

[2017-01-09 09:53] mcking65 commented on #46
@asurkov

The purpose of role for assistive technology  users it to describe the interaction model.

I believe the ARIA definition is relevant. The HTML-AAM section 4.4 starts out by stating the requirement to follow mappings in core ARIA. And, the second column of the table is the corresponding ARIA role, which is an explicit statement that the ARIA definition of the role is relevant.

HTML:selec

[2017-01-09 14:50] asurkov commented on #46
@mcking65 are we on the same page that HTML:select@size="1" is a combobox widget in its user perception, but your point is that ARIA role='listbox' definition feels closer for the HTML:select@size='1'? Or do you claim that HTML:select='1' is a listbox widget in general?

I wouldn't say that their visual difference of HTML:select widgets is insignificant, HTML:select@size='2' is a classic listbox (

[2017-01-09 15:09] stevefaulkner commented on #46
I thought a combobox has an editable text box, which the HTML select
element does not.

--

Regards

SteveF
Current Standards Work @W3C
<http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/>

On 9 January 2017 at 14:50, Alexander Surkov <notifications@github.com>
wrote:

[2017-01-09 15:20] asurkov commented on #46
@stevefaulkner I'm not sure why it has to be necessary condition, because both MSAA and ATK use successfully combobox role for these widgets, but otherwise ARIA probably need a new role for dropdowns.

Anyway ARIA role='listbox' is not a match for HTML:select='1' even if ARIA role='combobox' doesn't work either.

[2017-01-09 20:02] mcking65 commented on #46
@asurkov wrote:

No; I do not believe it is a combobox at all because it does not have an edit box.

@asurkov continued:

Yes; it feels closer because HTML:select@size='1 does precisely what ARIA says a listbox should do.

@asurkov continued:

Yes, I assert that from an API mapping perspective, it should be classified as a listbox. It is most likely legacy Windows definitions of combo that created

[2017-01-09 20:10] mcking65 commented on #46
@asurkov wrote:

I maintain it is not successful; it is complicating. It prevents assistive technologies from doing a really good job of making combobox easier to use and understand because there are forms of it that are redundant with listbox. It is persisting legacy complications for no gain.

@asurkov wrote:

In what way is the interaction of HTML:select@size=1 not described by ARIA listbox?

[2017-01-10 13:24] asurkov commented on #46
Let me try to summarize, please correct me I'm wrong.

There's only one difference between HTML:select@size=1 and non editable ARIA combobox, which is the user cannot select a text of a selected option in HTML:select, and thus you think that HTML:select is not a combobox. Then, you state that UI and behavioral difference between HTML:select='1' and ARIA listbox is rather minor, which is HTML:selec

[2017-01-10 13:24] asurkov commented on #36
In Firefox HTML:output is exposed as IA2_ROLE_SECTION/ATK_ROLE_SECTION and 'polite' live region attribute.

[2017-01-10 14:35] klown commented on #36
Thanks @asurkov

The Core-AAM [issue](https://www.w3.org/WAI/ARIA/track/issues/1024) is whether the [mappings for role="status" ](https://rawgit.com/w3c/aria/action2102/core-aam/core-aam.html#role-map-status )are correct.  Are they?

[2017-01-10 16:59] asurkov commented on #36
As far as I can tell that Firefox follows the current mapping for IA2 and ATK in case of role='status'. However I'm not sure how much that is correct. The mapping shouldn't be that different between platforms, and the role='output' definition says 'but not necessarily presented as a status bar', which means that statusbar role is not the best match.

[2017-01-23 14:42] klown opened #79 "HTML-AAM: Unnamed <section> should map as <div>, not unconditionally as role="region""
Raising this issue based on comments by myself, @Joanmarie, @mcking65, and @matatk from w3c/aria#513.

There, the mapping of ARIA role="region" is conditional on the element having an accessible name.  If not, the AAPI role reverts on the native role of the element.

The HTML-AAM unconditionally [maps `<section>`](https://w3c.github.io/html-aam/#el-section) to `region`, except in the case of UIA.

[2017-01-23 16:45] joanmarie opened #80 "Editorial clarification suggested for AXAPI mappings for audio and video elements"
Under [audio](https://w3c.github.io/html-aam/#details-id-9) and [video](https://w3c.github.io/html-aam/#details-id-148) for AXAPI, it says:

I assume that means the controls (e.g. play and pause buttons) are exposed as descendants of an accessible object with a role of AXToolbar. Or to put it another way, they are exposed _on_ a toolbar. But reading the statement quoted above, it sounds like the p

[2017-01-24 18:43] richschwer opened #81 "Incorrect mapping for the picture role and its sub-elements"
As part of html-aam review, we saw that the HTML spec. allows ARIA labelling on the picture element. Consequently picture should map to image whereby name computation should start with the handling aria-label and aria-labelledby on the picture followed by the alt text on the supplied alt text on the embedded fallback img. and very last on the url of the src attribute on the fallback img. The actua

[2017-01-24 19:01] matatk opened #82 "HTML-AAM: Unnamed <form> should map as <div>, not unconditionally as role=“form”"
*Background: I have been researching how screen-readers expose landmarks to users, because I work on [a WebExtension that does the same](https://github.com/matatk/landmarks).  This issue has been filed as a spin-off from issues filed in other W3C specs (linked below).*

Assistive technologies do not expose `<form>`s to their users as landmarks unless the `<form>` has an accessible name (via `aria-

[2017-01-25 11:27] stevefaulkner commented on #81
@richschwer
from the html spec:

The `picture` element does not itself have any intrinsic semantics and is not considered part of the UI. It is a container for processing instructions for the `img` element. The `img` within the `picture` element is not fallback it is the image. The informative advice about allowed attributes contradicted the normative definition in ARIA in HTML http://w3c.github.i

[2017-01-25 15:46] richschwer commented on #81
OK. removing the global attributes on picture fixes the problem. With that we can focus solely <img>. Thank you.

[2017-01-25 15:46] #81 closed, assigned to nobody

[2017-02-01 05:17] jasonkiss commented on #46
I agree with @asurkov that HTML:select@size='1' is not sufficiently described by ARIA listbox, since the popup/dropdown menu behaviour, which is included in the HTML5 spec for select@size='1', is not at all part of the ARIA listbox pattern. While listbox works for select@size>1 or select@multiple, I'm not sold on it for select@size='1'. But I don't think combobox works for select@size='1' either,

[2017-02-07 23:11] jasonkiss commented on #79
@stevefaulkner, @Joanmarie, @klown As per the commit above, see [revised mappings for `section`](http://rawgit.com/w3c/html-aam/issue-79/index.html#el-section).

Will merge branch if you're happy.

[2017-02-07 23:23] jasonkiss commented on #76
How do you see this being represented in the default table markup? Separate rows for each implementation?

And how do we incorporate APIs/platforms that don't have different implementations (ATK for input@type=color and AX for input@type=number)?

[2017-02-07 23:37] jasonkiss commented on #49
Makes sense to me. I say proceed. We can revisit again if implementations warrant.

[2017-02-08 02:53] jasonkiss commented on #80
Good call. Thanks @Joanmarie. I've tried to clarify how the sub-DOM controls are to be exposed in the above commit ab5855f.

How does the [new language for the audio and video mappings](http://rawgit.com/w3c/html-aam/issue-80/index.html#el-audio) work for you? I basically borrowed and updated the language from the UIA mappings that were trying to express the same thing. So @boggydigital might want

[2017-02-08 03:04] jasonkiss commented on #3
Here's a first stab at elements that are typically complex widgets with sub-trees of accessible objects in certain APIs, and that we might want to address in a distinct section, instead of overwhelming the individual mapping table entries with this level of detail.

- audio
- video
- canvas
- input@type=color
- input@type=date
- input@type=file
- input@type=datetime-local
- input@type=number
- inp

[2017-02-08 03:18] jasonkiss commented on #82
Thanks @matatk. Makes sense to me, but will wait for Core-AAM to resolve [related issue #514](https://github.com/w3c/aria/issues/514) first before updating HTML-AAM.

[2017-02-08 03:26] jasonkiss commented on #82
Closing. Duplicates #45.

[2017-02-08 03:26] #82 closed, assigned to nobody

[2017-02-08 03:27] jasonkiss commented on #45
Given that HTML-AAM defers to Core-AAM where it can, will wait for Core-AAM to resolve its [issue #514](https://github.com/w3c/aria/issues/514) before following suit.

[2017-02-08 04:01] jasonkiss commented on #78
If `term` is effectively to be mapped as a special list item, then it makes it reasonable for `dt`. But it means that `term` can no longer be used for the `dfn` element. Are there plans to provide a role that would work for the `dfn` element? In other words, is there going to be a new role like `term`, but that doesn't restrict it to a list context? See [aria issue #455](https://github.com/w3c/ari

[2017-02-08 11:18] matatk commented on #82
@jasonkiss thanks for your ACK and update; also sorry for the duplicate issue report.

[2017-02-08 14:35] klown commented on #79
@jasonkiss Looks good to me.

[2017-02-08 16:34] asurkov commented on #76
It is a separate issue, but we might want to consider to change the default table markup. Majority of the browsers support &lt; details &gt; element now, so we can switch the default markup to  &lt; details &gt;. In this case it'd be quite easier to implement the suggestion I think.

If there are no objections why we should stick with existing markup, then I could play with it to check out how eas

[2017-02-08 19:12] asurkov commented on #3
Do you have ideas who to approach these? It seems the format is currently restricted to a table, which doesn't have flexibility of adding random stuff.

[2017-02-08 20:00] jasonkiss commented on #3
We can add a distinct section to the document that discusses how compound widgets and their sub-trees are typically exposed across different UAs and a11y APIs. This section would replace the need to include this info with each element's mappings in the table.

[2017-02-13 19:23] klown opened #83 "HTML-AAM: Need standard way to distinguish data tables from layout tables."
@cyns raised this as a [Core-AAM 1.1 issue](https://www.w3.org/WAI/ARIA/track/issues/673) in W3C tracker, but noted that it really is an HTML-AAM issue.  I'm moving it here and closing the tracker issue.

Quoting from tracker:

[2017-02-13 23:37] mcking65 commented on #83
browsers are filtering? sounds dangerous. I thought it is author responsibility to add role presentation to layout tables. If not presentation, then it is exposed. Does it not work this way? Screen readers do filtering, but it can be turned on/off via the screen reader interface, which gives users control. If it is done at the API layer, then users lose ability to see tables that were suppressed b

[2017-02-14 23:38] jasonkiss commented on #76
I find it quite useful to be able to view the mappings in both table and `details/summary` views. And while I don't think it's necessary that each AAM follow the same markup for mappings, I think it would be important to run this by the other AAMs since they do form something of a suite of specifications.

I could see us keeping the current markup and having separate rows for the different impleme

[2017-02-15 03:51] jasonkiss commented on #77
@asurkov "other use cases" is a little vague for my liking. I've made some changes in the above commit using "scoped to `body`" and "scoped to the `main` element, a sectioning content element, or a sectioning root element other than body".

I think this is easier to understand than what was there before, while still being precise.

What do you think about these revisions? See http://rawgit.com/w3c

[2017-02-15 14:24] asurkov commented on #77
These two options suggest there's a third unnamed/missed option, because it's not evident that "scoped to the main element, a sectioning content element, or a sectioning root element other than body" is equivalent to not "scoped to body". It may be confusing for a spec reader.

 If "others" feels vague, then "not" can be considered, though I like it less. Also we may consider "generic mapping" or

[2017-02-15 19:45] jasonkiss commented on #77
I agree that a reader might infer a third missing option, but they might do that for a whole range of the elements we list where we distinguish variations, e.g. td (ancestor table element has table role)
 compared to td (ancestor table element has grid role). What about td with ancestor table with some other role? Or what about an input with some other kind of type attribute that's not listed in t

[2017-03-31 00:27] jasonkiss opened #84 ""title" and "placeholder" not consistently supported for name calculation"
_From @patrickhlauke on March 30, 2017 22:44_

while on windows (testing briefly with jaws and nvda and various browsers - chrome, firefox, IE11, edge) it seems that `placeholder` and `title` are indeed used (when nothing else is present) to provide a name for a control (e.g. an `input`), this is not currently the case everywhere. just doing a quick test on mobile:

- on iOS/Safari/VoiceOver, once

[2017-03-31 00:32] patrickhlauke commented on #84
super-basic test file i used
[placeholder-title.zip](https://github.com/w3c/html-aam/files/884155/placeholder-title.zip)

[2017-03-31 00:33] jasonkiss commented on #84
Snap. Was just creating my own. Good timing.

Can confirm that with VO in Safari in MacOS Sierra, both `placeholder` and `title` **are** announced as the name for the field, even after other content is entered by the user, as per the HTML-AAM.

See related discussion on `placeholder` as backup accname for `input` in #41.

Regardless, the ship seems to have sailed, and if `placeholder` is to be use

[2017-03-31 07:09] patrickhlauke commented on #84
so filing the issue with `placeholder` in iOS/Safari/VO and Android/Chrome/TalkBack, as well as the same issue with `title` in Android/Chrome/TalkBack (not actually checked Android/Firefox, should probably do that too), as bugs in those browsers, with reference to HTML-AAM? i don't mind doing that, just double-checking...

[2017-03-31 07:54] jasonkiss commented on #84
Sounds right to me.

In attempt to save from filing needless bugs, pinging @cookiecrook: any chance for a quick steer?

Don't know who to ask re Android/Chrome/TalkBack.

[2017-03-31 07:59] patrickhlauke commented on #84
i'll tap my Google sources for that :)

[2017-03-31 09:27] cookiecrook commented on #84
https://webkit.org/b/170334

[2017-03-31 09:28] cookiecrook commented on #84
@alice @minorninth

[2017-03-31 10:13] patrickhlauke commented on #84
Filed https://bugs.chromium.org/p/chromium/issues/detail?id=707194

[2017-03-31 22:27] jasonkiss commented on #84
Thanks, all. Closing as relevant bugs filed with browsers.

[2017-03-31 22:27] #84 closed, assigned to nobody

[2017-04-03 12:15] richschwer commented on #79
Please merge this branch. We are writing the test harness and need this to be merged.

[2017-04-03 15:56] jasonkiss commented on #79
Merged. https://github.com/w3c/html-aam/commit/2d740ef3a5f70c495d5d1bc8cfc8f88564f1c68a

[2017-04-03 15:56] #79 closed, assigned to jasonkiss

[2017-04-15 08:46] stevefaulkner opened #86 "Suggest <aside> should map to complementary with restrictions"
Like the `header` and `footer` and `section` elements, the `aside` element can be used liberally within a HTML document. This liberal use can lead to the semantics of the element becoming noise to aural UI users. What we did for the `header/footer` elements is to restrict the expression of the role semantics based on their nesting within other significant elements in the DOM. For the `section` ele

[2017-04-15 14:43] LJWatson commented on #86
It would be interesting to know how many of the 1376 files contain just one or two ```<aside>``` elements. The average per file (based on your grep)	is seven ```<aside>``` elements per file.

It's likely that the examples you noted significantly skew that average, giving rise to the possibility that most files use the ```<aside>``` element in reasonable quantities/ways.

Unlike the ```<section>```

[2017-04-15 23:00] jameswillweb commented on #86
I'm fully aware that I might be wrong but doesn't `complementary` relate only to the main content? Since an `aside` can belong to nested elements as well wouldn't this give a false connection between nested `aside`s that use headings and the main content?

[2017-04-15 23:15] mcking65 commented on #86
I have similar concerns to @LJWatson.

In my experience, I have not encountered an overabundance of aside elements; it is nothing like the section problem we once had.

It may be best to continue addressing this in the authoring realm rather than with a change to mappings.

[2017-04-16 11:12] stevefaulkner commented on #86
@LJWatson

Here are some numbers:

Of 8369 pages found using the aside element.
- 9.5% of pages with `aside` elements contain 10 or more `aside` elements
- 20% of pages with `aside` elements contain 5 or more `aside` elements

lots more detail: [aside element usage in the wild](https://dl.dropboxusercontent.com/u/377471/aside/instances.html)

[2017-04-19 03:31] jasonkiss commented on #86
Conversely, 76.8% have 3 or less instances of the `aside` element :-)

Either way, as @jameswillweb suggests, the `complementary` role is related to "the main content at a similar level in the DOM hierarchy", whereas `aside` is for content "tangentially related to the content of the parenting sectioning content".

So if the mapping of `aside` to `complementary` is to be restricted, it should be do

[2017-04-19 04:41] jasonkiss commented on #56
Mappings same as aria-colspan. See https://github.com/w3c/html-aam/commit/eaa9382a25a21a13833078f4b4f004e2c121bf09. Closing.

[2017-04-19 04:41] #56 closed

[2017-04-19 04:42] jasonkiss commented on #57
Mappings same as aria-rowspan. See eaa9382. Closing.

[2017-04-19 09:10] richschwer opened #87 "HTML5 placeholder on UIA is inconsistent with ARIA 1.1 aria-placeholder"
Currently, the HTML AAM maps placeholder to the accessible name computation. In no way does the name computation include placeholder. aria-placeholder maps as follows in UIA:

Expose as placeholder=<value> in AriaProperties.

So, the HTML AAM needs to change the UIA mapping. to refer to the ARIA aria-placeholder mapping for UIA and not the name and description computation document. The ARIA spec.

[2017-04-19 09:17] richschwer commented on #69
yes, placeholder wins

[2017-04-19 09:36] #87 closed, assigned to nobody

[2017-04-19 09:39] stevefaulkner commented on #87
note: before advent of `aria-placeholder` it was used in accessible name calculation, this is no longer the case.

[2017-04-19 09:45] jasonkiss commented on #41
See issue #87: `placeholder` and `aria-placeholder` not to participate in accname (or accdesc) computation. Closing.

[2017-04-19 09:45] #41 closed

[2017-04-19 09:50] stes-acc commented on #69
I understand that overriding implicit defaults is always matter of discussion.
But:
- Isn't declaring anything be it host language or metadata always overriding implicit behaviour?
- Isn't declaring both of them contradicting an authoring error anyway?

[2017-04-19 09:57] jasonkiss commented on #69
Good: `placeholder` wins over `aria-placeholder`.

Author error or not, if both attributes are present, but `placeholder=""`, is that effectively the same as `placeholder` not being present? Can we get consensus that in this case `aria-placeholder` 'wins'?

[2017-04-19 10:02] stevefaulkner commented on #69
declaring `aria-placeholder` on an element that supports `placeholder` is non conforming (an error)
details provided in the issue i  filed on the html conformance checker:
https://github.com/validator/validator/issues/498

[2017-04-19 10:14] stes-acc commented on #69
Can the last statement be be generalized for all ARIA attributes/states that have counterparts in the host language?

"declaring  aria-[attribute/state] on an element that supports  [attribute/state] is non conforming (an error) in the conformance checker"

Or are there exceptions?

[2017-04-19 19:38] jasonkiss commented on #69
Thanks @stevefaulkner. Closing this issue, but feel free to respond to @stes-acc's question at your leisure :-)

[2017-04-19 19:38] #69 closed, assigned to nobody

[2017-04-20 09:07] stevefaulkner commented on #87
Filed issues on

- chrome: https://bugs.chromium.org/p/chromium/issues/detail?id=713600
- edge: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11729402/
- added to existing Firefox issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1303429

[2017-04-27 04:44] jasonkiss commented on #19
Thanks @boggydigital. I've updated those mappings in the above commit. Closing, but if the language needs tweaking, we can do that.

[2017-04-27 04:44] #19 closed

[2017-04-27 05:24] jasonkiss commented on #33
Thanks @cookiecrook for the thumbs up.

@boggydigital, `address` can contain separate elements, including separate elements each with specific RDF metadata. Given that it also maps by default to the `group` role, it would at least be consistent were `address` to map similarly across all the APIs and inherit from that WAI-ARIA mapping.

[2017-04-28 16:36] boggydigital commented on #33
No objection from me - I can see how semantically Group does make sense here

[2017-04-28 20:28] mcking65 commented on #33
I wish I had paid attention to this thread sooner.

I HATE, HATE, HATE the overuse of group and the effect it has on screen reader experiences. 99% of the time it just adds clutter. It rarely adds value. It can even add confusion.

This is a perfect example. I think the default mapping should be like a div, just a text node.

Please let designers/authors decide if something needs to be done to mak

[2017-05-01 21:20] joanmarie opened #88 "AX API: Complete mapping for 'time' element"
The current mapping for the `time` element for AX API is:

[code]

Pull request shall follow shortly.

[2017-05-01 21:48] jasonkiss commented on #88
Thanks, @Joanmarie!

[2017-05-01 21:48] #88 closed, assigned to joanmarie

[2017-05-16 15:02] joanmarie opened #90 "Mapping of tabindex could be interpreted to mean ATK's FOCUSABLE and FOCUSED states are mutually exclusive"
I was looking into some ARIA 1.1 test failures on my platform in which the failure is that an element lacks `ATK_STATE_FOCUSABLE`.  This struck me as especially odd when the element which lacked the expected ATK_STATE_FOCUSABLE had ATK_STATE_FOCUSED in its state set.

Looking at my platform's mappings for [`tabindex`](https://w3c.github.io/html-aam/#att-tabindex), I see that it says:

    States:

[2017-05-24 05:41] jasonkiss commented on #90
Thank you! Fixed in 14b62c8. Closing. Please reopen if change not sufficient.

[2017-05-24 05:41] #90 closed, assigned to nobody

[2017-05-24 06:33] jasonkiss opened #91 "mappings for type attribute on <ol>?"
I'm guessing it's not mapped directly to the a11y apis, and AT determine the list marker value via CSS? I don't know, so checking before filling in the [recently added entry for `ol@type`](https://w3c.github.io/html-aam/#att-type-ol) in the attribute mapping table.

ping @stevefaulkner, @asurkov, @joanmarie, @boggydigital, @cookiecrook. Thanks!

[2017-05-24 06:43] jasonkiss opened #92 "map selected attribute to aria-selected=true"
The `selected` boolean attribute on `option` elements should map to `aria-selected=true` as the default ARIA role for the `option` element is "option", and `aria-selected` the required property for expressing the option's selectedness.

[2017-05-24 06:49] jasonkiss commented on #92
Fixed in 7f63e08.

[2017-05-24 06:49] #92 closed, assigned to jasonkiss

[2017-05-24 07:24] joanmarie commented on #91
The list marker's  textual content is exposed in ATK/AT-SPI2 (and I assume IA2) through the accessible text interface on the list item with which the marker is associated.

In the case of AX API, there is a separate accessible object for the list marker which exposes the rendered content. I would have to double check to know which accessible property holds the value, but my _guess_ is AXValue.

[2017-05-30 22:21] jasonkiss commented on #67
After a series of commits between 11 Dec 2016 and today, all links are good and working. Closing.

[2017-05-30 22:21] #67 closed

[2017-05-31 01:02] jasonkiss commented on #77
Closing for the following reasons:
- the two options, as currently written, accurately describe, with regard to semantic scope and api mapping, the two scenarios in which, by their definitions, `header` or `footer` can find themselves
- there are direct links to the HTML spec definitions for these two elements that explain in more detail

@asurkov Feel free to reopen if you have concerns. Also fee

[2017-05-31 01:02] #77 closed, assigned to nobody

[2017-05-31 03:50] jasonkiss commented on #16
@cookiecrook Accessibility Inspector with Safari Tech Preview shows value of `attr` on `th` exposed in "ExpandedTextValue". And VO seems to read this value to identify the relevant column or row header when navigating cells, but not when reading the name of the `th` itself. I'm unable to find any documentation about this property. AXExpandedTextValue? Can you help with a steer, or suggestion as to

[2017-05-31 06:47] cookiecrook commented on #16
For `<abbr title>` I think it's okay to include this in the language specific labeling attribute, like `<img alt>`. For `<th abbr>`, I'm not sure how best to represent in AAM other than to document what the engines currently expose.

[2017-05-31 07:23] jasonkiss commented on #38
Implicit semantics for `hidden` is `aria-hidden=true`, so that should be the ARIA mapping, and all APIs use the WAI-ARIA mapping.

[2017-05-31 07:31] jasonkiss commented on #38
Updated mappings in 0e0f872 to reuse `aria-hidden=true` mappings. Closing.

[2017-05-31 07:31] #38 closed

[2017-05-31 22:31] jasonkiss commented on #16
Thanks.

Ok. The AAM currently says, rightly or wrongly, to map `title` on `abbr` to AXHelp. Chrome maps `title` to AXDescription on the AXGroup object for `abbr`. Meanwhile Safari maps it to AXExpandedTextValue on the AXStaticText node.

From your comment, I'm assuming that mapping `title` on `abbr` to AXDescription, like `alt` on `img`, is preferred.

Chrome not exposing `abbr` on `th` at all fr

[2017-05-31 22:37] jasonkiss commented on #91
Thanks, @joanmarie. Yes, in both those cases the list marker's value or content is exposed (and yes, it's AXValue on AXListMarker for AX API), but isn't what is being exposed there the result of a calculation based on what is specified in the `type` attribute. That is, the `type` attribute is not exposed as such, but determines what kind of values will be exposed for the list marker?

Perhaps then

[2017-06-01 09:43] joanmarie commented on #91
Yes, though indirectly (at least in the case of WebKit). The implementation's rendering code has already done the work to figure out and render the list item marker, so the implementation's accessibility code should be able to just grab and expose the value from the rendered marker. That's what happens in WebKit. And I'd think that all engines would do this (why reinvent the wheel and also risk th

[2017-06-02 02:02] cookiecrook commented on #16
Such is the challenge with normalizing ~ten accessibility APIs into one. 😀 I'd guess the Chrome mapping is just left over from when they forked WebKit into Blink. A lot of the smaller WebKit accessibility fixes since that time never made it to Blink.

Ditto here. Yes, please use AXExpandedTextValue as the mapping.

[2017-06-02 02:56] jasonkiss commented on #16
@cookiecrook Thanks, as always, for the feedback.

I will update mappings for `title` on `abbr` to AXDescription, and `abbr` on `th` to AXExpandedTextValue.

One last question: Any chance you have a link to publicly available documentation listing/describing AXExpandedTextValue?

[2017-06-02 03:19] jasonkiss commented on #16
Addressed in ef2ad72. Closing.

[2017-06-02 03:19] #16 closed

[2017-06-02 05:08] cookiecrook commented on #16
I don't think so. @fleizach?

[2017-06-02 21:43] fleizach commented on #16
No it's not an attribute in the public Accessibility API yet

[2017-06-14 13:44] asurkov commented on #91
I would wrote in IA2/ATK case something like "Exposed as a bullet character it defines in the accessible text via text interface"

[2017-06-16 22:26] joanmarie opened #93 "The 'readonly' attribute should be mapped to ATK_STATE_READ_ONLY"
The 'readonly' attribute should be mapped to ATK_STATE_READ_ONLY.

[2017-06-16 22:36] joanmarie commented on #93
Looking closer, why isn't the attribute mapped to [aria-readonly="true"](https://rawgit.com/w3c/aria/master/core-aam/core-aam.html#ariaReadonlyTrue)?

[2017-06-17 14:06] LJWatson opened #94 "MSAA/IA2 completion"
In both the role, and the state and propertey tables, there are a number of ? placeholders in the MSAA + IA2 columns. These need to be updated to include actual data.

[2017-06-17 14:08] LJWatson opened #95 "UIA completion"
In both the role, and the state and propertey tables, there are a number of ? placeholders in the UIA columns. These need to be updated to include actual data.

[2017-06-17 14:10] LJWatson opened #96 "ATK/ASPI completion"
In both the role, and the state and propertey tables, there are a number of ? placeholders in the ATK/ASPI columns. These need to be updated to include actual data.

[2017-06-17 14:11] LJWatson opened #97 "AxAPI completion"
In both the role, and the state and propertey tables, there are a number of ? placeholders in the AxAPI columns. These need to be updated to include actual data.

[2017-06-17 15:36] #57 closed

[2017-06-20 18:55] asurkov commented on #94
I started a thread at IA2 mailing list to clarify those bindings:

https://lists.linuxfoundation.org/pipermail/accessibility-ia2/2017-June/002221.html

[2017-06-21 22:19] joanmarie commented on #47
Related to this: The [ARIA spec states that authors MUST use aria-errormessage in conjunction with aria-invalid](https://rawgit.com/w3c/aria/master/aria/aria.html#aria-errormessage). But I cannot find any mapping between failed user-agent validation of an input and `aria-invalid="true"`. Thus, as I understand it, the following is arguably author error:
[code]

[2017-06-22 13:46] asurkov commented on #47
I would start thinking from the potential use cases. HTML doesn't have anything like aria-errormessage, thus I'd say it should be reasonable for the authors to try to combine HTML invalid state and aria-errormessage. Otherwise they have to put extra aria-invalid='true' to make errormessage working.

[2017-06-29 23:52] boggydigital commented on #95
I've reviewed the existing question marks and will work on the mappings. The direction of the changes would be to use Control Type: "Group"/"Text" (as appropriate for the element), mapping Localized Control Type from the element, consistent with other mappings. While working on that we'll consider any special cases that don't map well to that model.

[2017-07-05 17:22] joanmarie opened #98 "Identify elements which support aria-roledescription without an explicit or implicit role"
As described in w3c/aria#500, there is a need to prohibit the exposure of the value of `aria-roledescription` for certain HTML elements (e.g. `div` and `span`) when there is no explicit or implicit ARIA role. Alternatively, or in addition, this AAM could explicitly allow the exposure of the value of `aria-roledescription` on certain elements (an example from HTML would be `meter` used without an e

[2017-07-07 09:00] cookiecrook opened #99 "WCAG/HTML name computation discrepancy with `<img alt="" title="foo">"
The following text in HTML-AAM:

Conflicts with WCAG Success Criteria H67: https://www.w3.org/TR/WCAG20-TECHS/H67.html

Furthermore, both Blink and Gecko allow this behavior. WebKit currently matches the HTML-AAM spec, but will likely change to match the other behavior. https://webkit.org/b/173870

Test case 7 here:
https://bugs.webkit.org/attachment.cgi?id=314203

[2017-07-07 09:03] cookiecrook commented on #99
HTML-AAM also specifies this normative requirement in an non-normative note. The normative text does not include this "empty label" exception.

[2017-07-07 09:26] cookiecrook commented on #99
Similar issue in https://github.com/w3c/aria/issues/602

[2017-07-07 09:42] stevefaulkner commented on #99
I think this is a reasonable change, as while it is a conformance error to use the empty alt, title with content pattern, it is useful for end users to get some accessible name in this case.

[2017-07-10 16:58] richschwer opened #100 "name and description computation"
The spec. does not say what to do when an ARIA role is encountered. For example, the ARIA spec. refers to using name from content in some roles and accessible name and description state how to compute the name and description when dealing with name from content and no aria-labelledby or aria-describedby are provided. The HTML spec. limits the use of ARIA name and description spec. to when aria-lab

[2017-07-11 00:44] boggydigital commented on #95
Created https://github.com/w3c/html-aam/pull/101

[2017-07-26 05:00] jasonkiss commented on #91
Thanks @joanmarie for that very helpful explanation. Taking a steer from what you note and @asurkov's response above, is it unreasonable to do something like the following?

### MSAA+IA2
Defines the list item marker, which has no accessible object, but is exposed as content in the accessible text of the associated list item.
**Interfaces:** IAccessibleText2

### UIA
TBD

### ATK
Defines the list i

[2017-07-26 05:18] jasonkiss commented on #93
Good question. The mappings for aria-readonly=true appear a match for all platforms/APIs but AXAPI.

Currently the HTML-AAM has AXEnabled: NO for readonly, but "AXValue: the AXUIElementIsAttributeSettable method returns NO" for aria-readonly=true.

AXEnabled:NO seems wrong, and doesn't match what webkit is doing. But I can't confirm if the AXUIElementIsAttributeSettable method returns NO with AXVa

[2017-07-26 19:45] cookiecrook commented on #93
Yes. I believe so.

Yeah, I agree that seems wrong. `AXEnabled` should map inversely to `disabled`/`aria-disabled` rather than `readonly` but perhaps some piece of the chain assumes that readonly is a superset of disabled? @fleizach may know.

[2017-07-27 20:14] kengdoj opened #102 "implicit form labels"
Are implicit labels included in the INPUT type=text accessible name calculation?

[5.1.1](http://www.w3.org/TR/html-aam-1.0/#input-type-text-input-type-password-input-type-search-input-type-tel-input-type-url-and-textarea-element):

For example:
[code]

Thank you in advance for the clarification.

[2017-08-02 14:01] asurkov commented on #91
thumb up from me!

[2017-08-08 05:29] boggydigital commented on #91
In Edge's UIA implementation I believe we're consistent with other implementers, so I would recommend the following text for UIA:

Defines the list item marker, which has no accessible object, but is exposed as content in the accessible text of the associated list item.
Control Pattern: TextPattern

It doesn't seem the other entries were submitted yet - so please let me know if I should submit UIA

[2017-08-09 02:58] jasonkiss commented on #102
Whether an `input` is associated with a `label` element via `for` and `id` attributes or by being nested within the `label` element, the `label` is used in computing the `input`'s accessible name.

[2017-08-09 02:58] #102 closed, assigned to nobody

[2017-08-09 06:26] jasonkiss commented on #91
Thanks all.

I've updated all the mappings for `type` on `ol`: https://github.com/w3c/html-aam/commit/8ac13bc4687d6ee12122e78b721c27830f12754e

@boggydigital, note that for UIA I went with just "Text" for the control pattern instead of "TextPattern". Does that make sense? Or should it even be "TextRange"?

[2017-08-17 23:05] boggydigital commented on #91
@jasonkiss You're right. Inside the team we use "TextPattern" term so much it's practically tattooed on my brain. Control Pattern: Text is the correct way to refer to it. TextRange is more specific and not applicable here. Thank you!

[2017-08-28 16:36] jongund opened #106 "The <form> element should only map to FORM landmark with restriction of accessible name"
The following condition should be added for the form element to become a form landmark:

"The form role if the form element has an accessible name. Otherwise, no corresponding role."

This is the similar to the section element becoming a region landmark requirement.

This is important since many frameworks including .NET wrap an entire web page in a FORM element, obviously not very functional as a

[2017-09-14 17:46] mcking65 commented on #46
@jasonkiss wrote:

The "popup" behavior is pure presentation. The keyboard interaction of select is identical regardless of the value of the size attribute.

As I am now working on drafting the APG combobox pattern, this confusion introduced by select mapping is gaining new urgency.

In case anyone is interested, the
[combobox design pattern](http://w3c.github.io/aria-practices/#combobox)
is now i

[2017-10-10 10:16] joanmarie commented on #106
As I [commented on the pull request](https://github.com/w3c/html-aam/pull/107#issuecomment-335415667) which was merged earlier today, I think some additional changes may be called for: The merged modification does accomplish what is described in the summary for this issue, namely only map named `form` elements as landmarks (via using the ARIA mappings). BUT they don't state what the mappings shoul

[2017-10-10 17:15] joanmarie commented on #6
@jasonkiss, regarding this:

I'm thinking we do.

[2017-10-17 20:04] aleventhal opened #551 "text formatting semantics"
Background: A goal of ARIA 1.2 (as I understand) is to have a complete mapping of HTML semantics. This, along with DPUB-ARIA, gets us very close to being able to express all document semantics via AOM, which would be very useful for canvas-based document systems (like Google Docs). It would also be great to have a standard means of expressing document semantics in other formats.

Feature request:

[2017-10-26 07:35] LJWatson opened #109 "Update editor information"
Jason's affiliation needs updating in the editors information section of the spec.

[2017-10-27 03:23] jasonkiss commented on #109
Fixed with https://github.com/w3c/html-aam/commit/07d904460669140f5d99ae06b4624a18c92ea2f4

Closing.

[2017-10-27 03:23] #109 closed, assigned to jasonkiss

[2017-11-23 11:10] #106 closed, assigned to nobody

[2017-11-23 11:56] stevefaulkner commented on #99
I have removed the 'normative note' ;-) which should resolve the issue from the aam perspective.

[2017-11-23 11:57] #99 closed, assigned to nobody

[2017-11-23 15:11] stevefaulkner commented on #98
hey @joanmarie,

I have added the following to the spec via af1ba378dbfcbc901bf5374e9e80624eb2932a2d let me know if it does the job?

[2017-11-23 23:51] jasonkiss commented on #80
Have merged changes. Can revisit for other AAPIs if needed.

[2017-11-23 23:51] #80 closed, assigned to jasonkiss

[2017-11-24 13:53] jongund commented on #106
Steve,
Thanks for fixing this.
Jon

[2017-11-30 05:14] jasonkiss commented on #2
Looks like mostly agreement that current mappings are wrong for MSAA+IA2, UIA, and AX. We need more information on what these mappings should be. In the meantime, I'm replacing (via 5ca8528) the incorrect mappings with '?' in the mapping table to indicate that more data on appropriate mappings is required.

[2017-11-30 05:31] jasonkiss commented on #6
Thanks, @joanmarie. I'd sure like to.

I see that the ATK mapping for the `term` role is ATK_ROLE_DESCRIPTION_TERM, [whose definition](https://developer.gnome.org/atk/stable/AtkObject.html#AtkRole) is "An object that represents the term, or name, part of a term-description group in a description list."

Doesn't that definition assign the `term` role some list semantics, even if only description-li

[2017-11-30 05:35] jasonkiss commented on #6
I should add that, while the ARIA spec indicates the `term` role as being conceptually related to the HTML `dt` element, the [definition of the `term` role](http://w3c.github.io/aria/aria/aria.html#term) doesn't include any mention of lists, definition/description or otherwise.

[2017-11-30 11:49] joanmarie commented on #6
@jasonkiss: If need be, I can update the ATK docs. I didn't see creating a brand new ATK role when this existing role would do. Then poof! No more list semantics. :smile: Would that address your concerns?

[2017-11-30 14:06] joanmarie commented on #6
@jasonkiss: The ATK documentation has just been updated via the following commit: https://git.gnome.org/browse/atk/commit/?id=4a2632d. Please note that this change will not show up in the official docs until a new ATK release is done. That won't be too long, but you may have a few weeks to wait. If you must have the change show up in the web-based developer docs before you feel comfortable proceed

[2017-11-30 21:44] jasonkiss commented on #6
@joanmarie: Amazing! That's great, and totally works for me. Thank you. Have updated `dfn` mappings accordingly to point to `term` role mappings for all APIs. Closing.

[2017-11-30 21:44] #6 closed

[2017-12-12 19:13] stevefaulkner commented on #100
will add a note to reflect the the contexts in which the core spec applies

[2017-12-12 19:13] stevefaulkner commented on #98
ping @joanmarie

[2017-12-12 19:30] stevefaulkner commented on #86
will update spec and file bugs on browsers

[2017-12-12 19:32] stevefaulkner commented on #83
put stuff from html in here about heuristics/algorithms

[2017-12-12 19:36] stevefaulkner commented on #73
command no longer in html so can close

[2017-12-12 19:36] #73 closed, assigned to stevefaulkner

[2017-12-12 19:37] joanmarie commented on #98
@stevefaulkner thanks for the ping. And thanks for making the change. I'm on vacation (post ARIA 1.1 and friends). But will try to take a look this week to very it indeed does the job.

[2017-12-12 19:49] jasonkiss commented on #53
HTML-AAM defers to to ARIA mappings for these, which is sufficient.

[2017-12-12 19:49] #53 closed

[2017-12-12 19:50] #52 closed

[2017-12-12 19:55] jasonkiss commented on #50
ACCNAME-AAM runs recursive text computation for all accessible objects.

[2017-12-12 19:55] #50 closed

[2017-12-18 03:22] jasonkiss commented on #93
bb106b9: Have updated all mappings for `readonly` to use CORE-AAM mappings for `aria-readonly=true`. If there are any issues, particularly with AXAPI (ping @fleizach?), can reopen.

[2017-12-18 03:22] #93 closed, assigned to jasonkiss

[2017-12-18 03:40] jasonkiss commented on #91
Closing. Mappings updated accordingly in 8ac13bc last August. Minor tweaks in ceb3984.

[2017-12-18 03:40] #91 closed, assigned to jasonkiss

[2017-12-18 04:04] jasonkiss commented on #78
@jongund Is ARIA's current thinking still that HTML `dt` should map to ARIA `term` role?

The `term` role now has no list semantics. HTML `dfn` maps to the `term` role. Is it still the right fit for `dt`?

[2017-12-18 04:46] jasonkiss commented on #66
Addressed in 941105b. Closing.

[2017-12-18 04:46] #66 closed

[2017-12-18 04:52] jasonkiss commented on #54
Fixed in b692be1.

[2017-12-18 04:52] #54 closed

[2018-01-05 15:54] asurkov commented on #94
fixed by https://github.com/w3c/html-aam/commit/a36747f95c2bad9af28db33c28c8e65365f7ef98

[2018-01-05 15:54] #94 closed, assigned to asurkov

[2018-01-08 07:58] jasonkiss commented on #48
I've updated the mappings accordingly with fd1e1c2, and added a comment regarding the mapping of associated UI controls when implemented as a color picker. Feel free to reopen if any concerns.

[2018-01-08 07:58] #48 closed

[2018-01-09 19:10] jasonkiss commented on #98
@joanmarie Thanks. Can you confirm that you're happy with this text?

[2018-01-09 19:43] jasonkiss commented on #42
Duplicates issue #2.

[2018-01-09 19:43] #42 closed

[2018-01-09 19:47] jasonkiss commented on #39
Is an HTML issue, if anything. Not an AAM issue.

[2018-01-09 19:47] #39 closed

[2018-01-11 11:21] joanmarie commented on #98
Sorry and thanks for the re-ping.

I'm happy with the text _for the main problem_ (i.e. generic elements). However, it doesn't solve the problem of things like `meter`. If that is going to be addressed in w3c/html-aria#77, great. But then I think we'll want to reference that to-be-written text here, e.g.

(emphasis added for hypothetical text)

The problem is that the text in the HTML AAM might ma

[2018-01-11 14:39] asurkov commented on #98
Sorry for arriving to the party late, but what's the point of forcing the browser to ignore aria-description? All enforcing goes at cost, and the browser probably shouldn't attempt to fix author errors.

I think it's reasonable to not create an accessible object for no semantics element having aria-roledescription attribute, but same time I would avoid filtering aria-roledescription attribute on a

[2018-01-11 18:21] asurkov opened #111 "do we embrase javascript things?"
Does/should HTML-AAM handle things like javascript:alert()? It feels pretty close to HTML, but still not there. HTML-AAM might be the better match we could have though. @jasonkiss ?

[2018-01-20 20:07] scottaohara opened #112 "mapping URLs point to moved pages"
The ariaSpec, CoreMapping and accName URLs presently point to older editor's draft URLs that result in a "this page has moved" document being displayed.

The URLs should be updated to:
http://w3c.github.io/aria-practices/
https://w3c.github.io/core-aam/
https://w3c.github.io/accname/

[2018-01-22 15:18] asurkov commented on #24
Do we want to handle CSS styles mapping as part of HTML-AAM at all? If so, then we should consider to add a new section 'CSS styles mapping' like we have 'HTML elements mapping' and 'HTML attributes mapping'. Should we have a separate issue for this? @jasonkiss

[2018-01-22 21:30] jasonkiss commented on #96
Looks like the only entry for ATK with a ? is [`input@multiple`](https://w3c.github.io/html-aam/#att-multiple-input). Based on the other entries, I'm assuming "Not mapped" would be correct here? @joanmarie?

[2018-01-22 21:41] jasonkiss commented on #95
The mapping for `meter` is the only ? remaining for UIA, and that mapping is awaiting the outcome of issue #2, so closing this one. Thanks @boggydigital.

[2018-01-22 21:41] #95 closed, assigned to boggydigital

[2018-01-22 22:18] jasonkiss opened #115 "Complete <ruby> related mappings"
Need to add entries for `rb` and `rtc`.

Note that AX has some roles/subroles for `ruby` and associated elements. See [related webkit bug](https://bugs.webkit.org/show_bug.cgi?id=141303).

Not sure if/how these elements are being dealt with in other browsers/APIs.

[2018-01-22 22:50] jasonkiss commented on #97
Hi @cookiecrook. We're trying to get the HTML-AAM mostly completed for CR, and there are a number of gaps in the AX column that we need help with. Any chance you or someone you can suggest can take a quick stab at it?

The elements table is in good shape and, with the exception of mappings for `meter` which are pending the outcome of issue #2, there's just mappings for `ruby` related elements, as

[2018-01-22 23:00] jasonkiss commented on #78
Looks like the `term` role is appropriate for `dt` now that it has no list semantics, and the list semantics of `dt`/`dd` will be dealt with in ARIA 1.2. Updating mappings accordingly in 7f07e8a. Closing.

[2018-01-22 23:00] #78 closed, assigned to jasonkiss

[2018-01-22 23:04] jasonkiss commented on #20
Mappings for `list` provided for all but AXAPI, which is being addressed as part of issue #97. Closing.

[2018-01-22 23:04] #20 closed

[2018-01-22 23:12] jasonkiss commented on #10
Both Chrome and Safari are the same in exposing landmark instance of `header` with "banner" localized string. Moving to v2.

[2018-01-22 23:27] jasonkiss commented on #43
What's the consensus on this question? Does `svg` element in an HTML document always map to the graphics-document role, or is it contingent on labelling or contents of the `svg` element? @AmeliaBR, @fredesch, @joanmarie, @cookiecrook? Thanks.

[2018-01-22 23:57] jasonkiss commented on #33
Since in each API we're specifying (as per [my comment above](https://github.com/w3c/html-aam/issues/33#issuecomment-268896589)) a relatively simple mapping to a generic grouping container (just as `div` and a number of elements already use), but with a localized string or object attribute to indicate the grouping is an "address", we probably don't want/need to specify `group` as the `address` ele

[2018-01-22 23:57] #33 closed

[2018-01-23 00:14] jasonkiss commented on #24
I believe there may still be an intention for something like a CSS-AAM, which would be my preference. A note regarding impact of some CSS in the `style` element makes sense, but I don't think we should start adding mappings for other technologies.

[2018-01-23 00:30] #112 closed, assigned to scottaohara

[2018-01-23 02:57] jasonkiss commented on #24
Fixed with PR #114, thanks to @scottaohara.

[2018-01-23 02:57] #24 closed

[2018-01-23 03:00] jasonkiss commented on #111
It might be reasonable to include some kind of note about it, but I'm not sure where. Otherwise, I feel the same as I do about including CSS mappings: let's keep HTML-AAM focussed on HTML element and attribute mappings. Anyone else have an opinion? @stevefaulkner? @boggydigital?

[2018-01-23 23:56] jasonkiss commented on #4
There is no `label` role. The `caption` mappings are currently accurate, and the element's role in the accname/accdesc computation is already documented in AAM. Closing.

[2018-01-23 23:56] #4 closed

[2018-01-24 00:03] jasonkiss commented on #5
The `details` element expands/collapses some content, as opposed to a popup or discrete window, so the `dialog` role isn't appropriate, I think. Closing.

[2018-01-24 00:03] #5 closed

[2018-01-24 00:04] jasonkiss commented on #7
`dfn` now maps to the `term` role. Closing.

[2018-01-24 00:04] #7 closed

[2018-01-24 00:37] jasonkiss commented on #8
`dt` maps to the `term` role, and `dd` to the `definition` role. Description/definition list semantics and role slated for ARIA 1.2. Renaming and moving to AAM v2.

[2018-01-24 00:51] jasonkiss commented on #9
There's no `label` role. Current mappings for `figcaption` are appropriate, and its impact on `figure`'s accname/accdesc computation is documented. Closing.

[2018-01-24 00:51] #9 closed

[2018-01-24 20:18] jasonkiss commented on #12
Looks like the default rendering for `input@type=file` is ControlType Group with a LocalizedControlType of "file", and this gets its accessible name from the associated `label`. The Group ControlType has two children:

1. ControlType Edit with LocalizedControlType "edit", and default name "Enter name of file to upload". But this edit field isn't focusable or editable other than through through the

[2018-01-24 20:23] jasonkiss commented on #14
There's no ARIA `label` role. Current mappings seem appropriate, and use of `legend` in accname/accdesc computation is already provided in the AAM. Closing.

[2018-01-24 20:23] #14 closed

[2018-01-24 20:57] jasonkiss commented on #15
@boggydigital Is the current UIA mapping for `tr` still accurate?

[2018-01-26 11:31] stevefaulkner opened #116 "specified mapping of h1-h6 does not reflect implementations"
We will need to change the [mapping for h1-6](https://w3c.github.io/html-aam/#el-h1-h6) to reflect how the role/level is actually implemented in browsers currently.

[2018-01-26 15:41] asurkov commented on #116
for the record, firefox always returns a level corresponding to a tag name, ie. 1 for h1, 2 for h2.

[2018-01-28 11:22] #116 closed, assigned to nobody

[2018-01-29 13:17] joanmarie opened #117 "Body element likely should not map to ARIA document role"
The HTML AAM currently maps `body` to the ARIA `document` role. But some accessibility APIs expect different mappings. For instance, in macOS the accessible object corresponding to `body` has a role of AXWebArea but the ARIA `document` role is an AXGroup (with a subrole of AXDocument). Similarly, in ATK, the accessible object corresponding to `body` should[*] be exposed as ATK_ROLE_DOCUMENT_WEB, w

[2018-01-31 20:05] asurkov commented on #2
pushed IA2 change ef13d52823b214114c343d4a7a2f93bcc1b0408a for new IA2_ROLE_LEVEL_BAR (https://github.com/LinuxA11y/IAccessible2/commit/0447f85718f806be806d88564038c50bc97f6ebc)

[2018-02-01 15:48] joanmarie opened #118 "Sanity check: Should 'br' really be mapped in MSAA+IA2?"
SSIA.

FWIW, the reason I'm curious or care at all is that I'm using HTML AAM as part of my triage to determine what missing roles we need for role parity -- and also what elements we don't need role parity for. One of my categories is "elements which don't a role because they are not mapped on any platform." I was sure `br` would be one of those, but I was wrong.

[2018-02-01 16:42] asurkov commented on #118
Technically `<br>` element shouldn't be different than a text node having a new line character contained by `<pre>` element. So it should be exposed in accessible tree or via IAccessibleText interface, but I don't see a reason why ARIA would have it.

If ARIA wants to define text, then it needs a more generic mechanism I'd say.

[2018-02-01 17:52] joanmarie commented on #118
I don't think ARIA should have it @asurkov. :)

But in doing my triage-via-HTML-AAM, I saw that there was a mapping for `br` for MSAA. Seems like the fix for this issue is to remove that mapping, right?

[2018-02-01 18:27] asurkov commented on #118
On Thu, Feb 1, 2018 at 12:52 PM, joanmarie <notifications@github.com> wrote:

ok :) mentioned just because the issue was filed as a followup of detecting
the missing ARIA roles initiative :)

But in doing my triage-via-HTML-AAM, I saw that there was a mapping for br

At least MSAA/IA2 mapping should match ATK - HTML:br should be exposed via
IAccessibleText. However, historically MSAA (unlike ATK)

[2018-02-02 11:46] joanmarie commented on #96
Right now, we don't really have a corresponding platform attribute or an parallel attribute. Whether or not an AT user would want to know this information is another matter entirely. That said, if all other platforms agree that this is not mapped on their platforms, I'm okay with that for mine.

[2018-02-02 14:03] asurkov commented on #96
fyi, no IA2 mapping either [1].

[1] https://lists.linuxfoundation.org/pipermail/accessibility-ia2/2018-January/002228.html

[2018-02-02 15:29] joanmarie opened #119 "Should header, footer have "Use WAI-ARIA mapping" when scoped to the body element?"
Currently in the HTML AAM, `header` scoped to the `body` element is mapped to the `banner` role. Similarly, `footer` scoped to the `body` element is mapped to the `contentinfo` role. However, in both cases, they have platform mappings for each platform. So what's the point of the ARIA corresponding role? (rhetorical question)

The macOS and UIA mappings reflect what's in the Core AAM (modulo UIA's

[2018-02-02 15:32] joanmarie commented on #119
BTW: If you agree with my suggestion, it might also be worth making this change for `aside`:

because it's only the Localized Control Type which differs from the `complementary` role mapping for UIA in the Core AAM.

And perhaps a similar change for `output` for UIA?

[2018-02-02 16:22] joanmarie opened #120 "Should UIA mappings for text input types say "Use WAI-ARIA mapping"?"
The `input` types of `email`, `telephone`, and `url` have platform mappings of "Use WAI-ARIA mapping" for all platforms but UIA, in which the `Edit` Control Type is stated, along with a unique Localized Control Type.

The `Edit` Control Type is already specified in the Core AAM's UIA mapping for the `textbox` role. Therefore, should the UIA mappings instead look more like what is done for MSAA + I

[2018-02-02 17:27] joanmarie commented on #119
@jasonkiss and @asurkov: What say you? :)

[2018-02-05 14:11] joanmarie commented on #96
@jasonkiss and/or @LJWatson: Are you waiting for a specific pull request from me making the change from "?" to "Not mapped"?

[2018-02-06 19:19] joanmarie opened #121 "The sub and sup elements should be mapped for ATK"
[ATK](https://developer.gnome.org/atk/stable/AtkObject.html#AtkRole) has `ATK_ROLE_SUBSCRIPT` and `ATK_ROLE_SUPERSCRIPT`. These should be used for the `sub` and `sup` elements respectively.

BTW: This mapping was implemented a while ago in WebKitGtk. If it's not implemented in Gecko yet, it should be.

[2018-02-06 20:09] jasonkiss commented on #117
Thanks @joanmarie.

I've updated all mappings for `body` based on your summary and how the other browsers are currently mapping it. See 724677b.

Please reopen if something's not right.

[2018-02-06 21:00] jasonkiss commented on #118
While there is some chicken and egg to the status of the mappings listed in the HTML-AAM, it is a rec-track specification.

Historically, MSAA has been used to expose all sorts of things, rightly or wrongly ;)

I'm of the opinion that consistency, to the degree that it's possible, in how things are exposed across the APIs is a good thing. In that regard, it makes sense to me that `br` should not b

[2018-02-06 21:00] #118 closed, assigned to nobody

[2018-02-06 21:14] jasonkiss commented on #121
Done. Thanks @joanmarie. Closing.

[2018-02-06 21:14] #121 closed, assigned to jasonkiss

[2018-02-06 21:27] jasonkiss commented on #96
@joanmarie Thanks, but no :) I've made the change.

(I also made the same change for AX, as, from what I can tell, it's not mapped there either. Might need @cookiecrook to correct that if wrong.)

Closing on the assumption that we're all good.

[2018-02-06 21:27] #96 closed, assigned to joanmarie

[2018-02-06 21:44] jasonkiss commented on #120
WFM. Done in cdeacad. Thanks @joanmarie for the suggestion.

[2018-02-06 21:44] #120 closed, assigned to nobody

[2018-02-06 22:20] joanmarie commented on #117
Everything other than UIA looks right to me. Since I know nothing about UIA other than what @boggydigital  tells me, we should ask him. :smile:

[2018-02-06 22:30] jasonkiss commented on #119
I say you are correct, @joanmarie :)

See a1a661d.

I've updated mappings for `header` and `footer` scoped to `body` to use WAI-ARIA mappings, with the exception of UIA's Localized Control Type for both, and AXRoleDescription for `footer`, which is different.

Made similar changes as suggested for `aside` and `output`.

Thanks!

[2018-02-06 22:30] #119 closed, assigned to nobody

[2018-02-06 22:32] jasonkiss commented on #117
Control Type Pane is what Inspect.exe tells me, but I could be reading it wrong.

Reopening for @boggydigital to confirm and close or advise otherwise.

[2018-02-06 23:29] jasonkiss commented on #2
@cookiecrook has filed a [bug for this for Webkit/AX](https://bugs.webkit.org/show_bug.cgi?id=164051).

UIA still maps `meter` to ProgressBar Control Type. @boggydigital: any plans to create new Control Type or map `meter` differently, given that it is not a progress bar?

[2018-02-06 23:50] jasonkiss commented on #27
My initial impression is that the element subtree would be used for the accname. So similar to how `button` gets its name computed.

But I note that `meter` (and `button` and `output` for that matter) is a labelable element that can also have a phrasing content subtree.

So wouldn't the name computation be the following?

1. Use aria-label or aria-labelledby if provided
2. associated `label` eleme

[2018-02-07 00:21] jasonkiss commented on #37
Need to confirm if ACCNAME-AAM still sufficiently addresses use of `datetime` attribute as last option for accessible description computation.

Also need to confirm need for and phrasing of the note regarding use of Text Control Type, which is related to issue #58.

Accordingly, moving this issue to AAM v2.

[2018-02-07 01:11] jasonkiss commented on #43
In the hope of making (forcing?) progress on this, I've updated the mapping for `svg` to use the graphics-document role in all cases. I suspect this isn't accurate, so am renaming this issue and moving it to AAM v2.

[2018-02-07 01:30] jasonkiss commented on #28
I took a stab at cleaning this up as described above. Closing for now.

[2018-02-07 01:30] #28 closed

[2018-02-07 01:55] jasonkiss commented on #115
I've added the rows to the mapping table, and completed the AXAPI mappings as best as I can determine.

Now we need input for MSAA+IA2, UIA, and ATK.

Moving to AAM v2.

[2018-02-07 06:24] chaals commented on #2
It is not that far off - a progress bar seems to be a specialised version of meter (fixed start value of zero, allows for no known values, is expected to be dynamic).

[2018-02-07 07:41] LJWatson commented on #43
Ping @IanPouncey for relevance/dependancy on the SVG AAM?

[2018-02-08 19:25] jasonkiss commented on #32
The UIA mapping for `address` was sorted in issue #33. Closing.

[2018-02-09 16:15] asurkov commented on #119
I agree that the elements having same semantics should be reflected same way in accessibility APIs. However I'm not sure that LANDMARK role is a best fit for headers and footers, that both IA2 and ATK provide the better role match.

@joanmarie do you know why ARIA header and footer equivalents don't use HEADER and FOOTER roles?

[2018-02-09 16:21] asurkov opened #122 "'Use WAI-ARIA mapping' is not descriptive"
It's not readers friendly to say 'Use WAI-ARIA mapping' suggesting the reader to go and read another spec on his own. So we could take two approaches to address the issue:
1) turn 'use ARIA mapping' into a link - easy to implemented, should be ok for the readers
2) create a pool of mappings in JS shared between specs - harder to implement, need to support non-JS version; but it has to be #1 reader

[2018-02-12 18:27] asurkov commented on #27
confirming: the sequence looks reasonable, and shouldn't be different from HTML:button one.

However I would say instead that elements like HTML:button are labellable and allow name computation from subtree leaving ARIA behind, since this is universal rule and we don't have to repeat it all over.

[2018-02-23 04:05] cookiecrook commented on #97
I'm not sure I understand the value of developing this table. It feels like an academic exercise that grossly oversimplifies implementation details (e.g. you can't fit the implementation description of contenteditable neatly into a single table cell). I'm also not sure who the audience for this is, or the value they're expected to gain from it.

[2018-02-23 12:50] stevefaulkner commented on #97
@cookiecrook I for one find having some accurate (if incomplete) information available in my job, especially in cases where implementation divergence is evident,  but if you don't find it worthwhile to provide the info I will take a stab at it providing what I can for the missing entries.

[2018-02-23 17:29] annevk opened #123 "Change mapping of h1-h6 and hgroup"
Provided implementers are on board with https://github.com/whatwg/html/pull/3499 as a way of fixing https://github.com/whatwg/html/issues/83#issuecomment-359871505, the mappings for these elements will need to change as well. This should be rather easy to do for these elements on top of the "heading level" concept they will get once that PR lands.

I figured I'd raise this somewhat early so a) we

[2018-02-23 17:32] annevk commented on #55
FWIW, I think this can be closed. As mentioned above, you cannot distinguish `<img alt>`, `<img alt=>`, `<img alt= >`, `<img alt=''>`, and `<img alt="">`.

[2018-02-23 17:37] AmeliaBR commented on #55
The only question, to me, is whether there should be clarifying language in the spec. If browser devs weren't confident whether an empty string was equivalent to no value, I don't think we can assume that web authors will know it automatically.

[2018-02-23 17:44] annevk commented on #55
If the HTML Standard is confusing about how the DOM is created, that'd be a good place to clarify that, I think, not here. This should just operate on the DOM.

[2018-02-23 18:59] AmeliaBR commented on #55
For HTML-AAM, I'd suggest changing [this heading](https://w3c.github.io/html-aam/#el-img-emptyalt) from:

to

so that there is a clarification right where it is used.  As @annevk said, the two markup forms are equivalent to the HTML parser, but it is confusing to call out one but not the other.

Perhaps similar clarifications would also be appropriate in the HTML spec; I'll comment on that issue s

[2018-02-24 22:11] chaals commented on #55
@AmeliaBR see https://github.com/w3c/html/issues/1243

[2018-02-26 01:45] jasonkiss commented on #55
Thanks @annevk and @AmeliaBR for the discussion and suggested clarification. Have implemented in a967061. Closing.

[2018-02-26 01:45] #55 closed

[2018-02-27 04:40] jasonkiss commented on #29
Here's an attempt to consolidate the accessible name computation for labelable elements (`button`, `input` (if the `type` attribute is not in the Hidden state), `meter`, `output`, `progress`, `select`, and `textarea`).

I think the following computation covers all labelable elements, but I'm not certain it is easier to understand than the current or some other approach. What do you think @stevefau

[2018-02-27 04:41] jasonkiss commented on #27
Thanks, @asurkov.  I've carried on the conversation over at #29.

[2018-03-01 11:11] stevefaulkner opened #124 "UIA mapping for <span> is incorrect"
The mapping for [span](https://www.w3.org/TR/html-aam-1.0/#details-id-124) currently says:

When tested using Edge with inspect.exe `span`s are exposed as LocalizedControlType: "text", which seems correct, suggest updating the spec to reflect implementations.

[2018-03-01 23:17] jasonkiss commented on #124
Control Type: Text

Done in c6f725e.

Closing.

[2018-03-02 05:09] FremyCompany commented on #124
Wait, please do not update UIA mapping without feedback from Microsoft.

[2018-03-02 05:10] FremyCompany commented on #124
I cannot reopen, but this is not accurate. @jasonkiss could you please revert?

The `text` nodes you are seeing are the text nodes of the html, the span are not exposed by default since they have no role, so you cannot see them in the tree.

[2018-03-02 17:32] boggydigital commented on #124
@FremyCompany is spot on and if I read Steve original post - he's correct as well. The change is not correct.

span elements produce ControlType: Group (as originally specified) and LocalizedControlType: "text" (as Steve correctly noted), which is not the same as ControlType: Text.

I'll add proposed PR to reintroduce ControlType: Group again and capture LocalizedControlType: "text".

[2018-03-02 17:35] boggydigital commented on #124
Spoke too soon without double checking - the LocalizedControlType comes from anonymous text block @FremyCompany noted, spans don't get this.

With that - the revert is the only action we need to do here. @jasonkiss

[2018-03-02 17:36] boggydigital commented on #117
Verified that UIA mapping is correct, closing the issue

[2018-03-02 17:36] #117 closed, assigned to boggydigital, jasonkiss

[2018-03-02 17:53] boggydigital commented on #58
Here are some thoughts.

In general when mapping HTML elements to UIA elements (currently) we only create corresponding notes for the "interesting" ones and the definition is fairly broad:

- Elements that have any ARIA attributes (including role)
- Interactive elements (controls, tabindex)
- Elements that have click handlers in the ancestry chain (to support DOM events propagation and bubbling, w

[2018-03-02 17:53] #58 closed

[2018-03-02 18:25] boggydigital commented on #37
AccName-AAM 2D sufficiently covers this issue and we don't need to explicitly mention this.

[2018-03-02 18:27] boggydigital commented on #37
As for the keeping the note - I don't have a strong preference, @jasonkiss version looks good to me, but even the original doesn't strike me as wrong that much, so not sure there is value in changing.

[2018-03-02 18:28] boggydigital commented on #37
Finally see my notes in #58 - I'd like to converge on the consistent model we'd be able to document and go from there. Where we are today, I'd say small (specification wording) tweak are not really needed.

[2018-03-02 18:28] #37 closed

[2018-03-02 18:38] boggydigital commented on #17
Not clear if that is about accesskey <1 character (?) or >1 character. Assuming it's the latter, I would suspect the issue comes from the property description: "Gets a string containing the access key character for the element." which implies it's just a single key. However the property is of value string and in my testing <div role="a" accesskey="abc">inner content</div> produced AccessKey: "abc"

[2018-03-02 18:47] boggydigital commented on #17
https://github.com/w3c/html-aam/pull/125

[2018-03-02 18:47] #17 closed

[2018-03-02 18:52] boggydigital commented on #15
The current mapping is accurate. Can be improved in the light of #58, but there is nothing wrong with the current mapping, so I'll just close the issue. I don't see <tr> being mapped through role="row" currently and they are indeed exposed as ControlType: Group element.

[2018-03-02 18:52] #15 closed

[2018-03-02 19:12] boggydigital commented on #13
Longer term this should be ControlType: Text and LocalizedControlType: "user input"

[2018-03-02 19:12] #13 closed

[2018-03-02 19:29] boggydigital commented on #11
Cynthia is right, when input is in validation error state property IsDataValidForForm is set to "false" and we create a link to the tooltip element (that is outside DOM) using the ControllerFor. One additional note is that in the current implementation we also map UIA HelpText property to the associated tooltip value and effectively in this case it's mapped to validation error as well. Going forwa

[2018-03-02 19:29] #11 closed

[2018-03-02 19:37] boggydigital commented on #22
Currently there is no UIA property that would be a good fit. We've filed internal request to have something that would work - but the current specification is factual, the property is not mapped (because there is nothing to map to). I've entertained the idea to reuse some of the general purpose description properties (FullDescription, HelpText) - but that doesn't seem to be a good fit either. 1) T

[2018-03-02 19:37] #22 closed

[2018-03-02 19:54] boggydigital commented on #12
Yes, @jasonkiss is spot on. input id="if" type=file / label for="id" "Author name" would result in the following structure:

ControlType: Group, LocalizedControlType="file", Name="Author name"
+ ControlType: Edit, Name: "Enter name of file to upload" (Note this is localizable name set internally), supports ValuePattern, Value.IsReadOnly = true, support InvokePattern that make file open dialog to s

[2018-03-02 19:54] #12 closed

[2018-03-02 20:36] jasonkiss commented on #124
Reverted. Thanks @FremyCompany and @boggydigital. Closing again.

[2018-03-02 20:36] #124 closed, assigned to jasonkiss

[2018-03-07 03:45] jasonkiss commented on #25
Pinging @cyns just in case...

Is the intent of this issue that `title` on `abbr` and `dfn` needs to participate in the name and description computation differently from how it is currently documented under [5.15 Text Level Elements Not listed Elsewhere](https://w3c.github.io/html-aam/#text-level-elements-not-listed-elsewhere)?

[2018-03-07 05:07] jasonkiss commented on #29
See https://rawgit.com/w3c/html-aam/jasonkiss-issue-29/#accessible-name-and-description-computation for a 'live' version of the changes I propose for the Acc Name and Desc section.

[2018-03-08 14:29] asurkov commented on #29
@jasonkiss I like it. Is there a diff I can run through and comment?

[2018-03-08 14:45] stevefaulkner commented on #29
I have reviewed and LGTM

--

Regards

SteveF
Current Standards Work @W3C
<http://www.paciellogroup.com/blog/2015/03/current-standards-work-at-w3c/>

On 7 March 2018 at 05:07, Jason Kiss <notifications@github.com> wrote:

[2018-03-08 19:34] jasonkiss commented on #29
@asurkov
the branch: https://github.com/w3c/html-aam/tree/jasonkiss-issue-29
the relevant commit: https://github.com/w3c/html-aam/commit/f348adf759eb92b117a169dc269cb59d1c221d51?diff=split

[2018-03-13 20:39] asurkov commented on #29
Thank you. I run through the diff and left comments here and there. Hope it makes sense.

[2018-04-03 10:20] stevefaulkner commented on #123
@annevk I have the same reservations about supporting the implementation of this as I have always had and agree with much of what @sideshowbarker says in https://github.com/whatwg/html/pull/3499#issuecomment-378170982 and subsequent comments. When I look at example of `hgroup` usage in the wild it is not uncommon for `hgroup` instances to include chunks of structured content.

For example, when I

[2018-04-03 11:09] annevk commented on #123
What percentage of `hgroup` usage was incorrect? We might also be able to deal with this in another way, by explicitly setting the "accessible name", such that the above scenarios would not lead to as weird outcomes.

(Note also that `hgroup` is a rather small subset of this issue, though it does impact a few things.)

[2018-04-04 07:45] sideshowbarker commented on #123
FYI to help with answering that I just now added logging of URLs for `hgroup` documents to the HTML checker backend — so within a day or two, that’ll collect enough URLs that we’ll have another sample to look through and assess.

I agree that `hgroup` is a relatively small part of the larger issue — but at the moment it’s what’s blocking me from updating the related heading-level/outline feature i

[2018-04-04 08:04] stevefaulkner commented on #123
@sideshowbarker thanks, look forward to reviewing the data.

while I agree, it is an important aspect of this issue to update the mapping, as `hgroup` is not currently mapped and its mapping as suggested will have an impact.

[2018-05-01 12:03] joanmarie opened #129 "Non-landmark header and footer elements should map to ATK_ROLE_HEADER and ATK_ROLE_FOOTER"
ATK has specific roles for header and footer. Is there any reason why they are not being used for those elements (when they are not of the landmark variety)?

[2018-05-01 17:48] minorninth opened #130 "Mapping for iframe is wrong"
For the Mac AX API in particular, the iframe element does not map to AXWebArea. Rather, the iframe element maps to a generic / unknown role (AXUnknown) and is hidden from the accessibility tree, and the child/descendant of the iframe is the one that has the role of AXWebArea.

[2018-05-01 17:51] minorninth commented on #130
I propose something like this:

AXRole: not mapped
Child: AXRole of AXWebArea, AXRoleDescription of "html content"

[2018-05-03 10:56] LJWatson commented on #97
@CookieCrook can you explain a bit more? Is it that you think the information can be better presented in a different format, or that the mapping information is itself not worth documenting, or something else?

[2018-05-03 15:48] minorninth opened #131 "Android mappings"
This is a rough draft of the HTML-AAM for the Android platform, based
on the current implementation of Google Chrome and the built-in
WebView (which is based on Chrome).

I'm hoping someone will be interested in turning this into a PR. If not I
could look into doing that, but I might like some feedback first on how
we might want to format this information.

Under each HTML element and attribute, y

[2018-05-07 20:07] aleventhal opened #133 "IA2 role listed for <footer> inconsistent with implementations"
The \<footer\> entry recommends following the role used for contentinfo, which has IA2_ROLE_LANDMARK listed.

However, both Firefox and Chrome, the main IA2 implementers for web, both use IA2_ROLE_FOOTER, which is more specific.  Therfore there is an inconsistency between current implementations and the spec.

Options:
- Ask Firefox and Chrome to use IA2_ROLE_LANDMARK for consistency with the spec

[2018-05-09 18:52] joanmarie opened #134 "Name calculation for input type="file" not covered"
Input type="file" seems to be rendered as a button element by most user agents. But how to calculate the accessible name is not explicitly covered by the HTML AAM.

[2018-05-28 14:31] #44 closed

[2018-05-30 13:08] stevefaulkner commented on #97
@LJWatson have started adding missing info, am checking off as I go
https://github.com/w3c/html-aam/commit/fafa93e02c10ada6ed14039f2e8164ae6299a8b6

[2018-07-02 13:23] IanPouncey opened #135 "Name calculation for img does not take in to account mapping of null alt to role=presentation"
The accessible [name calculation for img](https://www.w3.org/TR/html-aam-1.0/#img-element) is potentially confusing as it does not provide the information that an image with a null alt attribute value should map to role=presentation and should, therefore, be removed from the accessibility tree (source: @stevefaulkner).

Because of this:

[code]

should not have an accessible name, and should not b

[2018-07-02 13:34] stevefaulkner commented on #135
I think I am wrong having read this https://www.w3.org/TR/wai-aria-1.1/#conflict_resolution_presentation_none

[2018-07-16 19:13] asurkov commented on #133
I'd say we should use the better match from what API provides. If no objections, I can file a patch.

[2018-07-16 19:56] aleventhal commented on #133
Surkov, so we should use IA2_ROLE_FOOTER for this one?

[2018-07-17 14:38] asurkov commented on #133
@aleventhal I would say so.

[2018-07-17 15:01] aleventhal commented on #133
@asurkov sounds good to me

[2018-07-17 15:25] asurkov commented on #133
@aleventhal check out issue #119, where footer/header roles were converted to landmarks

[2018-07-23 07:06] LJWatson opened #136 "Update editor information"
The editor information needs updating to reflect recent changes:
* Jason and Bogdan need moving to the previous editors section (where Cynthia is mentioned)
* Scott needs adding as a current editor.

[2018-07-25 10:55] #136 closed, assigned to scottaohara

[2018-07-27 17:54] aleventhal commented on #133
@asurkov I don't care what we do for these. I think JAWS/NVDA handle it either way. They're probably just looking at xml-roles. But, I'd like to do it the same as Firefox and the official mappings. What's the final decision?

[2018-08-01 13:11] asurkov commented on #133
@aleventhal #119 seems has a valid point, because the semantics of ARIA banner/contentinfo roles and HTML header/footer elements looks same. Thus I filed an issue against core-aam (https://github.com/w3c/core-aam/issues/19) to make them using more specific IA2 roles.

[2018-08-01 14:07] jongund commented on #133
Some times the FOOTER and HEADER elements do represent a landmark and some times they don't, so the mapping should be conditional based on the content of the FOOTER and HEADER element.

[2018-08-01 14:24] asurkov commented on #133
@jongund sure, I meant the case when HTML header/footer are semantically equivalent to banner/contentinfo.

[2018-08-03 18:41] mcking65 commented on #46
At the May 2018 meeting of ARIA WG at Mozilla in Toronto, we discussed this issue. Unfortunately, I cannot find where in the minutes:
* [Day 1](https://www.w3.org/2018/05/01-aria-minutes)
* [Day 2](https://www.w3.org/2018/05/02-aria-minutes)
* [Day 3](https://www.w3.org/2018/05/02-aria-minutes)

It's quite odd that the discussion was not captured. There is the possibility that I'm overlooking it.

[2018-08-07 23:00] jcsteh commented on #27
[**@jasonkiss**](https://github.com/jasonkiss) commented on [Feb 7, 2018, 9:50 AM GMT+10](https://github.com/w3c/html-aam/issues/27#issuecomment-363606292 "2018-02-06T23:50:45Z - Replied by Github Reply Comments"):

I don't really follow this. Yes, button is similar in that it can have content, but the similarity ends there. Button's content is visible to all users. In contrast, meter's content is

[2018-08-13 09:31] joanmarie opened #139 "Mapping for input type="color" is incorrect for ATK (and IA2?)"
Most (all?) user agents implement support for `input` with a type attribute value of `color` as a push button which, upon activation, causes a color chooser to appear. For such implementations, the mapping should be to ATK_ROLE_PUSH_BUTTON. The resulting color chooser should have ATK_ROLE_COLOR_CHOOSER.

Docs: https://developer.gnome.org/atk/stable/AtkObject.html#AtkRole

(emphasis added)

Looking

[2018-08-13 09:41] joanmarie commented on #139
@asurkov: Thoughts on this issue -- especially in terms of IA2?

[2018-08-13 15:26] joanmarie opened #141 "Add mappings for ins and del"
The `ins` and `del` elements currently are shown as having no accessible object for three of the four platforms. In addition, for ATK it states that exposure should be done via text attribute.

In order to easily support presentation (or exclusion, should the user prefer) of edits marked up via `ins` and `del`, I think there should be an accessible object. IAccessible2 has just added roles for eac

[2018-08-14 09:30] joanmarie opened #142 "ATK mapping for summary element should be ROLE_TOGGLE_BUTTON"
The current ATK mapping for the `summary` element is ROLE_PUSH_BUTTON. But the `summary` element behaves more like a toggle button and thus should be mapped accordingly.

BTW: The `summary` and `details` elements look and behave much like GtkExpander. And GtkExpander's accessible object is a ROLE_TOGGLE_BUTTON; not a ROLE_PUSH_BUTTON.

[2018-08-14 14:45] joanmarie opened #143 "Should var really be mapped to "No accessible object"?"
It appears to me that `var` has semantic meaning rather than being purely stylistic. As such, I'm not sure that "no accessible object" is the correct mapping for MSAA+IA2, UIA, or ATK. For that matter, I wonder if making it an AXGroup with no means to distinguish it from other generic AXGroup instances is what is desired for macOS.

One use case that springs to my mind would be variables which con

[2018-08-14 14:47] joanmarie commented on #143
Assuming it should have an accessible object, for ATK I guess ATK_ROLE_STATIC would be the best match. ATs would still need a means to know that this particular ATK_ROLE_STATIC object is a `var`. Could that be done via the `xml-roles` object attribute?

[2018-08-14 16:33] joanmarie opened #144 "Update child in ATK mapping for iframe"
The ATK mapping for `iframe` is currently:

The role is correct, but the child role (in the case of HTML documents) should be ATK_ROLE_DOCUMENT_WEB. This behavior is already implemented.

That said, if the source of the `iframe`'s content were not an HTML document, but an SVG, wouldn't the expected mapping of the child be the mapping for `svg`? That's the WAI-ARIA `graphics-document` role which, i

[2018-08-27 15:22] zcorpan opened #145 "Unclear which legend element to be used as accessible name for fieldset"
What is the legend subtree?

Similarly for figure/figcaption, table/caption.

Cases to consider:

* there might be no such child element
* there might be more than one such child element
* the [flat tree](https://drafts.csswg.org/css-scoping/#flat-tree) might differ from the DOM tree (e.g. if there's a `display: contents` element in between, or if it crosses a shadow DOM boundary).
* the element m

[2018-08-27 16:50] LJWatson commented on #145
Good question! In this context I think it would be the child of the element in question (a heading inside a legend element for example), where it is the content of the child element that becomes the accessible name for the grandparent.
[code]

Continuing with legend as an example...

If the legend element has no children, the text content of the legend becomes the accessible name for the fieldset.

[2018-08-28 09:59] zcorpan commented on #145
How did you experiment?

I tested in Firefox and Chrome on macOS, using their accessibility tree view in developer tools, with this test case.

http://software.hixie.ch/utilities/js/live-dom-viewer/saved/6165

In both browsers, the fieldset is represented as a "group" node with accessible name "The legend" for the first fieldset, and a "group" node with accessible name "" for the second fieldset,

[2018-08-29 06:50] zcorpan commented on #145
For this test

https://github.com/web-platform-tests/wpt/blob/89d1f02395ce625bc98745ba8c53729c00dc5b1a/html/semantics/forms/the-fieldset-element/accessibility/shadow-dom-manual.html

Both Firefox and Chrome have empty accessible name for the "group" node in the accessibility tree.

[2018-08-29 12:59] zcorpan commented on #145
Based on the above, I propose that the accessible name algorithm use the same logic as how it's defined semantically in the HTML standard:

https://html.spec.whatwg.org/multipage/form-elements.html#the-fieldset-element

Separately, on the difference for `display: none`, it seems like Firefox is using `innerText` to get the text to use as the accessible name -- it uses the `textContent` if the elem

[2018-09-05 17:58] joanmarie opened #147 "Details and Summary mappings should include details/details-for AtkRelationType"
ATK has the following relation types:

These should be included in the implementations of the `details` and `summary` elements so that Orca can quickly figure out what information should be presented upon expansion of the element.

[2018-09-07 20:46] #145 closed, assigned to nobody

[2018-09-11 21:32] joanmarie opened #148 "Clarification sought regarding exposing title attribute via description when also part of name calculation"
Given this test case:

`<label for="test">foo <input id="test" type="button" name="test" title="bar"> baz</label>`

The accessible name of the input should be "foo bar baz" based on what is in the AccName + HTML-AAM specs. The question is: Should "bar" be exposed as the accessible description?

The HTML-AAM states the following regarding [accessible description calculation of `input type="button"`

[2018-09-11 21:41] joanmarie commented on #148
See also: https://bugs.webkit.org/show_bug.cgi?id=189379.

[2018-09-11 22:13] scottaohara commented on #148
The missing bit here is that the `label` that surrounds the `input` is providing the accessible name via the text within the `label`, thus neglecting the `title` as part of the accessible name and using the attribute's value as a description instead.

It does seem odd to me that the `label` element is not mentioned in this spec as a method of providing a source of an accessible name.

[2018-09-12 09:58] stevefaulkner commented on #148
Hi @joanmarie this is tricky :-)
I don't think that if there is another source of accessible name for the button that title should be included in acc name calculation. I also don't think that if it appears as complete or part of the acc name calculation it should be used in accdescription calc.

Currently implementations in browsers are not interoperable, as in they are all over the place in regar

[2018-09-12 13:05] joanmarie commented on #148
Well, the label element IS taken into account in the acc name calculation. The label element's content is:
* "foo" (text)
* (button input with title of "bar")
* "baz"

@stevefaulkner and @scottaohara: What do you each think the expected title should be?

[2018-09-12 14:35] scottaohara commented on #148
The acc name should be “foo baz”.  The label is provided by the text nodes of the label element, which is why the title shouldn’t be considered part of the acc name.

[2018-09-12 14:49] stevefaulkner commented on #148
@scottaohara that is what i get from testing in all except firefox.

[2018-09-12 15:10] joanmarie commented on #148
Indeed. And when I read what's in the AccName spec (general rule for descending children and concatenating strings for name-from-content) + what's in the HTML AAM (overrides the calculation for certain elements), "foo bar baz" is the expected result. If my reading is correct, we either need to fix the user agents (what I was planning to do) or AccName and/or HTML AAM.

I'll write up the exact manu

[2018-09-12 15:24] joanmarie commented on #148
Oops. I think my read was incorrect due to AccName step D:

I guess we can close this. Sorry for the noise!

[2018-09-12 15:40] scottaohara commented on #148
Thank you for the discussion @joanmarie :)

[2018-09-12 18:08] joanmarie commented on #148
I'll keep this closed (or at least not reopen it, since it's your spec and issue tracker), but @stevefaulkner stated:

You want me to file a new issue for that?

[2018-09-12 18:12] scottaohara commented on #148
that's ok @joanmarie.  i'll reopen this issue and assign to myself.

thanks

[2018-09-12 20:54] joanmarie commented on #148
@scottaohara, regarding:

Should there be one space in between "foo" and "baz" or two? I just assumed one, and I do think most user agents tend to simplify/collapse whitespace. But a member of the ARIA Working Group pointed out the two spaces in the `label` element. And since AccName in this case seems to totally defer to your spec, we need to be sure whitespace simplification is covered.

Thanks

[2018-09-13 00:28] scottaohara commented on #148
I believe you're correct @joanmarie.

I'll check some more and verify for you.

[2018-09-16 18:29] scottaohara commented on #148
So checking with @stevefaulkner as well as doing some quick manual testing, I couldn't find an instance of extra white space (beyond a single space) being reported in the accessible name of an element.

Sometimes when looking directly at text nodes, there were instances where a single bit of white space was included in the accName if there was a line break in the source code.  But the extra white

[2018-09-17 21:55] iamrafan opened #149 "Map <option> element to role 'option' when it has a parent <select> element that acts a combobox"
The [HTML spec for ```<option>```](https://www.w3.org/TR/html5/sec-forms.html#the-option-element) and [HTML-AAM for ```<option>```](https://www.w3.org/TR/html-aam-1.0/#html-element-role-mappings) state that it should always default to role ```option```

But ```<option>```  element's role is returned as ```menuitem``` when used inside a ```<select>``` element that acts as a combobox

**Code snippet

[2018-09-19 07:45] lazarljubenovic commented on #69
Interesting. So I cannot use `placeholder` for visual "label", and then use `aria-label` and `aria-required` for better semantics?

[code]

[2018-09-19 12:07] stes-acc commented on #69
For they latter is not mapped to accName this should work as additional help if [https://w3c.github.io/core-aam/#ariaPlaceholder](url) remains stable.

But regarding precedence declaring placeholder vs. aria-placeholder User Agents need precedence rules and not "don't do " authoring rules. Will aria-placeholder win in the Help mapping in this case?

I cannot say that according to everything writte

[2018-09-19 15:43] schne324 commented on #51
👍

having several `dt`s for 1 `dd` is valid too, so the implied grouping could also look like this in certain situations:

[code]

[2018-09-20 15:08] stes-acc commented on #98
Another aspect: the aria-roledescription="" case. Which should be handled in the API mappings spec if declared but empty will have effect in browser mapping (which shouldn't). And obviously not for screen readers.
Don't laugh, we have seen alt="" declarations for images that are interpreted as "decorative" by AT. Way bad.

[2018-09-20 16:55] carmacleod commented on #46
@mcking65

Not quite. Sure, if you give focus to an html select, you can use the up/down arrow keys (or type the first letter of an option) to choose a value, and this behavior is identical to listbox. However, there are additional keystrokes for HTML:select@size='1' that do not apply for listbox:

- drop down the list by typing alt+up/down or the space key
- _then_ select an option with up/down (

[2018-09-26 17:57] joanmarie opened #150 "Section 5.3.1 (input type="image") as written can lead to non-interoperable implementations"
I'm seeing inconsistent implementations of the accessible name for `input type="image"` with a title attribute. More specifically, WebKit and Gecko expose the value of the `title` attribute; Blink exposes "Submit". Looking at how section 5.3.1 is written, I would argue both are correct due to item 4 in the current spec text:

This seems bad for interoperability.

Note: At the present time, the ARI

[2018-09-26 18:25] stevefaulkner commented on #150
Hi @joanmarie how would you change the above? Note that I wrote most of the these an age ago (6 years hmmm), pretty much based on what i found was implemented at the time

[2018-09-26 18:26] joanmarie commented on #150
If you swap the order of 4 and 5, the Blink would have a bug because they are not using the title.

[2018-09-26 20:02] #150 closed, assigned to nobody

[2018-09-26 20:05] stevefaulkner commented on #150
test case 05: https://thepaciellogroup.github.io/AT-browser-tests/test-files/input-image.html

[2018-09-26 20:15] joanmarie commented on #150
Suh-weet! :) Got my fix here: https://chromium-review.googlesource.com/c/chromium/src/+/1246724

Thanks much @stevefaulkner!!

[2018-10-04 18:09] joanmarie opened #151 "Need language/mapping for "not-mapped" elements which must be exposed due to attributes"
Consider the following:
    `<b tabindex="0">foo</b>`
Because it is focusable, it has to have an accessible object (i.e. be mapped) so that accessibility events can be emitted.

Likewise: `<b title="hello world!">foo</b>` would need an accessible object because otherwise there's no way to expose and associate the title value.

At the present time, the HTML-AAM lacks language/mapping for a number o

[2018-10-05 15:27] scottaohara commented on #147
ping @stevefaulkner

let's look at this next week per our discussion today.

[2018-10-05 15:30] scottaohara commented on #151
Discussed this a bit today.  @stevefaulkner and I will spend more time on this next week.

Thanks!

[2018-10-05 16:01] stevefaulkner commented on #151
[test case](https://codepen.io/stevef/pen/gBMJKq) to look at what happens currently

[2018-10-05 16:46] scottaohara commented on #149
Hi @iamrafan

Yes, the browser's accessibility panels expose the role that way, but if you review [the core accessibility api mappings for options](https://www.w3.org./TR/core-aam-1.1/#role-map-option) you'll see that the `option` role is a round up of the different APIs exposing the `option` element as either "ROLE_LIST_ITEM" or "ROLE_MENU_ITEM", the latter being where the `menuitem` role is comi

[2018-10-05 16:46] #149 closed, assigned to nobody

[2018-10-05 16:59] scottaohara commented on #97
have not checked off items in the previous comment, but I have posted my branch which has updated the tables quite a bit.

remaining attributes to address in my branch are the following:

- [ ]  span
- [ ] spellcheck
- [x] src
- [x] start
- [x] step
- [ ] tabindex
- [ ] type
- [x] usemap

[2018-10-22 03:10] scottaohara commented on #148
Noting [this related issue (29)](https://github.com/w3c/html-aam/issues/29).

[2018-10-23 02:50] scottaohara opened #154 "Fix refspec warnings"
refspec is reporting a few warnings in the document, they will be addressed here.

[2018-10-23 05:25] nschonni opened #155 "Should this repo use aria-common css and js"
Seems like there is some overlap with the img, css, scripts.
Adding the repo name to https://github.com/w3c/aria-common/blob/5b936832c880dda63358a5374b0fc3dca4cb676a/.travis.yml#L14 should create a "common" folder in here. Then the `index.html` paths would need to be updated.

[2018-10-25 15:16] jnurthen opened #157 "Fix button accessible description"
https://w3c.github.io/html-aam/#button-element-accessible-description-computation

states

1. use `aria-describedby`
2. Otherwise use the `title` attribute if it wasn't used as the accessible name.

It should state

1. If the `button` has an `aria-describedby` attribute the accessible description is to be calculated using the algorithm defined in Accessible Name and Description: Computation and AP

[2018-10-25 16:01] joanmarie opened #158 "Add generic case for name calculation"
The [Accessible Name and Description Computation](https://w3c.github.io/html-aam/#accessible-name-and-description-computation) in AccName handles quite a few cases (e.g. `input type="text"`) and starts with:

But it doesn't handle all elements, or elements whose mapped role is dictated by ARIA (e.g. `<div role="tree">`

I think that, as a general rule, it would make sense for the host language to

[2018-10-25 16:07] stevefaulkner commented on #158
@joanmarie sounds reasonable can you provide a little more detail about what the modified text should be and for which circumstances?

[2018-10-26 14:37] joanmarie opened #160 "Consider prohibiting author naming certain elements"
Question: Should `div`, `span`, `i`, `b`, and the like support `aria-label` and `aria-labelledby`? Technically they do. And maybe they should. But I'm leaning towards no. Consider:

```<div aria-label="foo">A whole bunch of text goes here.</div>```

I would think and hope a screen reader should present "A whole bunch of text goes here." rather than "foo". I suppose one could make the case that a s

[2018-12-19 14:02] Malvoz opened #163 "Compute iframe title from the embedded document's <title>?"
Hello @w3c/html-aam!

_I usually get it wrong with the a11y-repos, I hope I'm issuing this in the right place:_

Due to the fact that a percentage of web authors tend forget, or may not know that iframes should have an accessible name as specified by the `title` attribute — would it make sense for UAs to populate the `title` attribute (**if absent**) with the text of the nested document's `<title>

[2019-01-18 16:09] #154 closed, assigned to scottaohara

[2019-01-24 04:14] #144 closed, assigned to scottaohara

[2019-01-31 15:25] joanmarie commented on #33
I wish I had seen it.

Yeah, the current mapping for my platform would cause Orca to say "panel" for each address. Along with "leaving panel" upon exit, for those users who have enabled extra context messages. Yuck.

I agree. I'm going to open a new issue fix the mappings at least for my platform.

On a happy note, Gecko already treats address like a div.

[2019-01-31 16:01] joanmarie opened #164 "The address element should map to ATK_ROLE_SECTION; not ATK_ROLE_PANEL"
ATK's panel role should be used for containers of widgets and/or other UI components. The corresponding role for containers of textual content is ATK's section role.

See my comment on https://github.com/w3c/html-aam/issues/33#issuecomment-459384919.

[2019-01-31 16:16] #139 closed, assigned to nobody

[2019-01-31 16:16] #164 closed, assigned to nobody

[2019-01-31 16:25] #157 closed, assigned to scottaohara

[2019-01-31 22:10] joanmarie opened #166 "Verify the IA2 mappings for the address element"
Issue #164 fixed the mapping of `address` for ATK. I _suspect_ that a similar change will be needed for IA2 because I think the SECTION roles are pretty much employed in the same fashion. Perhaps @asurkov could weigh in here?

[2019-02-05 19:24] joanmarie commented on #2
@melanierichards: Could you please respond to the question @jasonkiss asked? Right now there are no mappings shown for your platform. And we want your platform filled out here so we can fill it out in the Core-AAM for our new `meter` role.

[2019-02-05 20:12] melanierichards commented on #2
@joanmarie @jasonkiss

Reporting on the current reality, the mappings in UIA are still:

[code]

I'm not previously tracking open plans to change the mapping or suggest a new Control Pattern so these mappings are stable for now, but I'll consider the original issue here and if there's any changes we can make or suggest on our platform.

[2019-02-07 17:34] joanmarie commented on #2
Thanks @melanierichards. Could you please do a pull request and then get @stevefaulkner or @scottaohara to review it? That will fill in the blank in their spec and then I'll just copy that for the new `meter` role in ARIA.

[2019-02-19 14:21] scottaohara opened #167 "Include placeholder in accName computation for"
Per discussion in [mozilla's "expose placeholder object attribute for HTML placeholder" bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1303429#c12): reintroduce `placeholder` as a final means to determine an `input`'s accessible name, if all other checks return no value.

Update changelog to call out this update.

[2019-02-19 14:23] #167 closed, assigned to scottaohara

[2019-02-21 19:02] joanmarie opened #168 "Should title really be preferred over placeholder for the name?"
I question why the title attribute is being preferred over the placeholder.

The scenario at hand is that we have an input which has no `label` element, and no `aria-label` value, and no `aria-labelledby` attribute and we have a `title` attribute and a `placeholder` attribute.

The placeholder value is likely to be shorter and what sighted user sees and uses to know what belongs in the input. That

[2019-02-21 19:08] jnurthen commented on #168
My opinion is that `title` should win over `placeholder` for backwards compatibility. There are plenty of sites which use both and currently get their accessible name from `title`. Placing `placeholder` above `title` in the algorithm would break all of these sites.

[2019-02-22 14:16] scottaohara commented on #168
Hi @joanmarie.  Here are my thoughts on this:

As there were [previous efforts to remove placeholder](https://github.com/w3c/html-aam/issues/87) in the accessible name computation, which implementors did not fully embrace, it seems counter to reintroduce `placeholder` in a higher placement in the algorithm than as a last resort.

While the input remained empty, a `placeholder` would provide a visi

[2019-02-22 14:30] joanmarie commented on #168
Ok, if everyone else thinks it's a better idea, I suppose I can live with it.

Thanks for the explanation!

[2019-02-25 12:58] joanmarie commented on #2
https://github.com/w3c/html-aam/pull/169 has the mappings for macOS. ([Apple fixed their mappings in WebKit](https://trac.webkit.org/changeset/241989/webkit), so I used their new expectations to populate the HTML-AAM table.)

[2019-02-25 14:13] scottaohara commented on #2
Closing per merge of #169

Thank you again

[2019-02-25 14:15] joanmarie commented on #2
@scottaohara. You don't have the UIA mappings for meter; just a "?"
https://w3c.github.io/html-aam/#el-meter

@melanierichards said she'd do a pull request for her platform, so I didn't do that one; just macOS. Sorry!

[2019-02-25 14:20] scottaohara commented on #2
ah, sorry!  i need more coffee...

[2019-02-26 18:09] scottaohara opened #170 "Update mappings for address element"
This issue is to track the removal of the `address`'s unique properties to expose "address" to the different platform's accessibility APIs. These do not appear to have been presently implemented, nor seem to be necessary.

Instead, while `address` may be used as a semantic HTML element, it should not provide any special roles or announcements beyond that of a `div`, as the content of the element i

[2019-02-26 18:27] joanmarie commented on #170
Related: I fixed this in Chrome/Chromium a couple of weeks ago: https://chromium-review.googlesource.com/c/chromium/src/+/1448739

[2019-02-26 23:19] #166 closed, assigned to nobody

[2019-02-26 23:19] #170 closed, assigned to nobody

[2019-02-27 10:36] stevefaulkner commented on #160
@joanmarie have asked @sideshowbarker if he could gather some data.

[2019-02-27 21:06] #163 closed, assigned to nobody

[2019-02-28 01:42] melanierichards commented on #2
Hi folks, apologies for the delay! Got a bit jammed up with my personal backlog. Just submitted PR #172.

@joanmarie @scottaohara

[2019-03-05 08:34] sideshowbarker commented on #160
Can you be more specific about which other elements fall under that “and that like”?

As far as HTML, does it basically mean any HTML elements that aren’t defined as labelable?

https://html.spec.whatwg.org/multipage/forms.html#category-label

…in other words, any element that’s not one of the following?

`button`, `input`, `meter`,`output`, `progress`, `select`, `textarea`

[2019-03-05 08:45] LJWatson commented on #160
At present aria-label, aria-labelledby, and aria-describedby, only work on a subset of elements/elements with certain explicit roles. There is information in the [Using ARIA Note](https://www.w3.org/TR/using-aria/#practical-support-aria-label-aria-labelledby-and-aria-describedby) and also this [blog post[(https://developer.paciellogroup.com/blog/2017/07/short-note-on-aria-label-aria-labelledby-and

[2019-03-05 09:17] sideshowbarker commented on #160
So I notice that  https://developer.paciellogroup.com/blog/2017/07/short-note-on-aria-label-aria-labelledby-and-aria-describedby/ says:

elements that have a landmark role – either implicit (`header`, `footer`, `main`, `nav`, `aside`, `section`, and `form`) or explicitly set via the `role` attribute

…but https://www.w3.org/TR/using-aria/#practical-support-aria-label-aria-labelledby-and-aria-descr

[2019-03-05 09:36] stevefaulkner commented on #160
No as these are implementation (AT bugs), the info is correctly conveyed in the acc tree and it is desirable to provide accessible names for such elements, to disambiguate multiple instances of the same element.

[2019-03-06 16:43] asurkov commented on #160
From browser implementation perspective having lesser checks is a good thing, thus if @aria-label is exposed as accessible name on any accessible object, then it's nice and simple code. Having said that if <span aria-label="foo"></span> has no use case and thus considered useless, then it makes sense to say this is en author error, but should the browser attempt to fix it, I'm not sure.

[2019-03-12 18:45] lsandler commented on #69
There is this [option](https://developer.paciellogroup.com/blog/2011/02/html5-accessibility-chops-the-placeholder-attribute/) of using regular placeholder but adding styles to improve the text contrast so that it's compliant accessibility wise..  Additionally with this script we are able create title attribute from placeholders globally.. At least when I added the js below my SiteImprove accessibi

[2019-03-19 14:14] RobGallo opened #173 ""e-mail" is incorrect localized control type"
In https://w3c.github.io/html-aam/#el-input-email

This issue refers specifically to the use of "e-mail" as the recommended UIA LocalizedControlType property when the HTML input element with the `type="e-mail"` attribute is used (section 4.4).

Here's why this is a worse choice than the standard and appropriate "edit":

First, "edit" conveys a rich set of information which "e-mail" does not. "edit

[2019-03-19 16:21] joanmarie opened #174 "Update mappings for sub and sup for IA2"
After some discussion in a Mozilla issue, the [conclusion](https://bugzilla.mozilla.org/show_bug.cgi?id=1175640#c8) is that `sub` and `sup` should have accessible objects in addition to exposing the properties via text attribute. The mapping should be to `IA2_ROLE_TEXT_FRAME`.

Will do a pull request shortly.

[2019-03-19 16:45] joanmarie commented on #174
So I have a "draft" pull request (#175). It's a draft because, as I've since [commented on the Mozilla issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1175640#c9), it's not clear to me if "keep(ing) the text attributes as they are" means on the parent container or the text frame which is now being exposed (or both). Once Jamie chimes in, I'll finalize my PR.

[2019-03-19 17:20] scottaohara commented on #174
Thank you

[2019-03-20 02:05] joanmarie commented on #174
My pleasure. Jamie has answered on the bug and I've updated my pull request accordingly. Please review. Thanks!

[2019-03-20 12:51] scottaohara commented on #174
closed by #175

[2019-03-20 12:51] #174 closed, assigned to joanmarie

[2019-03-28 15:03] dd8 commented on #160
There are definitely elements where aria-label makes no sense - `meta` `script` and `style` for example.

But are there any use cases for using it as replacement text (ignoring AT support for now) to improve voicing? For example:

[code]

[code]

[code]

[2019-04-03 12:54] dd8 opened #176 "There's no name computation for the area element"
`area` isn't listed in the Accessible Name and Description Computation
https://www.w3.org/TR/html-aam-1.0/#accessible-name-and-description-computation

although it is listed in HTML Element Role Mappings
https://www.w3.org/TR/html-aam-1.0/#el-area

[code]

There are two different ALT's involved here - one on the IMG referencing the MAP AREAs and the ALT on each AREA -  and there could be null ALTs

[2019-04-03 17:32] asurkov commented on #176
there is mapping for area element, see https://w3c.github.io/html-aam/#el-area

[2019-04-03 19:07] dd8 commented on #176
Yeah - I clarified the text to say there was a mapping, but no accessible name computation for AREA

[2019-04-11 16:28] scottaohara opened #178 "Clarify mapping for hidden attribute"
Per the issue [hidden attribute not mapped to aria-hidden](https://github.com/WhatSock/w3c-alternative-text-computation/issues/16), we should make it clear that `hidden` maps to `aria-hidden=true` but, if the display of the hidden element is modified (e.g. display block, inline-block, etc) then `hidden` should no longer be considered mapped to `aria-hidden=true`.

Per the HTML spec:

[2019-04-12 08:32] xi commented on #178
I would frame it differently: `hidden` does in fact not map to anything regarding `aria-hidden`. But it does imply `display: none` which in turn maps to `aria-hidden="true"`. So the mapping is only indirect (if this interpretation is correct).

[2019-04-14 14:44] matt-curtis opened #179 "Is the documentation regarding the computation of name and description of tabular elements correct?"
According to the [documentation](https://www.w3.org/TR/html-aam-1.0/#other-tabular-data-elements) for the `tr`, `td`, and `th` elements, the current computation rules only consider the `aria-label`, `aria-labelledby`, or `title` attributes, otherwise these elements have no name or description.

Should not the subtree of these elements be considered, at least as far as the accessible name goes?

[2019-04-15 12:46] stevefaulkner commented on #178
so mapping is
`hidden=display:none` = `aria-hidden=true`
`hidden=display:anything else` = not mapped

[2019-04-15 18:39] #168 closed, assigned to nobody

[2019-04-15 19:01] scottaohara opened #181 "input type="image" notes to use value in Accessible Name Computation"
While the `value` attribute does inconsistently contribute to the accessible name for `input type=image`, it is not meant to be a valid attribute on this input type.

Since it's not meant to be there, we should remove it from the algorithm.

[2019-04-15 22:27] #181 closed, assigned to scottaohara

[2019-04-17 13:48] #178 closed, assigned to scottaohara

[2019-04-17 13:55] xi commented on #178
I honestly feel like the fix adds more to the confusion that it helps. Why not simply remove the mapping for `hidden`? `display: none` is already mapped, so this is not necessary.

[2019-04-17 18:13] scottaohara commented on #178
But it doesn't not map, so saying it doesn't map wouldn't be correct.

Per your comment in the original thread:

The native `hidden` implementation does visually hide the element, but the element not being revealed to the accessibility tree is what shares the mapping with `aria-hidden=true`.  It just so happens it's natively done via `display: none`.

Additionally your comment:

Is exactly why thi

[2019-04-17 18:19] xi commented on #178
But `display: none` also hides the element from the accessibility, doesn't it?

https://www.w3.org/TR/wai-aria-1.2/#aria-hidden

[2019-04-17 18:29] scottaohara commented on #178
Yes.

[2019-04-17 20:35] xi commented on #178
My point is: This whole "it does map to `aria-hidden`, but only if `display` is not set" is kinda complicated and potentially confusing. Just *not mentioning* `hidden` is IMHO much easier to understand.

The [HTML spec](https://www.w3.org/TR/html51/editing.html#the-hidden-attribute) clealy describes the effect of `hidden` on `display`. The [ARIA spec](https://www.w3.org/TR/wai-aria-1.2/#aria-hidde

[2019-04-18 14:04] scottaohara commented on #178
The default behavior of the `hidden` attribute matches the affect that `aria-hidden="true"` has on the accessibility API. This is why they map.

If the `hidden` attribute is modified by CSS to undo its default behavior, then it no longer matches how elements marked as `aria-hidden="true"` are communicated to the accessibility API. Thus in these situations it no longer maps to `aria-hidden="true"`.

[2019-04-25 16:45] joanmarie commented on #141
@melanierichards: This IA2 now exposes these via IA2_ROLE_CONTENT_INSERTION and IA2_ROLE_CONTENT_DELETION. And we'll be exposing them for ATK as well. What about for UIA?

[2019-04-26 16:58] scottaohara commented on #141
@melanierichards @stevefaulkner I've started [a branch for updating `del` and `ins`](https://github.com/w3c/html-aam/tree/141_ins_del), please feel free to update if you have time.

Thoughts I was having: do we want to add a comment to each referencing that [`role=insertion`](https://w3c.github.io/aria/#insertion) and [`role=deletion`](https://w3c.github.io/aria/#deletion) are in draft?

[2019-05-01 22:41] joanmarie commented on #151
ping?

[2019-05-01 23:56] joanmarie opened #183 "Do we want to map inline divs as spans and block spans as divs?"
If an author takes a `div` and CSSes it into being inline and looking like a `span`, should it still be mapped as if it were a `div`? Similarly, if an author turns a `span` into a block element via CSS so that it functions like it were a `div`, should it still be mapped as a `span`?

In other words, do we want to (continue to) base our mapping on the official element, or on how it is functioning?

[2019-05-02 06:57] stevefaulkner commented on #183
@joanmarie if as I suspect `display:block` vs `display:inline` is a deciding factor on how they are represented in the accessibility tree, then it makes sense to map them based on these values.

[2019-05-02 09:31] stevefaulkner commented on #151
@joanmarie bit aggressive, only been 6 months ;-)

I think that yes an indication that an element is focusable but not actionable needs some role/state description that can be provided to the user, so they know what the hell the thing is. I am unsure what the appropriate description for it would be though.

[2019-05-02 13:48] scottaohara commented on #151
Would this then also necessitate a check for an event tied to the element?

e.g.
`<b tabindex="0">foo</b>` exposed as... whatever it gets exposed as.

but
`<b tabindex="0">foo</b>` where there's a JavaScript event associated with the element, thus making it actionable, would necessitate an alternate role/state?

[2019-05-02 16:31] joanmarie commented on #151
I was thinking of something simpler than what is being described here.

If you look at https://w3c.github.io/html-aam/#el-span, for ATK it says:

That is incorrect. If (for whatever reason) it needs to be mapped, the correct mapping would be `ATK_ROLE_STATIC`.

So why not replace "Not mapped" with  something like:

or:

Personally, I think that would be enough. And this would need to be done for a

[2019-05-02 22:11] scottaohara commented on #151
Thanks for clarifying @joanmarie

Spoke with @stevefaulkner and I'll start working on a PR for this asap.

[2019-05-10 15:12] Dan503 commented on #160
I was directed here from this comment.

https://github.com/validator/validator/issues/776#issuecomment-491294884

`<article>` is one of the four "sectioning content" elements: `<article>`, `<aside>`, `<nav>`, `<section>`
https://www.w3.org/TR/html5/dom.html#sectioning-content

These elements are all very similar to one another.

- They are all aria land marks that people should be able to navigate

[2019-05-10 15:23] scottaohara commented on #160
@Dan503 please see: [section and grouping element accessible name computation](https://w3c.github.io/html-aam/#section-and-grouping-element-accessible-name-computation) as this covers what you're asking about.

@stevefaulkner [already noted in this thread](https://github.com/w3c/html-aam/issues/160#issuecomment-469609185) to @sideshowbarker that `article`, among other elements should be allowed to

[2019-05-17 01:56] scottaohara opened #185 "Instances of Web Platform WG text"
There are instances in the spec where we mention "Web Platform Working Group" and "Web Platform WG".

@marcoscaceres should I update these to Web Applications Working Group?  Or keep a reference to the change in some places while updating in others?

Thanks

[2019-05-17 03:00] marcoscaceres commented on #185
That would be great, thanks!

[2019-05-17 03:06] scottaohara commented on #176
Sorry for the delay @dd8.

Picking this up and will clarify.  But in the meantime I can tell you that what some screen readers are announcing is not necessarily just the accessible name, but rather a mish mashing of different data.

For instance, with Firefox MSAA and IA2 are exposing the `area`'s `alt` as the accessible name, the URL as the accValue/Value, and MSAA exposes the image's alt as the

[2019-05-17 03:11] scottaohara commented on #185
But which of the two options, @marcoscaceres ?  ;)

[2019-05-17 03:28] marcoscaceres commented on #185
Heh, sorry! Just update the references as they make sense.

[2019-05-17 03:31] scottaohara commented on #185
sounds good.  thanks :)

[2019-05-21 11:12] #185 closed, assigned to scottaohara

[2019-05-21 11:21] scottaohara opened #188 "Remove/update menuitems and menu"
remove `menuitem`s as they are not part of the HTML living standard:
- [x] menuitem type=command
- [x] menuitem type=checkbox
- [x] menuitem type=radio

`menu` *is* part of the HTML living standard, so this should stay in AAM, but it does not accept a `type` attribute.
- [x] revise menu to remove reference to type

[2019-05-21 11:28] scottaohara opened #189 "Add HTML elements"
The following elements are in the HTML Living Standard but are not represented here.

- [ ] [hgroup](https://html.spec.whatwg.org/multipage/sections.html#the-hgroup-element)
- [ ] [slot](https://html.spec.whatwg.org/multipage/sections.html#the-slot-element)
- [ ] [autonomous custom element](https://html.spec.whatwg.org/multipage/custom-elements.html#autonomous-custom-element)

[2019-05-21 15:45] #176 closed, assigned to scottaohara

[2019-05-21 15:48] scottaohara opened #190 "Cleanup head / linking resources"
re: comment from #187, we need to clean up the meta data and links in the `head` of the document, and make sure we're referencing the correct sources.

[2019-05-21 16:35] dd8 commented on #160
What should happen for elements with the `contenteditable` attribute? Seems that AT has supported `aria-label` on these for a long time:
https://www.w3.org/WAI/GL/wiki/Using_aria-label_to_provide_an_invisible_label#Example_1:_A_quiz_using_divs_set_to_contentEditable

Also looks like you need to allow aria-label on unexpected places like `style` elements when `contenteditable=true`. See the second

[2019-05-23 01:37] carmacleod opened #191 "Add "May not have accessible object" preamble for UIA div and span"
Add preamble mentioned in https://github.com/w3c/aria/issues/699#issuecomment-429053889 by @melanierichards:

[2019-05-23 01:38] carmacleod commented on #191
(assigning to me)